#search {
    border: 1px solid #eee;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

#search img {
    display: inline;
    vertical-align: middle;
}

#search h2 {
    display: inline-block;
    clear: right;
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 8px;
}

#search #submit {
    margin-top: 15px;
}

#search-results ul {
    list-style: none;
}

#search-results ul li {
    margin-left: 0px;
    clear: both;
}

#search-results .band div {
    float: left;
}

#search-results .even {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#search-results .odd {
    background-color: #f7f7f7;
    width: 100%;
}

#search-results .band .info {
    margin-left: 10px;
    width: 300px;
}


#search-results .band .name {
    font-size: 1.4em;
    font-weight: bold;
}

#search-results .band .adr .country-name {
    visibility: hidden;
    position: absolute;
    left: -10000px;
}

#search-results .band .tags {
    display: block;
    color: #666;
}

#addmember {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

#band-management {
    margin-top: 30px;
}

/*-- search --*/
#div_id_genres {
    margin-bottom: 20px;
}

#search form button {
    float: right;
}

#search form div label {
    float: left;
    width: 80px;
}

#search form div select, #id_city {
    width: 150px;
    margin-bottom: 10px;
}

#search form input[type='text'] {
    border: 1px solid black;
    padding: 3px;
}

#search form input.tagit-input {
    border: none;
}

#search ul {
    background-color: white;
    padding 5px;
    width: 100%;
}

#search ul.tagit {
    border: 1px solid black;
}

#search ul li {
    list-style-type: none;
    margin-left: 0px;
}

#search p.help {
    font-size: 0.9em;
    color: #444;
}

#search #side-options {
    border-left: 1px solid #eee;
    padding-left: 18px;
}

