#text ul li {
    margin: 0px;
}


#band_avatar {
    background-color: black;
    height: 80px;
    width: 80px;
    vertical-align: middle;
}

#band_avatar img {
    border: 1px solid black;
    height: 80px;
    width: 80px;
}


/*-- navigation tabs --*/
ul#band_tabs {
    list-style: none;
    border-bottom: 1px #999999 solid;
    padding-bottom: 9px;
    padding-left: 15px;
}

ul#band_tabs li {
    display: inline;
    margin-right: 5px;
}

ul#band_tabs li a {
    color:#999999;
    text-decoration: none;
    background: #f7f7f7;
    border: 1px #CCCCCC solid;
    padding: 10px 14px;
}

ul#band_tabs li a.selected {
    color:#666666;
    background:#FFFFFF;
    border-left: 1px #999999 solid;
    padding: 14px 14px 10px 14px;
    border-bottom: 1px white solid;
}

ul#band_tabs li a:hover {
    padding: 14px 14px 10px 14px;
}

/*-- band text --*/
div#band_text {
    margin-top: 10px;
}

/*-- today events --*/
#today {
    padding: 10px;
}

#today ul {
    list-style: none;
}

/*-- gig bargains --*/
#gigbargains ul {
    list-style: none;
}

/*-- upcoming events --*/
#upcoming_events {
    margin-bottom: 20px;
}

#upcoming_events ul {
    list-style: none;
}

/*-- suggestions --*/
#suggestions {
    margin-bottom: 20px;
}

#suggestions ul {
    margin-top: 5px;
}

#suggestions ul li {
    margin-left: 18px;
}

/*-- band members --*/
#bandmembers {
    clear: both;
    margin-bottom: 20px;
}

#bandmembers h3 {
    display: inline;
}

#bandmembers > a {
    position: absolute;
    right: 0px;
    top: 0px;
}

#bandmembers ul {
    margin-top: 15px;
    border-top: 1px #ddd solid;    
}

#bandmembers ul li {
    list-style: none;
    height: 50px;
    padding-right: 3px;

    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd solid;
}

#bandmembers ul li .minibutton {
    position: absolute;
    margin-top: 10px;
    right: 0px;
}

#bandmembers ul li img {
    float: left;
    margin-right: 5px;
}

#bandmembers ul li .bandmember_role {
    font-size: 0.9em;
    text-align: right;
    display: block;
    color: #999;
    margin-top: 5px;


}