#ads a {
    color: #3B5998;
}

#ads ul {
    list-style-type: none
}

#ads ul li {
    border-bottom: 1px dashed #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}

#ads h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
}

#ads h4 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: left;
}

#ads .url {
    color: #aaa;
    display: block;
}


#ads .ads-content {
    border-left: 5px solid #eee;
    padding-left: 3px;
    margin-left: 1px;
}

#ads {
    text-align: left;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica;
}

#text ul li {
    margin: 0px;
}


#band_avatar {
    background-color: black;
    height: 80px;
    width: 80px;
    vertical-align: middle;
}

#band_avatar img {
    border: 1px solid black;
    height: 80px;
    width: 80px;
}


/*-- navigation tabs --*/
ul#band_tabs {
    list-style: none;
    border-bottom: 1px #999999 solid;
    padding-bottom: 9px;
    padding-left: 15px;
}

ul#band_tabs li {
    display: inline;
    margin-right: 5px;
}

ul#band_tabs li a {
    color:#999999;
    text-decoration: none;
    background: #f7f7f7;
    border: 1px #CCCCCC solid;
    padding: 10px 14px;
}

ul#band_tabs li a.selected {
    color:#666666;
    background:#FFFFFF;
    border-left: 1px #999999 solid;
    padding: 14px 14px 10px 14px;
    border-bottom: 1px white solid;
}

ul#band_tabs li a:hover {
    padding: 14px 14px 10px 14px;
}

/*-- band text --*/
div#band_text {
    margin-top: 10px;
}

/*-- today events --*/
#today {
    padding: 10px;
}

#today ul {
    list-style: none;
}

/*-- gig bargains --*/

#gigbargains #latest-activity .date {
    color: #666;
}

#gigbargains .more {
    text-align: right;
}

#gigbargains ul {
    list-style: none;
}

/*-- upcoming events --*/
#upcoming_events {
    margin-bottom: 20px;
}

#upcoming_events ul {
    list-style: none;
}

/*-- suggestions --*/
#suggestions {
    margin-bottom: 20px;
}

#suggestions ul li {
    margin-left: 20px;
}

/*-- recent visitors --*/
#recent-visitors {
    margin-bottom: 20px;
}

#recent-visitors li {
    color: #666;
}

#recent-visitors ul li {
    list-style: none;
    margin-left: 0px;
}

/*-- my band --*/
#my-band {
    margin-top: 5px;
    margin-bottom: 10px;
}

/*-- band members --*/
#bandmembers {
    clear: both;
    margin-bottom: 20px;
}

#bandmembers h3 {
    display: inline;
}

#bandmembers > a {
    position: absolute;
    right: 0px;
    top: 0px;
}

#bandmembers ul {
    margin-top: 15px;
    border-top: 1px #ddd solid;    
}

#bandmembers ul li {
    list-style: none;
    height: 50px;
    padding-right: 3px;

    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd solid;
}

#bandmembers ul li .minibutton {
    position: absolute;
    margin-top: 10px;
    right: 0px;
}

#bandmembers ul li img {
    float: left;
    margin-right: 5px;
}

#bandmembers ul li .bandmember_role {
    font-size: 0.9em;
    text-align: right;
    display: block;
    color: #999;
    margin-top: 5px;


}

/*-- agenda --*/
#agenda .more {
    text-align: right;
}

/*-- latest visitors --*/
#recent-visitors ul {
    list-style: none;
}

#recent-visitors ul li {
    padding: 1px;
    margin-left: 0px;
    display: inline-block;
}

#recent-visitors img {
    border: 1px solid black;
}

/*-- presskit tracker --*/
#presskit-tracker .fullcontent {
    padding-top: 5px;
}

#tracker_filter {
    padding-right: 5px;
}

#presskit-tracker table tr img {
    border: 1px solid #666;
    margin: 5px;
    vertical-align: middle;
}

#presskit-tracker table tr td.venue div {
    font-weight: 600;
    vertical-align: middle;
}


#presskit-tracker table.display tr.odd.accepted {
    background-color: #ddffdd;
}

#presskit-tracker table.display tr.even.accepted {
	background-color: #eeffee;
}

#presskit-tracker tr.odd.accepted td.sorting_1 {
	background-color: #c4ffc4;
}

#presskit-tracker tr.odd.accepted td.sorting_2 {
	background-color: #d1ffd1;
}

#presskit-tracker tr.odd.accepted td.sorting_3 {
	background-color: #d1ffd1;
}

#presskit-tracker tr.even.accepted td.sorting_1 {
	background-color: #d5ffd5;
}

#presskit-tracker tr.even.accepted td.sorting_2 {
	background-color: #e2ffe2;
}

#presskit-tracker tr.even.accepted td.sorting_3 {
	background-color: #e2ffe2;
}

/*-- pending --*/
#presskit-tracker table.display tr.odd.pending {
	background-color: #fafafa;
}

#presskit-tracker table.display tr.even.pending {
	background-color: #eee;
}

#presskit-tracker tr.odd.pending td.sorting_1 {
	background-color: #eee;
}

#presskit-tracker tr.odd.pending td.sorting_2 {
	background-color: #eee;
}

#presskit-tracker tr.odd.pending td.sorting_3 {
	background-color: #eee;
}

#presskit-tracker tr.even.pending td.sorting_1 {
	background-color: #eee;
}

#presskit-tracker tr.even.pending td.sorting_2 {
	background-color: #eee;
}

#presskit-tracker tr.even.pending td.sorting_3 {
	background-color: #eee;
}

/*-- search --*/
#search {
    float: left;
    margin-bottom: 10px;
    position: relative;
}

#search .go {
    margin-top: 10px;
    float: right;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 5px;
}

#search .search-content {
    float: left;
    clear: both;

    padding-left: 3px;

    font-size: 0.9em;
    font-weight: 400;
    color: #3333;
    text-align: left;
    font-famiy: "lucida grande", tahoma, verdana;
    line-height: 15px;
}

#search .search-content img {
    float: left;
    padding-right: 5px;
}

#search .search-content {
}

#band-tip {
    float: left;
    border: 1px solid #b6becc;
    background-color: #fcfeff;

    padding: 10px;
    padding-bottom: 20px;
    width: 598px;

    margin-bottom: 5px;

    overflow: hidden;

}

#band-tip h3 {
    margin-bottom: 15px;
    display: inline;
    float: left;
}

#band-tip .tip-header span.close a {
    float: right;
    font-weight: 600;
    color: #aaa;
    padding-right: 5px;
    text-decoration: none;
}

#band-tip .tip-header span.close a:hover {
    text-decoration: none;
    color: black;
}

#band-tip img {
    float: left;
    clear: left;
    margin-left: 5px;
}

#band-tip .info {
    float: left;
    margin-left: 10px;
}

#band-tip .progress {
    float: left;
    width: 300px;
}

#band-tip .progress .bar {
    height: 18px;
    width: 100%;
    background-color: white;
    border: 1px solid #b6becc;
}

div.accomplished {
    background-color: #849abf;
    height: 100%;
    vertical-align: middle;
    font-weight: 600;
    text-align: right;
}

div.accomplished span {
    padding-right: 10px;
    vertical-align: middle;
    color: white;
}

#band-tip .text {
    margin-top: 5px;
    line-height: 15px;
    font-size: 0.9em;
}

#band-tip ul {
    padding-left: 30px;
}

#band-tip ul li {
    margin-left: 0px;
    padding-left: 18px;
    list-style-type: none;
    font-variant: small-caps;
    vertical-align: middle;
}

#band-tip ul .done {
    text-decoration: line-through;
    background-image: url('../images/band/check.png');
    background-repeat: no-repeat;
}

#band-tip ul .notdone {
    background-image: url('../images/band/uncheck.png');
    background-repeat: no-repeat;
}

#band-tip .steps {
    float: left;
}