body {
    background-color: #f2f2f2;
    color: #2a2a2a;
    font: normal .80em/1.5em Helvetica, Arial, FreeSans, 'Trebuchet MS', Tahoma, verdana, sans-serif;
}

/* ----------------------------------- Links */
a {
    color:#f9a02e;
}


/* ----------------------------------- Header */

#header {
	height:116px;
	background:#2f2f2f url('/images/structure/background/header_bg.jpg') repeat-x top left;
	width:100%;
}

#header h1{
	position:relative;
	left:18px;
	top:18px;
}

#header ul {
	position:absolute;
	top:24px;
	right:50px;
}

#header ul li{
	display:block;
	float:left;
	padding:0 0 0 24px;
}

#header ul li a{
	color:#f9a02e;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.1em;
	display:block;
	float:left;
	height:15px;
	line-height:13px;
}

#header ul li  span{
	border-left:1px solid white;
	color:white;
	display:block;
	float:left;
	font-size:1.1em;
	height:15px;
	line-height:13px;
	margin:0 0 0 6px;
	padding:0 0 0 7px;
}

#header #player {
	position:absolute;
	right:60px;
	top:52px;
}

/* ----------------------------------- Content */

#content {
	width:100%;
	background:#f2f2f2 url('/images/structure/background/page_bg.jpg') no-repeat top center;
}

#content #text-wrapper {
    float: left;
    margin-bottom: 30px;


    padding-top: 30px;
    padding-bottom: 30px;

    margin-left: 22px;
    margin-right: 22px;


    text-align: justify;

    background-color: white;
   
    border: 2px solid #555;
    border-top: 0px;
    
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -o-border-radius:5px;

    -moz-box-shadow: 1px 1px 7px #555;
}

/* ----------------------------------- Footer */

#footer {
    background-color: #333333;
    padding-top: 15px;
    border-top: 1px solid #eee;
    color: white;
}

#footer h5 {
    font-size: 1em;
    margin-bottom: 5px;
    text-shadow:1px 1px 0 #666;
}

#footer p {
    font-size: 0.8em;
    text-align: center;
}

#footer .legals {
    padding-top: 10px;
    font-size: 0.8em;
    text-align: right;
}



.dark {
    background-color: #1b1b1b;
    color: white;
}

.bright {
    background-color: white;
    color: black;
}

/* Section boxes */
.sectionbox  {
    -moz-box-shadow: 1px 1px 7px #555;
    -moz-border-radius: 5px;

    margin-top: 7px;
    margin-bottom: 7px;

    background-color: #f9f9f9;
}

.sectionbox .header {
    text-align: left;
    padding: 12px;
}

.sectionbox .header img {
    vertical-align: middle;
}

.sectionbox .header h2 {
    margin-left: 5px;
    vertical-align: middle;
    display: inline;
}


.sectionbox .separator {
    padding: 0px;
    background-color: #c7c7c7;
    height: 1px;
}

.sectionbox .content {
    padding: 12px;
}

.sectionbox .fullcontent {
    padding: 0px;
}

.sectionbox .more {
    text-align: right;
    margin-right: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}