h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

/* Section boxes */
.sectionbox  {
    -moz-box-shadow: 1px 1px 7px #555; 
    -moz-border-radius: 5px;

    margin-top: 7px;
    margin-bottom: 7px;
}

.sectionbox .header {
    padding: 12px;
}

.sectionbox .header h2 {
    display: inline;
}


.sectionbox .separator {
    padding: 0px;
    background-color: #e0e0e0;
    height: 1px;
}

.sectionbox .content {
    padding: 12px;
}