/*-- Timeline --*/

ul.timeline_list li {
    list-style-type: none;
}

.timeline_top{

	width:100%;
	background: url('../images/timeline/timeline-bg.png') repeat-y; 
	background-position: 120px center;
	background-color:#e4e5e5;
	padding-bottom:30px;


}

.timeline_past{

	width:100%;
	background: url('../images/timeline/timeline-event-past.jpg') no-repeat; 
	background-position: 106px -8px;


}

.timeline_no_entry {
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    left: 145px;

    font-style: italic;
    color: #888;
}


.timeline_time_past{

	font-weight:bold;
	color:#8f8f8f;
	text-align:right;
	width:105px;
	position:relative;
	float:left;
	font-size:11px;
	height:90px;

}

.timeline_infos{

	color:#8f8f8f;
	width:72%;
	position:relative;
	left:40px;

	padding-bottom:20px;

}


.timeline_date_past{
    padding-top: 1px;
    font-size:15px;
    font-weight:bold;

}


.timeline_localisation{

}


.timeline_bands ul{

list-style-type:none;
margin:0px;
padding:0px;


}


.timeline_bands li{

list-style-type:none;
display:inline;

}

.timeline_bands ul li img{

height:32px;
width:32px;
border:1px solid grey;

}


.timeline{

width:100%;
background: url('../images/timeline/timeline-bg.png') repeat-y; 
background-position: 120px center;

}


.timeline_present{

	width:100%;
	background: url('../images/timeline/timeline-event-present.jpg') no-repeat; 
	background-position: 106px top;
	position:relative;
	top:-9px;

}


.timeline_present_block{

	background-color:#2e3336;
	width:140px;
	top:-10px;
	position:relative;
	left:145px;
	text-align:center;

	color:white;

}


.timeline_present_today{

	font-size:19px;
	top:3px;
	position:relative;
	font-weight:bold;

}

.timeline_present_date{

	font-size:11px;

}


.timeline_future{

	width:100%;
	background: url('../images/timeline/timeline-event-future.jpg') no-repeat; 
	background-position: 106px 1px;
}


.timeline_time{

	font-weight:bold;
	color:#8f8f8f;
	text-align:right;
	width:105px;
	position:relative;
	float:left;
	font-size:11px;
	height:90px;

}


.timeline_date{

	font-size:15px;
	font-weight:bold;
	color:#2e3336;

}



.timeline_end{

	width:100%;
	height:35px;
	background: url('../images/timeline/timeline-end.jpg') no-repeat; 
	background-position: 111px top;

}





/*-- calendar --*/
#calendar table {
    margin-bottom: 10px;
    height: 250px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;

}

#calendar table tr {
    text-align: center;
}

#calendar table th {
    width: 25px;
}


#calendar table td {
    vertical-align: middle;
    background-color: #e2e2e2;
    border: 4px solid #f9f9f9;
    -moz-border-radius: 10px;
}

#calendar td div.info {
    visibility: hidden;
    position: absolute;
    left: -10000px;
}

#calendar .noday {
    background-color: transparent;
}

#calendar tbody th.month {
    background-color: #e2e2e2;
    color: #666;
    text-align: center;
    vertical-align: middle;
}

#calendar td.cal-bargain-day {
    background-color: #f2c876;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#calendar td.past {
    color: #555;
}

#calendar td.today {
    background-color: black;
    color: white;
}

#calendar .fullcontent {
    height: 255px;
}

#calendar ul li {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}