/* button basics */
a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    font-weight:bold;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(../images/buttons/minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
    font-style: normal;
    font-family: Helvetica, Arial;
}

a.disabled {
    opacity: 0.5;
}

a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(../images/buttons/minibutton_matrix.png) 100% 0 no-repeat;
}

a.minibutton:hover, a.minibutton:focus {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
}

a.minibutton:hover>span, a.minibutton:focus>span {
    background-position:100% -30px;
}

a.minibutton.mousedown {
    background-position:0 -60px; 
}

a.minibutton.mousedown > span {
    background-position:100% -60px; 
}

/* with icon */
a.btn-download .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(/images/buttons/minibutton_icons.png) 0 0 no-repeat;
}

a.btn-download .icon {
    background-position:-40px 0;
}

a.btn-download:hover .icon, a.btn-download:focus .icon {
    background-position:-40px -25px;
}


/* with icon */
a.btn-fork .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(/images/buttons/minibutton_icons.png) 0 0 no-repeat;
}

a.btn-fork .icon {
    background-position:-80px 0;
}

a.btn-fork:hover .icon, a.btn-fork:focus .icon {
    background-position:-80px -25px;
}

/* edit */
a.btn-edit .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(/images/buttons/minibutton_icons.png) 0 0 no-repeat;
}

a.btn-edit .icon {
    background-position:-181px 0;
}

a.btn-edit:hover .icon, a.btn-edit:focus .icon {
    background-position:-181px -25px;
}


/* with icon */
a.btn-kick .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(/images/buttons/minibutton_icons.png) 0 0 no-repeat;
}

a.btn-kick .icon {
    background-position: -120px 0;
}

a.btn-kick:hover .icon, a.btn-download:focus .icon {
    background-position: -120px -25px;
}

