#text ul li {
    list-style-type: none;
    margin-left: 0px;
}

#gigbargain-header {
    margin-bottom: 20px;
}

/*-- general boxes --*/
img.comments {
    position: absolute;
    right: 20px;
    top: 23px;
}

/*-- title --*/
#gigbargain-title {
    margin-bottom: 10px;
}

#gigbargain-title h1 {
    margin-bottom: 8px;
}

/*-- Status -- */
#statusbox {
    background-color: #1b1b1b;
    width: 100%;
    min-height: 100px;

    -moz-box-shadow: 1px 1px 7px #555;
    -moz-border-radius: 5px;

    color: white;
}

#statusbox > div {
    padding: 10px;
}

#statusbox .head {
    vertical-align: top;
    clear: both;
}

#statusbox .head img {
    float: left;
    margin-right: 7px;
}

#statusbox .title {
    padding-top: 3px;
    font-size: 1.2em;
    font-weight: bold;
}

#statusbox .text {

}

#statusbox .buttons {
    text-align: right;
}


/*-- bands --*/
.band {
    height: 120px;
}

.band .vcard {
    height: 108px;
    width: 296px;
    padding-left: 105px;
    background-repeat: no-repeat;
}

.band .ready {
    background-image:url("../../images/bargain/greenbox.png");
}

.band .notready {
    background-image:url("../../images/bargain/orangebox.png");
}


.band .photo {
    position: absolute;
    left: 10px;
    top: 13px;
    border: 1px white solid;
    width: 80px;
    height: 80px;
}

.band .country-name {
    visibility: hidden;
    position: absolute;
    left: -100000px;
}

.band .organization-name {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

.band .tags {
    position: absolute;
    font-style: italic;
    top: 70px;
}

.band .adr {
    font-size: 1.1em;
    position: absolute;
    top: 45px;
}

/*-- remuneration --*/
#remuneration-graph {
    width: 100%;
    height: 200px;
}

/*-- defrayments --*/
#defrayments h2 {
    cursor: help;
}

#defrayments-graph {
    width: 100%;
    height: 200px;
}


/*-- latest activity --*/

#latest-activity {
    margin-top: 5px;
}

#latest-activity h3 {
    font-variant: small-caps;
}

#latest-activity li {
    border-bottom: 1px solid #eee;
    padding-top: 2px;
    padding-bottom: 2px;
}

#latest-activity li img {
    vertical-align: middle;
    margin-right: 3px;
}


#latest-activity li .date {
    font-size: 0.9em;
    text-align: right;
    display: block;
    color: #ccc;
}

#latest-activity li .title {
    display: block;
    font-style: italic;
    text-align: left;
}


/*-- DASHBOARD --*/

/*-- actions --*/
#dash-actions {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*-- gigbargains --*/
#dash-gigbargains .header h2 {
    margin-right: 10px;
}

#dash-gigbargains .header span {
    margin-right: 5px;
    vertical-align: middle;
}
#dash-gigbargains .fullcontent h3 {
    display: block;
    background-color: #d9d9d9;
    text-align: center;
}


ul.gigbargain_list {
    position: absolute;
    margin-left: 9px;
    margin-right: 9ppx;
}

ul.gigbargain_list li {
    width: 230px;
    height: 84px;
}

ul.gigbargain_list li div {
    position: absolute;
}

ul.gigbargain_list li img {
    margin-left: 5px;
    margin-top: 7px;
    border: 1px solid white;
}

ul.gigbargain_list li div.gigbargain_info {
    position: absolute;
    top: 2px;
    left: 83px;
    width: 133px;
    text-align: left;
}

ul.gigbargain_list li div.gigbargain_info span.venue-name {
    display: block;
    margin-top: 12px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

ul.gigbargain_list li div.gigbargain_info span.date {
    display: block;
    font-size: 0.8em;
    color: black;
}

ul.gigbargain_list li div.gigbargain_info span.bands {
    display: block;
    font-size: 0.8em;
    color: white;
    font-style: italic;
}


#dash-gb-new {
    background-color: #ededed;
    width: 249px;
    float: left;
    padding-bottom: 8px;
    min-height: 200px;

    -moz-border-radius-bottomleft: 5px;
}

#dash-gb-new li {
    background-image:url("../../images/gigbargain/gb_bg_new.png");
}

#dash-gb-progress {
    background-color: #fbdfbf;
    border-right: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    
    padding-bottom: 8px;
    width: 248px;
    float: left;

    min-height: 200px;
}

#dash-gb-progress li {
    background-image:url("../../images/gigbargain/gb_bg_progress.png");
    background-repeat: no-repeat;
}


#dash-gb-concluded {
    background-color: #e5f2d0;
    width: 249px;
    float: left;

    padding-bottom: 8px;
    min-height: 200px;

    -moz-border-radius-bottomright: 5px;
}

#dash-gb-concluded li {
    background-image:url("../../images/gigbargain/gb_bg_concluded.png");
}


/*-- calendar --*/
#dash-calendar table {
    margin-bottom: 10px;
    height: 250px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;

}

#dash-calendar table tr {
    text-align: center;
}

#dash-calendar table th {
    width: 25px;
}


#dash-calendar table td {
    vertical-align: middle;
    background-color: #e2e2e2;
    border: 4px solid #f9f9f9;
    -moz-border-radius: 10px;
}

#dash-calendar td div.info {
    visibility: hidden;
    position: absolute;
    left: -10000px;
}

#dash-calendar .noday {
    background-color: transparent;
}

#dash-calendar tbody th.month {
    background-color: #e2e2e2;
    color: #666;
    text-align: center;
    vertical-align: middle;
}

#dash-calendar td.cal-bargain-day {
    background-color: #f2c876;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#dash-calendar td.past {
    color: #555;
}

#dash-calendar td.today {
    background-color: black;
    color: white;
}

#dash-calendar .fullcontent {
    height: 255px;
}

/*-- repartition --*/
#dash-repartition #monthly-repartition {
    width: 100%; 
    height: 150px;
}

#dash-repartition .legend {
    background-color: #e9e9e9;
    margin-top: 10px;
}

#dash-repartition .legend {
    padding: 5px;
}

#dash-repartition .content {
   min-height: 230px;
}

/*-- connections --*/
#dash-connections .content {
   min-height: 230px;
}

/*-- global stats --*/
#yearly-stats {
    width: 100%;
    height: 250px;
}

/*-- flot graph style --*/
.legendColorBox {
    vertical-align: middle;
}
.legendLabel {
    padding-left: 5px;
    vertical-align: middle;
}

/*== NEW GIGBARGAIN ==*/

/*-- top notice --*/
#top-notice {
    border: 1px solid #eee;
    background-color: #f7f7f7;
    color: #666;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*-- when --*/
#new-when img, h2 {
    display: inline;
    vertical-align: middle;
    margin-right: 3px;
}

#new-when > div {
    margin-top: 10px;
}

/*-- where --*/
#new-where img, h2 {
    display: inline;
    vertical-align: middle;
    margin-right: 3px;
}

#new-where > div {
    margin-top: 10px;
}

#new-where label {
    font-weight: bold;
    font-size: 1.1em;
}

/*-- band --*/
#new-band {
    margin-top: 15px;
    padding-top: 10px;
}

#new-band img, h2 {
    display: inline;
    vertical-align: middle;
    margin-right: 3px;
}

#new-band > div {
    margin-top: 5px;
}

#new-band input {
    margin-bottom: 10px;
}

#new-band label {
    font-weight: bold;
}