#text ul {
    list-style: none;
}

#text ul li {
    padding-left: 0px;
    margin-left: 0px;
}

/*-- header --*/
#home-header {
    text-align: center;
}

#home-header h1 {
    font-size: 2.4em;
    text-shadow: 1px 1px 1px #999999;
    font-variant: small-caps;

    margin-bottom: 30px;
}

/*-- Authentication --*/
#home-auth > img {
    float: left;
    padding-left: 65px;
    margin-bottom: 4px;
}


#home-auth form#authentication {
    float:right;
    padding-top: 6px;
    margin-right: 70px;
}


#home-auth form#authentication a#lost-password {
	background:url("../../images/elements/ico_login.png") no-repeat scroll right center transparent;
	color:#63605C;
	font-size:0.85em;
	line-height:15px;
	padding:0 20px 0 0;
	margin:0 10px 0 0;
}


#home-auth form#authentication p {
    display:inline;
}

#home-auth form#authentication p label {
	display:none;
}

#home-auth form#authentication #id_identification, #home-auth form#authentication #id_password {
	width:86px;
	border:1px solid #ff960d;
	height:14px;
	padding:2px 2px 2px 2px;
	font-size:0.85em;
}

#home-auth form#authentication #submit-login {
	background:none repeat scroll 0 0 #e5870d;
	border:0 none;
	color:white;
	font-size:0.9em;
	height:20px;
	padding:0 0 2px;
	width:30px;
}

/* features */
#home-features #feature_list{
    width: 840px;
    margin-bottom: 20px;
    margin-left: 57px;
    margin-right: 57px;
}

/* tour */
#home-tour div {
    text-align: left;
    margin-left: 73px;

    font-family: Helvetica;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: 600;

    margin-bottom: 20px;
}

/* why */
#home-why .column {
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 155px;

    color: #666;
    font-size: 0.9em;
    margin-bottom: 20px;
}

#home-why p {
    margin-bottom: 4px;
}

#home-why .column-center {
    margin-left: 37px;
    margin-right: 37px;
}

#home-why .column h3 {
    color: black;
    border-bottom: 1px solid #eee;
}

#home-why #economy {
    background-image: url('../images/home/economy.png');
}

#home-why #diversity {
    background-image: url('../images/home/diversity.png');

}

#home-why #community {
    background-image: url('../images/home/community.png');
}


/*-- social --*/
#social {
    margin-bottom: 50px;
}


#facebook {
    height: 300px;
    margin-left: 10px;
}

#facebook h3 {
    font-variant: small-caps;
}

#social #im > div {
    padding-left: 10px;
    border-left: 1px solid #eee;
}

#social #im h3 {
    text-align: right;
    font-variant: small-caps;
}

#social #im {
    margin-right: 50px;
}

#social #im .timesince {
    font-size: 0.95em;
    color: #aaa;
}

#social #im img {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}

#social #blog {
    margin-right:  50px;
    margin-bottom: 20px;
}

#social #blog .date {
    color: #666;
}

#social #blog > div {
    padding-left: 10px;
    border-left: 1px solid #eee;
}

#social #blog h3 {
    text-align: right;
    font-variant: small-caps;
}

#social #blog img {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}


#content #box {
	background:#1b1b1b;
	width:769px;
	float:left;
	padding:3px 0;
	margin:2px 0 0 0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

#content #box ul#tabs-box{
	width:303px;
	float:left;
	margin:6px 0 0 0;
	border-top:1px solid #232323;
}

#content #box ul#tabs-box li{
	display:block;
	height:74px;
	width:303px;
	background:url('/images/structure/background/box_tab_bg.jpg') repeat-x top left;
	border-top:1px solid #2d2d2d;
	border-bottom:1px solid #131313;
	position:relative;
}

#content #box ul#tabs-box li#tab3{
	background:url('/images/structure/background/box_tab2_bg.jpg') repeat-x top left;
	border-bottom:0;
}

#content #box ul#tabs-box li a{
	color:#f3f3f3;
	position:relative;
}

#content #box ul#tabs-box li a span {
	display:block;
	padding:0 0 0 68px;
	height:74px;
}

#content #box ul#tabs-box li a:hover, #content #box ul#tabs-box li.current a {
	height:75px;
	width:337px;
	background:url('/images/structure/background/box_rollover_bg.png') no-repeat top left;
	position:absolute;
	left:0;
	top:-1px;
	text-decoration:none;
	padding:1px 0 0 0;
} 

#content #box ul#tabs-box li#tab1 a span {
	background:url('/images/elements/picto_question.png') no-repeat 14px 15px;
}

#content #box ul#tabs-box li#tab2 a span {
	background:url('/images/elements/picto_mic.png') no-repeat 14px 15px;
}

#content #box ul#tabs-box li#tab3 a span {
	background:url('/images/elements/picto_record.png') no-repeat 14px 15px;
}

#content #box ul#tabs-box li a span strong {
	display:block;
	font-size:1.25em;
	line-height:1.5em;
	padding:13px 0 0;
	text-transform:uppercase;
}

#content #box ul#tabs-box li a span em{
	font-style:normal;
	font-size:0.9em;
	line-height:2em;
}

#content #box .content-tabs {
	width:463px;
	float:left;
}

#content #main #subscribe {
	bottom:-40px;
	position:absolute;
	right:-30px;
}