#text-invite {
    float: left;
}

#discover {
    text-align: center;
    padding-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;

}

#discover img {
    margin-bottom: 15px;
}

#discover div {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5em;
}

#discover-band span {
    display:block;
    font-size: 0.5em;
}

#discover-venue span {
    display:block;
    font-size: 0.5em;
}
