/**
 * CSS Timeline Styles
 */

ul.events {
    list-style-type: none;
    margin: 0;
	background:url("../images/agenda/agenda-bg.jpg");
}

ul.events li {

	margin-left: 0px;
   
   /*-
   webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
	*/
	
	box-shadow: 0 0 6px #979797;
	-moz-box-shadow: 0 0 6px #979797;  
	-webkit-box-shadow: 0 0 6px #979797; 
	
    color: white;
    font-size: 11px;
    font-weight: bold;
	line-height:35px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;
	
	height:36px;
	
	background:url("../images/agenda/agenda-block.jpg") repeat-x;
}

ul.events li em {
    color: #aaa;
    font-weight: normal;
    font-size: 0.9em;
}

ul.intervals {
    list-style-type: none;
    padding: 0;
    display: block;
}

#text ul li{

	list-style-type:none;
	margin-left:0px;

}

/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
ul.intervals li {

    color: #999999;
    float: left;
    margin: 0;
	
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	text-indent:5px;
	height:12px;
	line-height:14px;
	text-align:left;
	font-size:11px;
	
}

.vcalendar{

	display:none;

}

