#text {
    padding-top: 2px;
}

#yourbands {
    width: 180px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 3;
    background-image: url('../images/account/yourbands.png');
    background-repeat: no-repeat;
}

#usercard {
    background-color: #fafafa;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    

    padding-top: 10px;
    padding-bottom: 10px;

    -moz-box-shadow: 0px 5px 10px #eee;

//    margin-bottom: 15px;
}

#avatar {
    
    float: left;
    vertical-align: middle;

    margin-left: 15px;

    padding: 3px;
    border: 1px solid #ddd;

}

#user-infos {
    margin-left: 20px;
    vertical-align: middle;
    float: left;
}

#text #user-infos span {
    margin-left: 100px;
}

#greating h1 {
    font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: left;
    
    padding-top: 0px;
    color: #222;
    text-shadow: 0px 2px 3px #555;

    float: left;
}

#greating a {
    float: right;
}

#greating #user-settings {
    padding-top: 9px;
}

#left-sidebar {
    padding-top: 5px;
}

#user-infos label {
    float: left;
    color: #666;
}

#user-infos span {
    margin-left: 200px;
    display: block;
}
#user-connections .header {
    margin-bottom: 5px;
}

#user-connections img {
    vertical-align: middle;
}

#user-connections h3 {
    display: inline;
    vertical-align: middle;
}

#user-connections ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

#user-connections ul li {
    padding: 2px;
    margin-left: 0px;
    display: inline;
}

#user-connections img.link {
    border: 1px solid black;
}

#user-connections span {
    position: absolute;
    top: 40px;
    padding: 20px;
    color: #666;
    text-align: center;
    font-variant: italic;
}

#top-bar {
    background-color: none;
    border-top: 1px dashed #eee;
    border-left: 1px dashed #eee;
    height: 20px;
}

#right-sidebar-content {
    border-left: 1px solid #eee;
    padding: 8px;
}

/*-- band listing --*/
#band-list {
    margin-left: 10px;
    width: 100%;
}

#band-side {
    float: left;
    padding-right: 10px;

    text-align: center;
}

#band-side h2 {
    margin-top: 5px;
}

ul#band-actions {
    border-top: 1px dashed #eee;
    padding-top: 10px;
    width: 100%;
    list-style: none;
}

ul#band-actions li {
    margin-left: 0px;
    padding-left: 0px;
}

#band-side img {
    margin-bottom: 5px;
}

#band-main {
    border-left: 1px dashed #ddd;
    padding-left: 10px;
    float: left;
    margin-bottom: 20px;
    width: 490px;
}

#band-main ul {
    list-style: none;
}

#band-main ul li {
    margin-left: 0px;
}

#band-main ul#bands > li {
    border-left: 5px solid #eee;
    float: left;

    border-bottom: 1px dashed #eee;
    padding: 5px;
    margin-bottom: 5px;
    clear: both;
    width: 100%;
}

#band-main ul#bands > li:first-child {
    padding-top: 0px;
}

#band-main ul#bands > li:last-child {
    border-bottom: none;
}

#band-main {

}

.band-style {
    color: #666;
    font-style: italic;
}

div.band-picture {
    float: left;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 5px;
    padding-right: 5px;

}

.band-picture img {
    border: 1px solid black;
}

.band-info {
    background-color: #fafafa;
//    border-right: 5px solid #eee;
    padding: 5px;
    padding-top: 10px;
    float: left;
    clear: right;
}

.band-name {
    font-size: 1.4em;
}

.band-activity {
    float: left;
    min-width: 390px;

    border-left: 1px solid #eee;
    padding-left: 3px;
    padding-top: 3px;
}

/*-- register box --*/
#register {
    margin-top: 20px;
    padding: 10px;
    background-color: #f6f6f6;
}

/*-- notifications --*/
#notifications {
    margin-top: 7px;
    margin-bottom: 10px;
}

#notifications span.notice_type {
    font-weight: strong;
}

#notifications span.notice_time {
    
}


.band-activity h3,img {
    display: inline;
    vertical-align: middle;
}

.band-activity ul {
    list-style: none;
}

.band-activity ul li {
    margin-left: 0px;
    width: 100%;
}

.band-activity ul li.even {
    background-color: #f7f7f7;
}

.band-activity ul li .date {
    color: #666;
}

/*-- notices --*/
#notifications {
    font-size: 0.9em;
    line-height: 1.2em;
}

#notifications img.icon {
    vertical-align: middle;
    margin-bottom: 5px;
}

#notifications h3 {
    display: inline;
    vertical-align: middle;
}

#notifications h4 {
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 0px;
}

#mark_as_seen {
    font-size: 0.9em;
    display: block;
}

.notice_since {
    font-style: italic;
    text-align: right;
    color: #aaa;
    margin-top: -3px;
    margin-bottom: 3px;
}

.notice_date {
    text-align: right;
}

.seen_notice {
    color: #aaa;
}

.unseen_notice {
    background-color: #ffffcc;
    color: red;
}

#no-band {
    padding: 20px;
    background-color: #fcfeff;
    border: 1px solid #b6becc;

    font-size: 1.1em;
    font-family: 'Helvetica';
}

p#no-notices-yet {
    padding-top: 5px;
    font-size: 1.1em;
    color: #aaa;
    text-align: right;
}

#separator {
    height: 20px;
}

#register-other-type {
    margin-top: 15px;
    font-size: 0.9em;
    text-align: right;
}
