#search {
    margin-bottom: 20px;
}

#search img {
    display: inline;
    vertical-align: middle;
}

#search h2 {
    display: inline-block;
    clear: right;
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 8px;
}

#search #submit {
    margin-top: 15px;
    visibility: hidden;
    position: absolute;
    left: -10000px;
}

#search-results-wrapper {
    min-height: 200px;
}

#search-results ul {
    list-style: none;
}

#search-results ul li {
    margin-left: 0px;
    clear: both;
}

#search-results .venue div {
    float: left;
}

#search-results .even {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#search-results .odd {
    background-color: #f7f7f7;
    width: 100%;
}

#search-results .venue .info {
    margin-left: 10px;
    width: 300px;
}


#search-results .venue .name {
    font-size: 1.4em;
    font-weight: bold;
}

#search-results .venue .adr .country-name {
    visibility: hidden;
    position: absolute;
    left: -10000px;
}

#search-results .venue .tags {
    color: #666;
}

#search-results .venue .img-wrapper {
    width: 80px;
    height: 80px;
    text-align: center;
}

#search ul {
    background-color: white;
    padding: 5px;
}

#search ul li {
    text-align: left;
    margin-left: 5px;
}

#search ul li.tagit-new {
    font-size: 1.1em;
}

#search ul#tag_list {
    width: 100%;
}

#search ul#tag_list li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#search p.help {
    font-size: 0.9em;
    color: #444;
}

#search #map {
    border: 1px solid #666;
}

#search #ambiance {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

#cantfind {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

#cantfind img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#cantfind p {
    padding-top: 25px;
    font-size: 0.9em;
    align: justify;
}

#cantfind textarea {
    display: block;
    width: 230px;
    border: 1px solid #aaa;
    padding: 2px;
    margin-bottom: 5px;
    color: #666;
    font-size: 0.9em;
    font-variant: italics;
    align: justify;
}

#cantfind input[type="submit"] {
    border: 1px solid #aaa;
    float: right;
    background-color: #eee;
}

.presskit_sharing {
    background-color:white;
    padding-left:10px;
    padding-right:10px;
    position:relative;
}

li.presskit_sharing_item {
    padding-top: 5px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.presskit_sharing_item p {
    width: 110px;
    margin-left: 5px;
    display: inline;
    float: left;

    vertical-align: middle;
}

.presskit_sharing_item img {
    width:25px;
    height:25px;
    float: left;

    vertical-align: middle;
}


.venue_sharing_title {
	background-color:white;
	position:relative;
	width:120px;
}

.venue_sharing_title span {
    color: #666;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
}

.encart {
	background-color:#EBEBEB;
	color:black;
	font-size:13px;
	margin-top:10px;
	padding:5px;
	width:162px;
	margin-bottom:10px;
	position:relative;
	float:left;
}


/* Venue creation */
.venue-new h1 {
    padding-top: 3px;
    padding-left: 34px;
    height: 30px;
    background-image: url('../images/gigbargain/calendar_ico.png');
    background-repeat: no-repeat;
}

.venue-new form label{
	width:33%;
	display:inline-block;
	vertical-align:top;
	font-weight:bold;
	
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	color:#ed6234;
	
	margin-top:3px;
	margin-bottom:3px;
	margin-right:2px;
}


.venue-new form  .error_msg, .errorlist{
    color:red;
    font-style:italic;
}




.venue-new form input{
	width:64%;
	
	border:1px solid grey;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	
	font-size:11px;
	height:12px;
	padding:4px;
	
	margin-top:3px;
	margin-bottom:3px;

 float: right;
	
	/*
	box-shadow: 0 0 6px #353535;
	-moz-box-shadow: 0 0 6px #353535;  
	-webkit-box-shadow: 0 0 6px #353535;  
	*/

}

.venue-new h2 {
    margin-top: 20px;
}

.venue-new form button{
	float:right;
	position:relative;
 margin-top: 20px;
}

#venue-new-sidebar {
    border-left: 1px solid #eee;
    padding-left: 10px;
    min-height: 100px;
}

#venue-new-sidebar img {
    margin-bottom: 10px;
}


.venue-new form p#slug {
    top: -10px;
    position: relative;
}

.venue-new form p#slug label {
    width: 300px;
    color: #666;
    font-size: 0.9em;
    text-align: left;
    font-weight: normal;
    float: right;
}

.venue-new form select {
    float: right;
    width: 450px;
}

.venue-new form p#slug input {
    float: right;
    width: 200px;
}

.venue-new form p {
    color: #666;
    font-size: 0.95em;
}




