#search {
    margin-bottom: 20px;
}

#search img {
    display: inline;
    vertical-align: middle;
}

#search h2 {
    display: inline-block;
    clear: right;
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 8px;
}

#search #submit {
    margin-top: 15px;
}

#search-results ul {
    list-style: none;
}

#search-results ul li {
    margin-left: 0px;
    clear: both;
}

#search-results .venue div {
    float: left;
}

#search-results .even {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#search-results .odd {
    background-color: #f7f7f7;
    width: 100%;
}

#search-results .venue .info {
    margin-left: 10px;
    width: 300px;
}


#search-results .venue .name {
    font-size: 1.4em;
    font-weight: bold;
}

#search-results .venue .adr .country-name {
    visibility: hidden;
    position: absolute;
    left: -10000px;
}

#search-results .venue .tags {
    color: #666;
}

#search ul {
    background-color: white;
    padding: 5px;
}

#search ul li {
    text-align: left;
    margin-left: 5px;
}

#search ul li.tagit-new {
    font-size: 1.1em;
}

#search ul#tag_list {
    width: 100%;
}

#search ul#tag_list li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#search p.help {
    font-size: 0.9em;
}

#search #map {
    border: 1px solid #666;
}

#search #ambiance {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

#cantfind {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

#cantfind img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#cantfind p {
    padding-top: 25px;
    font-size: 0.9em;
    align: justify;
}

#cantfind textarea {
    display: block;
    width: 230px;
    border: 1px solid #aaa;
    padding: 2px;
    margin-bottom: 5px;
    color: #666;
    font-size: 0.9em;
    font-variant: italics;
    align: justify;
}

#cantfind input[type="submit"] {
    border: 1px solid #aaa;
    float: right;
    background-color: #eee;
}