{% extends 'base.html' %}

{% load i18n %}
{% load django_static %}

{% block title %}
Bookez votre groupe, creéz votre réseau - version bêta
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/textpage.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/invite.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
/* <![CDATA[ */
(function() {
    var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
    
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto&language=fr_FR';
    
    t.parentNode.insertBefore(s, t);
})();
/* ]]> */
</script>

{% endblock %}

{% block content %}

  <div class="grid_16 alpha omega">
    <div id="text">

      <div id="flipbox">

      <div id="teaser">
	<img src="{% staticfile '/images/banniere_spreadearth-flipped.jpg' %}" width="800px" height="320px"/>
	<div id="teaser-text">
	  <h1>Organisez votre agenda, Gagnez du temps, Étendez votre réseau.</h1>
	</div>
      </div>

      <div class="clear"></div>

      <div id="description">
	<div class="grid_3">
	  <h3>Donnez envie</h3>
	  Créez votre page personnelle. Définissez votre ambiance grâce à une description de votre lieu, vos photos, vos vidéos, …
	  Donnez aux groupes <strong>l'envie de jouer chez vous</strong>. Grâce à SpreadBand les groupes viendront de <strong>tous les horizons</strong>.
	</div>

	<div class="grid_3 padleftright">
	  <h3>Facilitez vous la vie</h3>
	  Les groupes vous trouveront <strong>en quelques clics</strong>. Ils <strong>seront adaptés</strong> à votre ambiance et aux styles musicaux de votre programmation.
	  Découvrez leur univers, écoutez les, invitez les à vous appeler ou vous rencontrer si vous le souhaitez et bookez-les.
	</div>

	<div class="grid_3 padleftright">
	  <h3>Organisez vous</h3>
	  Plus besoin d'empiler les cds et de les laisser prendre la poussière. Grâce à un <strong>tableau de bord simple à utiliser</strong>, <strong>organisez vos concerts</strong> à venir et marquez vos groupes favoris pour ne pas les oublier.
	</div>

	<div class="grid_3">
	  <h3>Communiquez</h3>
	  Informez votre clientèle des prochaines <strong>dates de concerts</strong>. 
	  <strong>Diffusez votre programmation</strong> tout en gardant le contrôle. Choisissez ce que vous voulez diffuser, à qui et sur quels réseaux. 
	</div>
      </div>

      <div class="clear"></div>

      <div id="switch">
	<a href="{% url privatebeta_invite %}">Vous êtes un groupe ou artiste solo ? Cliquez ici !</a>
      </div>

      </div>


      <div id="invite">
	<div class="prefix_2 grid_12 ">
	  <form id="invite-form" action="{% url privatebeta_invite %}" method="post">
	    {{ form.as_p }}
	    <input type="submit" value="{% trans 'Invitez moi pour le lancement !' %} &raquo;" />
	  </form>
	</div>
	<div class="clear"></div>
      </div>

      <div>
	<div class="grid_5 suffix_2 alpha">
	  <div style="float: left; margin-right: 10px;">
	    <!--[if IE]>
	    <a href="http://flattr.com/thing/64675/SpreadBand" target="_blank">
	    <img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr this" title="Flattr this" border="0" /></a>
	    <![endif]-->
	    <a class="FlattrButton" style="display:none;" href="http://www.spreadband.com" lang="fr_FR"></a>
	  </div>
	  Si vous souhaitez nous <strong>donner un coup de main pour le développement</strong> en nous <strong>payant une bière</strong>, cliquez sur le bouton :-)
	</div>

      <div class="grid_8 omega">
	<p>
	  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fspreadband&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
	</p>

	      <div id="follow">
	Restez en contact : <a href="http://blog.spreadband.com">Blog</a> | <a href="http://facebook.com/spreadband">Facebook</a> | <a href="http://twitter.com/spreadband">Twitter</a> | <a href="http://identi.ca/spreadband">Identi.ca</a>
      </div>

      </div>
      </div>


  </div>

</div>
  
      
{% endblock %}
