{% extends 'base.html' %}

{% load i18n %}
{% load django_static %}

{% block title %}
Bookez votre groupe - version alpha
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/textpage.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/invite.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
/* <![CDATA[ */
(function() {
    var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
    
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto&language=fr_FR';
    
    t.parentNode.insertBefore(s, t);
})();
/* ]]> */
</script>

{% endblock %}

{% block content %}

  <div class="grid_16 alpha omega">
    <div id="text">

      <div id="teaser">
	<img src="" width="800px" height="250px"/>
	<div id="teaser-text">
	  <h1>Trouvez des bars, organisez des concerts, créez votre réseau.</h1>
	</div>
      </div>

      <div class="clear"></div>


      <!--
      <p>
	SpreadBand est une <strong>plate-forme équitable de booking</strong> pour les <strong>musiciens indépendants</strong> et les <strong>lieux de concerts</strong>.
      </p>
      <p>
	Grâce à SpreadBand, <strong>diffusez votre groupe</strong>, <strong>organisez des concerts</strong> en quelques clics et <strong>créez votre propre réseau musical</strong>.
      </p>

      -->

      <!--
      <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fspreadband&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=tahoma&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
      -->

      <div id="description">
	<div class="grid_3">
	  <h3>Lancez vous</h3>
	  Composez votre <strong>kit de promo</strong> à l'aide de vos photos, musiques, biographie, fiche technique... Donnez aux bars-concerts l'<strong>envie de vous programmer</strong>.
	</div>

	<div class="grid_3 padleftright">
	  <h3>Jouez partout</h3>
	  <strong>Recherchez</strong> facilement des lieux de concerts, trouvez d'<strong>autres groupes avec qui jouer</strong> et organisez votre <strong>tournée</strong>. Grâce à SpreadBand, <strong>les frontières s'estompent</strong> !
	</div>

	<div class="grid_3 padleftright">
	  <h3>Communiquez</h3>
	  Entretenez le lien avec vos <strong>fans</strong>, étendez votre <strong>réseau</strong> et publiez vos dates de concerts conclues vers les <strong>réseaux sociaux</strong> en un clin d'œil.
	</div>

	<div class="grid_3">
	  <h3>Donnez confiance</h3>
	  Grâce à un système de <strong>confiance entre tiers</strong>, gagnez en sérieux afin de convaincre les structures de vous accueillir. Meilleur sera votre karma, plus grande sera l'envie de <strong>vous accueillir</strong> !
	</div>
      </div>

      <div id="invite">
	<div class="prefix_2 grid_12 ">
	  <form id="invite-form" action="{% url privatebeta_invite %}" method="post">
	    {{ form.as_p }}
	    <input type="submit" value="{% trans 'Invitez moi pour le lancement !' %} &raquo;" />
	  </form>
	</div>
	<div class="clear"></div>
      </div>

      <!--
      <div>
	<div id="discover" style="float: left;">
	<a href="{% url django.contrib.flatpages.views.flatpage 'features/band' %}">
	  <div id="discover-band" class="grid_5 alpha">
	    <img src="{% staticfile "/images/invite/band.jpg" %}" alt="band" width="130px" /><br/>
	    Groupes, Artistes solos, DJs
	    <span>(cliquez pour en savoir plus)</span>
	  </div>
	</a>
	
	<a href="{% url django.contrib.flatpages.views.flatpage 'features/venue' %}">	
	  <div id="discover-venue" class="grid_5 omega">
	    <img src="{% staticfile "/images/invite/venue.jpg" %}" alt="band" width="130px"/><br/>
	    Bars, Cafés-Concerts
	    <span>(cliquez pour en savoir plus)</span>
	  </div>
	</a>
	</div>



	<div class="clear"></div>
      </div>
      -->
      
      <div>
	<div class="grid_5 suffix_2 alpha">
	  <div style="float: left; margin-right: 10px;">
	    <!--[if IE]>
	    <a href="http://flattr.com/thing/64675/SpreadBand" target="_blank">
	    <img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr this" title="Flattr this" border="0" /></a>
	    <![endif]-->
	    <a class="FlattrButton" style="display:none;" href="http://www.spreadband.com" lang="fr_FR"></a>
	  </div>
	  Si vous souhaitez nous <strong>donner un coup de main pour le développement</strong> en nous <strong>payant une bière</strong>, cliquez sur le bouton :-)
	</div>

      <div class="grid_8 omega">
	<p>
	  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fspreadband&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
	</p>

	      <div id="follow">
	Restez en contact : <a href="http://blog.spreadband.com">Blog</a> | <a href="http://facebook.com/spreadband">Facebook</a> | <a href="http://twitter.com/spreadband">Twitter</a> | <a href="http://identi.ca/spreadband">Identi.ca</a>
      </div>

      </div>
      </div>


  </div>

</div>
  
      
{% endblock %}
