{% extends 'base.html' %}

{% block title %}
Merci de votre soutient !
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/textpage.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/invite.css" media="screen, projection" />
{% endblock %}


{% block content %}

  <div class="grid_16">

    <div id="text">

      <h1>Merci, nous sommes votre plus grand fan</h1>

      <p>Comptez sur nous pour garder le contact !</p>

      &larr; <a href="{% url privatebeta_invite %}">Page d'accueil</a>

    </div>

  </div>


{% endblock %}
