{% extends "base.html" %}

{% block content %}

<h2>Configure your notification settings</h2>

<form method="POST">
<table>
  <tr>
    <td>
      What ?
    </td>
    {% for header in notice_settings.column_headers %}
    <td>
    {{ header }}
    </td>
    {% endfor %}
  </tr>
  {% for row in notice_settings.rows %}
  <tr>
    <td>
      {{ row.notice_type.description }}
    </td>
    {% for cell in row.cells %}
    <td>
      <input type="checkbox"
      {% for x in cell %}
      {% if forloop.first %}
	     name="{{ x }}"
      {% endif %}
      {% if forloop.last %}
	     {% if x %}
	      checked="yes">
             {% else %}
              > 
             {% endif %}
      {% endif %}
      {% endfor %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>


<input type="submit">
</form>


{% endblock %}





