Django==1.2.1
mutagen>=1.19
# gdal==1.7.1
south==0.7.2
django-guardian==0.1.0
django-tagging==0.3.1
django-imagekit==0.3.3
django-voting==0.1
django-reversion==1.3.1
django-annoying==0.7.4
django-reviews==0.2.1
django-debug-toolbar==0.8.3
django-profiles==0.2
django-ajax-selects==1.1.3
django-request==0.3
vobject==0.8.1c
python-dateutil==1.5
django-countries==1.0.4
docutils
geopy
whoosh==0.3.18
django-haystack
pytz
psycopg2
PIL
slimmer
markdown
html5lib
beautifulsoup
nose
django-nose

# SpreadBand repositories
-e git+http://github.com/SpreadBand/django-backcap.git#egg=django-backcap
-e git+http://github.com/SpreadBand/django-elsewhere.git#egg=django-elsewhere
-e git+http://github.com/SpreadBand/django-agenda.git#egg=django-agenda
# -e git+http://github.com/SpreadBand/django-notification.git#egg=django-notification
-e git+http://github.com/SpreadBand/django-durationfield.git#egg=django-durationfield
-e git+http://github.com/SpreadBand/django-faq.git#egg=django-faq
-e git+http://github.com/SpreadBand/django-fsm.git#egg=django-fsm
-e hg+http://bitbucket.org/glibersat/django-timedelta-field#egg=django-timedelta-field
-e git+http://github.com/pragmaticbadger/django-privatebeta.git#egg=django-privatebeta

# Other repositories
-e git+http://github.com/stephanpoetschner/django-announcements.git#egg=django-announcements
-e git+http://github.com/jtauber/django-notification.git#egg=django-notification
-e git+http://github.com/ericflo/django-avatar.git#egg=django-avatar
-e git+http://github.com/zen4ever/django-avatar-crop.git#egg=django-avatar-crop
-e git+http://github.com/pydanny/django-wysiwyg.git#egg=django-wysiwyg
-e svn+http://django-rosetta.googlecode.com/svn/trunk#egg=django-rosetta
-e hg+http://bitbucket.org/jezdez/django-robots@0.8.0#egg=django-robots
-e git+http://github.com/facebook/python-sdk.git#egg=facebook-python-sdk
-e git+http://github.com/django-extensions/django-extensions.git#egg=django-extensions
-e git+http://github.com/ericflo/django-threadedcomments.git#egg=django-threadedcomments
-e hg+http://bitbucket.org/ubernostrum/django-registration#egg=django-registration
-e git+http://github.com/peterbe/django-static.git#egg=django-static
-e git+http://github.com/pydanny/django-uni-form.git#egg=django-uni-form
-e git+http://github.com/flashingpumpkin/django-socialregistration.git#egg=django-socialregistration
-e git+http://github.com/justquick/django-activity-stream.git#egg=django-activity-stream
-e git+http://github.com/jezdez/django-oembed.git#egg=django-oembed
-e git+http://github.com/danaspiegel/django-timezones.git#egg=django-timezones
-e git+http://github.com/jtauber/django-email-confirmation.git#egg=django-email-confirmation
-e hg+http://bitbucket.org/jespern/django-piston#egg=django-piston
-e git+http://github.com/spookylukey/django-mailer.git#egg=django-mailer
-e git+http://github.com/jorgebastida/django-dajaxice.git#egg=django-dajaxice
-e git+http://github.com/jorgebastida/django-dajax.git#egg=django-dajax






