{% extends "bands/base.html" %}

{% block band_css %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery/colorbox/colorbox.css" />
<style type="text/css">
  #tracks { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #tracks li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #tracks li span { position: absolute; margin-left: -1.3em; }
</style>
{% endblock %}

{% block band_javascript %}

<!-- <script type="text/javascript" src="{{ MEDIA_URL }}/js/ajaxupload.js"></script>-->
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.colorbox.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.jplayer.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

      $("#audioplayer").jPlayer({
         ready: function() {
		    this.element.jPlayer("setFile", "{{ MEDIA_URL }}/bands/7/albums/2/tracks/01-at_the_behest_of_their_death.mp3");
          },
         swfPath: '{{ MEDIA_URL }}/flash/',
         nativeSupport: false, 
      });

    $("#play").click(function() {
      $("#audioplayer").jPlayer("play");
        return false;
    });

    $("#pause").click(function() {
      $("#audioplayer").jPlayer("pause");
        return false;
    });

  $(".track").click( changeTrack );
  
  function changeTrack(e) {
    $("#audioplayer").jPlayer("setFile", $(this).attr("href")).jPlayer("play");
    $(this).blur();
    return false;
  }



    $(".edit").editable("{% url album:edit-one band.slug album.slug %}", {
         indicator : 'Saving...',
         submit: 'OK',
         tooltip   : 'Click to edit...',
         width: 255,
         height: 30,
         style  : "inherit",
         callback : function(value, settings) {
           $(this).effect('highlight', 1500);
         }
     });

    $("#album-type-edit").editable("{% url album:edit-one band.slug album.slug %}", { 
     data   : "{'EP': 'Extended', 'LP': 'Long-Playing', 'DM': 'Demo'}",
     type   : 'select',
     submit : 'OK'
     });


  var stop = false;
  $("#tracks > div").click(function(event) {
  	if (stop) {
  		event.stopImmediatePropagation();
  		event.preventDefault();
  		stop = false;
  	}
  });
  $("#tracks").accordion({
  header: "> div > :first-child",
  collapsible: true,
  active: false,
  }).sortable({
    axis: "y",
    handle: "span",
    stop: function(event, ui) {
     stop = true;
    }
  });

  $(".track_delete").click(function(event) {
  event.preventDefault();
   var target = this;
    $.get(this.href, {}, function(response) {
  $(target).parent().remove();
  });
  });

  });
</script>

{% endblock %}



{% block band_content %}



<h2>Album</h2>
( <a href="{% url album:edit band.slug album.slug %}">edit</a> )

<div id="album-title">
<h3 id="name" class="edit">{{ album.name }}</h3>
</div>

<p>Album type: <span id="album-type-edit">{{ album.get_kind_display }}</span></p>
<p>Tagged with: <span id="style_tags" class="edit">{{ album.style_tags }}</span></p>

<h5>Description</h5>

{{ album.description }}

<h5>Covers</h5>

<div id="album-cover-front">
{% for cover in album.cover.all %}
<a href="{{ cover.original_image.url }}"><img src="{{ cover.thumbnail_image.url }}" alt="Cover for {{ album.name }}"></a>
{% endfor %}
( <a href="{% url album:cover-new band.slug album.slug %}">Upload new</a> )
</div>


<h3>Tracks</h3><a href="{% url album:track-new band.slug album.slug %}" id="track_upload">Upload new track</a>


<div class='audioplayer' id='audioplayer'></div>
<div id='playercontainer'>
  <ul id="icons" class="ui-widget ui-helper-clearfix">
    <li id="play" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span></li>
    <li id="pause" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pause"></span></li>
  </ul>
</div>

<div id="tracks">
  <ul>
    {% for track in album.tracks.all %}
    <li>{{ track.no }} - <a class="track" href="{{ MEDIA_URL }}/{{ track.file }}">{{ track.title }}</a> (<a href="{% url album:track-delete band.slug album.slug track.id %}">delete</a>)</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
