{% extends "bands/base.html" %}

{% block band_content %}

{% block band_css %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery/colorbox/colorbox.css" />
<style type="text/css">
  #tracks { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #tracks li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #tracks li span { position: absolute; margin-left: -1.3em; }
</style>
{% endblock %}

{% block band_javascript %}

<script type="text/javascript" src="{{ MEDIA_URL }}/js/ajaxupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.colorbox.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".edit").editable("{% url album:edit-one band.slug album.slug %}", {
         indicator : 'Saving...',
         submit: 'OK',
         tooltip   : 'Click to edit...',
         width: 255,
         height: 30,
         style  : "inherit",
         callback : function(value, settings) {
           $(this).effect('highlight', 1500);
         }
     });

    $("#album-type-edit").editable("{% url album:edit-one band.slug album.slug %}", { 
     data   : "{'EP': 'Extended', 'LP': 'Long-Playing', 'DM': 'Demo'}",
     type   : 'select',
     submit : 'OK'
     });


  var stop = false;
  $("#tracks > div").click(function(event) {
  	if (stop) {
  		event.stopImmediatePropagation();
  		event.preventDefault();
  		stop = false;
  	}
  });
  $("#tracks").accordion({
  header: "> div > :first-child",
  collapsible: true,
  active: false,
  }).sortable({
    axis: "y",
    handle: "span",
    stop: function(event, ui) {
     stop = true;
    }
  });

  $(".track_delete").click(function(event) {
  event.preventDefault();
   var target = this;
    $.get(this.href, {}, function(response) {
  $(target).parent().remove();
  });
  });


  new AjaxUpload('track_upload_disabled', {
                 action: '{% url album:track-new band.slug album.slug %}',
                 name: 'file',
       responseType: 'json',
  onSubmit : function(file, ext){
  var button = $('#track_upload');
  // change button text, when user selects file
  button.text('Uploading');
  
  // If you want to allow uploading only 1 file at time,
// you can disable upload button
  this.disable();
  
  // Uploding -> Uploading. -> Uploading...
  interval = window.setInterval(function(){
  var button = $('#track_upload');
  var text = button.text();
  if (text.length < 13){
		    button.text(text + '.');
		    } else {
		    button.text('Uploading');
		    }
		    }, 200);
		    },
		    onComplete: function(file, response){

		    var button = $('#track_upload');
		    button.text('Upload');
		    
		    window.clearInterval(interval);
		    
		    // enable upload button
		    this.enable();
		    
		    // add file to the list
		    $('<li class="ui-state-default"></li>').appendTo('#tracks').text(response[0].fields.title);
		    }
                    });

		    $("#album-cover-front > a").colorbox({title: "{{ band.name }} - {{ album.name }} (change)"});
  });
</script>

{% endblock %}

<h2>Album</h2>
( <a href="{% url album:edit band.slug album.slug %}">edit</a> )

<div id="album-title">
<h3 id="name" class="edit">{{ album.name }}</h3>
</div>

<p>Album type: <span id="album-type-edit">{{ album.get_kind_display }}</span></p>
<p>Tagged with: <span id="style_tags" class="edit">{{ album.style_tags }}</span></p>

<h5>Description</h5>

{{ album.description }}

<h5>Covers</h5>

<div id="album-cover-front">
{% for cover in album.cover.all %}
<a href="{{ cover.original_image.url }}"><img src="{{ cover.thumbnail_image.url }}" alt="Cover for {{ album.name }}"></a>
{% endfor %}
( <a href="{% url album:cover-new band.slug album.slug %}">Upload new</a> )
</div>


<h3>Tracks</h3><a href="{% url album:track-new band.slug album.slug %}" id="track_upload">Upload new track</a>

<div id="tracks">
  <ul>
    {% for track in album.tracks.all %}
    <li>{{ track.no }} - {{ track.title }} (<a href="{% url album:track-delete band.slug album.slug track.id %}">delete</a>)</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
