{% extends "base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/userprefs.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/fuzzyform.css" media="screen, projection" />
{% endblock %}

{% block content %}

<div id="text">
  <div id="userprefs-header">
    {% avatar user 36 %}
    <h1>{% blocktrans with user.username|capfirst as username %}{{ username }}'s settings{% endblocktrans %}</h1>
  </div>


  <div>
    <ul id="userprefs-categories">
      {% url account:edit user.username as profile_url %}
      {% url account:password as password_url %}
      {% url notification_notice_settings as notification_url %}

      <li class="category {% if request.path == profile_url %}selected{% endif %}"><a href="{{ profile_url }}">{% trans "Profile" %}</a></li>
      <li class="category {% if request.path == password_url %}selected{% endif %}"><a href="{{ password_url }}">{% trans "Password" %}</a></li>
      <li class="category {% if request.path == notification_url %}selected{% endif %}"><a href="{{ notification_url }}">{% trans "Notifications" %}</a></li>
    </ul>
  </div>
  {% block account_content %}
  {% endblock %}

 </div>

{% endblock %}