{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
{% trans "Password" %}
{% endblock %}

{% block account_content %}
  <div id="forms" class="grid_8 alpha">
    <form method="POST" action="" class="fuzzyform">
      {{ form.as_p }}
      <label for="id_submit"></label>
      <input id="id_submit" type="submit" name="submit" value="{% trans "Update" %}" id="submit" />
    </form>
  </div>

  <div id="sidebar" class="grid_4 prefix_1 omega">
    <h2>{% trans "Password" %}</h2>
    {% blocktrans %}
    You can update your password here. Try to use a password with numbers or special characters. It makes it stronger to attacks.
    {% endblocktrans %}
  </div>

{% endblock %}
