{% extends "base.html" %}

{% load humanize %}
{% load i18n %}
{% load timezone_filters %}
{% load django_static %}
{% load activity_tags %}
{% load avatar_tags %}

{% load sb_filters %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url notification_feed_for_user %}" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/user_dashboard.css" media="screen, projection" />
{% endblock %}

{% block title %}
{{ request.user.get_full_name }} profile
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
	$('a.tip').tipsy({gravity: 'n'});
    });
  </script>
{% endblock %}

{% block content %}

<div id="text">

  {% if user.bands.all|length > 0 %}
    <div id="yourbands">
      &nbsp;
    </div>
  {% endif %}

  <div id="greating" class="alpha grid_7">
    <div class="grid_4 alpha">
      <h1>{% blocktrans with user.first_name|default:user.username as username %}Heya, {{ username }}{% endblocktrans %}</h1>
    </div>
    <div id="user-settings" class="grid_3 omega">
      <a href="{% url userena_profile_edit user %}" class="button-tip minibutton btn-edit" title="Edit your informations"><span><span class="icon"></span>{% trans "Edit Your Profile" %}</span></a>
    </div>
  </div>

  <div id="usercard" class="grid_8 omega">
    <div id="avatar">
      <a href="{% url avatar_change %}">
	{% avatar user 80 %}
      </a>
    </div>
    <div id="user-infos">
      {% with user.get_profile as profile %}
	{% url userena_profile_edit user as edit_user_url %}
	<label for="name">{% trans "Name" %}</label><span id="name">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}[<a href="{% url userena_profile_edit user %}">{% trans "Click to set your name" %}</a>]{% endif %}</span>
	<label for="email">{% trans "E-mail" %}</label><span id="email"><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
	<label for="location">{% trans "Location" %}</label><span id="location">{{ profile.town|default:"????" }}, {{ profile.country|default:"Earth" }} {% if profile.country %}<img src="{{ profile.country.flag }}" alt="{{ profile.country.name }}" title="{{ profile.country.name }}"/>{% endif %}</span>
	<label for="joined">{% trans "Joined" %}</label><span id="joined">{{ user.date_joined|date:"d M Y" }}</span>
      {% endwith %}
    </div>
  </div>

  <div id="top-bar" class="alpha grid_15 omega">
    &nbsp;
  </div>

  <div class="alpha grid_11">

    {% if user.venue_memberships.all|length == 0 or user.band_memberships.all|length > 0 %}

    <div id="band-list">
      <div id="band-side">
	<img src="{% staticfile "/images/account/bands_ico.png" %}" alt="bands" width="90px" height="90px"/>
	<h2>{% trans "My Bands" %}</h2>

	<ul id="band-actions">
	  <li><a href="{% url band:create %}" class="button-tip minibutton btn-edit" title="{% trans "Create a new band" %}"><span><span class="icon"></span>{% trans "Create a new band" %}</span></a></li>
	</ul>

      </div>

      <div id="band-main">
        {% if user.band_memberships.all %}
	  <ul id="bands">
	    {% for band in user.bands.all %}
	      <li>
		<div class="band-picture">
		  {% staticfile '/images/band/no_picture.png' as default_pic %}
		  <a href="{% url band:detail band.slug %}">
		    <img id="photo" height="80px" width="80px" src="{{ band.pictures.avatar.avatar_image.url|default:default_pic }}" alt="Picture of {{ band.name }}" class="photo"/>
		  </a>
		</div>
		
		<div class="band-info">
		  <a href="{% url band:detail band.slug %}">
		    <span class="band-name">{{ band.name|capfirst }}</span>
		  </a>
		  <span class="band-location">{{ band.city }} {% if band.country %}<img src="{{ band.country.flag }}" alt="{{ band.country.name }}" title="{{ band.country.name }}"/>{% endif %}</span>
		  <span class="band-style">{{ band.genres|truncatewords:3 }}</span>
		</div>

		<!-- Latest activity -->
		<div class="band-activity">
		    <ul>
		      {% for action in band_latest_activity|hash:band.slug %}
			<li>{% display_action_short action %}. <span class="date">{{ action.timestamp|timesince }} ago</span></li>
			{% empty %}
			<li>{% trans "There is no activity yet for this band !" %}</li>
		      {% endfor %}
		    </ul>
		</div>

	      </li>
	    {% endfor %}
	  </ul>
	  
	{% else %}
	  <div id="no-band">
	    <p>
	      {{ user.first_name|default:user.username|capfirst }},
	    </p>
	    <p>
	      {% trans "You are <strong>not in a band yet</strong> :-(" %}
	    </p>
	    <p>
	      {% url band:create as band_create_url %}
	      {% url band:search as band_search_url %}
	      {% blocktrans with band_create_url as band_create_url and band_search_url as band_search_url %}
	      You can <a href="{{ band_create_url }}">create one now</a> or <a href="{{ band_search_url }}">check if your band is already on SpreadBand</a> and ask your friends to add you to it.
	      {% endblocktrans %}
	    </p>
	  </div>
	{% endif %}
	<div class="clear"></div>
      </div>
    </div>

    <div id="separator" class="clear"></div>

    {% endif %}

    {% if user.band_memberships.all|length == 0 or user.venue_memberships.all|length > 0 %}
    <div id="band-list">
      <div id="band-side">
	<img src="{% staticfile "/images/account/venues_ico.png" %}" alt="venues" width="90px" height="90px"/>
	<h2>{% trans "My Venues" %}</h2>

	<ul id="band-actions">
	  <li><a href="{% url venue:create %}" class="button-tip minibutton btn-edit" title="{% trans "Create a new venue" %}"><span><span class="icon"></span>{% trans "Create a new venue" %}</span></a></li>
	</ul>

      </div>

      <div id="band-main">
        {% if user.venue_memberships.all %}
	  <ul id="bands">
	    {% for venue in user.venues.all %}
	      <li>
		<div class="band-picture">
		  {% staticfile '/images/venue/no_picture.png' as default_pic %}
		  <a href="{% url venue:detail venue.slug %}">
		    <img id="photo" height="80px" width="80px" src="{{ venue.pictures.avatar.avatar_image.url|default:default_pic }}" alt="Picture of {{ venue.name }}" class="photo"/>
		  </a>
		</div>
		
		<div class="band-info">
		  <a href="{% url venue:detail venue.slug %}">
		    <span class="band-name">{{ venue.name|capfirst }}</span>
		  </a>
		  <span class="band-location">{{ venue.city }} {% if venue.country %}<img src="{{ venue.country.flag }}" alt="{{ venue.country.name }}" title="{{ venue.country.name }}"/>{% endif %}</span>
		  <span class="band-style">{{ venue.ambiance|truncatewords:3 }}</span>
		</div>

		<!-- Latest activity -->
		<div class="band-activity">
		    <ul>
		      {% for action in venue_latest_activity|hash:venue.slug %}
			<li>{% display_action_short action %}. <span class="date">{{ action.timestamp|timesince }} ago</span></li>
			{% empty %}
			<li>{% trans "There is no activity yet for this venue !" %}</li>
		      {% endfor %}
		    </ul>
		</div>

	      </li>
	    {% endfor %}
	  </ul>
	  
	{% else %}
	  <div id="no-band">
	    <p>
	      {{ user.first_name|default:user.username|capfirst }},
	    </p>
	    <p>
	      {% trans "You are <strong>not managing a venue</strong>." %}
	    </p>
	    <p>
	      {% url venue:create as venue_create_url %}
	      {% url venue:search as venue_search_url %}
	      {% blocktrans with venue_create_url as venue_create_url and venue_search_url as venue_create_url %}
	      You can <a href="{{ venue_create_url }}">create one now</a> or <a href="{{ venue_search_url }}">check if your venue is already on SpreadBand</a>.
	      {% endblocktrans %}
	    </p>
	  </div>
	{% endif %}
	<div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>    
    {% endif %}

    {% with user.band_memberships.all|length as band_count %}
      {% with user.venue_memberships.all|length as venue_count %}
	{% if venue_count and not band_count %}
	  {% url band:create as band_create_url %}
	  <div id="register-other-type">
	    {% blocktrans with band_create_url as url %}Also in a band? <a href="{{ url }}">Register it now</a>!{% endblocktrans %}
	  </div>
	{% else %}
	  {% if band_count and not venue_count %}
	    {% url venue:create as venue_create_url %}
	    <div id="register-other-type">
	      {% blocktrans with venue_create_url as url %}Also running a venue? <a href="{{ url }}">Register it now</a>!{% endblocktrans %}
	    </div>	    
	  {% endif %}
	{% endif %}
    {% endwith %}
    {% endwith %}


  </div>


  <div id="right-sidebar" class="grid_4 omega">
    <div id="right-sidebar-content">

      <div id="user-connections">
	<div class="header">
	  <img class="icon" src="{% staticfile "/images/account/connections_ico.png" %}" width="20px"/>	  
	  <h3>{% trans "Connections since a month" %} ({{ user_connections|length }})</h3>
	</div>
	{% if user_connections %}
	<ul>
	  {% for user in user_connections %}
	    <li><a class="tip" title="{{ user.get_full_name|default:user.username }}" href="{{ user.get_profile.get_absolute_url }}"><img class="link" src="{% avatar_url user 30 %}" width="30px" height="30px" alt="{{ user.get_full_name|default:user.username }}"/></a></li>
	  {% endfor %}
	</ul>
	{% else %}
	  <img src="{% staticfile "/images/account/no_connection_yet.png" %}" alt="{% trans "No connections yet" %}"/>
	  <span>{% trans "You'll find here connections with other musicians" %}<span>
	{% endif %}
      </div>
      
      
      <div id="notifications">
	<div>
	  <img class="icon" src="{% staticfile "/images/account/alert.png" %}" width="20px"/>
	  <h3>{% trans "Latest Notifications" %}</h3>
	</div>

	<span id="mark_as_seen">{% trans "Actions:" %} <a href="{% url notification_notice_settings %}"><span>{% trans "Settings" %}</span></a> - <a href="{% url notification_mark_all_seen %}">{% trans "Mark all unseen notices seen" %}</a>.</span>
	
	{# TODO: get timezone support working with regroup #}
	{% regroup notices by added.date as notices_by_date %}
	
	{% for date in notices_by_date %}
	  <h4 class="notice_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h4>
	  <div class="notice_since">	
	    <span class="notice_since">{% blocktrans with date.grouper|timesince as time_since %}{{ time_since }} ago{% endblocktrans %}</span>
	  </div>

	  
	  {% if notices %}
	    
	    {% for notice in date.list %}
	      
	      {% if notice.unseen %}
		<div class="unseen_notice">
	      {% else %}
		<div class="seen_notice">
	      {% endif %}
	      
	          <span class="notice_message">{{ notice.message|safe }}</span>.
		</div>
		
	    {% endfor %}

	  {% endif %}

	  {% empty %}
	  <p id="no-notices-yet">{% trans "You have no notices yet." %}</p>
	{% endfor %}
	</div>
      </div>
    </div>
    
  <div class="grid_8 alpha" id="greating">

  </div>

</div>

{% endblock %}
