{% extends "base.html" %}

{% block content %}

{% load bargaintags %}

<H3> contract </h3>
{% if contract.is_concluded %}
contract concluded
{% else %}
contract not concluded
{% endif %}

<h4>Parties</h4>

<ul>
{% for contract_party in contract_parties %}
<li><a href="{{ contract_party.party.content_object.get_absolute_url }}">{{ contract_party.party.content_object }}</a> -- {{ contract_party.approved }}
{% if contract_party.initiator %}
  [initiator]
{% endif %}
</li>
{% endfor %}
</ul>

{# <a href="{% url bargain:contract-update contract.id %}">update</a> #}

<h4>Terms</h4>

{% include subtemplate_name %}

{% endblock %}

