{% extends "account/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block title %}
{% trans "Profile settings" %}
{% endblock %}

{% block account_content %}
  <div id="forms" class="grid_8 alpha">
    <form class="fuzzyform">
      <label for="id_avatar">{% trans "Avatar" %}</label>
      <div id="id_avatar">
	{% avatar user 80 %}
	<span>
	  <a href="{% url avatar_change %}">{% trans "Change it" %}</a> {% trans "or" %} <a href="{% url avatar_delete %}">{% trans "delete it" %}</a>.
	</span>
      </div>
    </form>
    
    <form method="POST" action="" class="fuzzyform">
      {{ form.as_p }}
      <label for="id_submit"></label>
      <input id="id_submit" type="submit" name="submit" value="{% trans "Update" %}" id="submit" />
    </form>
  </div>

  <div id="sidebar" class="grid_4 prefix_1 omega">
    <h2>{% trans "Your Profile" %}</h2>
    {% blocktrans %}
    Please describe yourself there. These information are important so that others can better know who you are.
    {% endblocktrans %}
  </div>
  
{% endblock %}
