{% extends "base.html" %}

{% load django_static %}
{% load i18n %}
{% load avatar_tags %}
{% load humanize %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/user_dashboard.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
	$('a.tip').tipsy({gravity: 'n'});
    });
  </script>
{% endblock %}

{% block title %}
{% trans "Public profile of" %} {{ profile.user.get_full_name|default:profile.user.username }}
{% endblock %}


{% block content %}

<div id="text">

  <div id="greating" class="alpha grid_7">
      <h1>{% blocktrans with profile.user.get_full_name|default:profile.user.username as username %}Public profile of {{ username }}{% endblocktrans %}</h1> 
  </div>

  <div id="usercard" class="grid_8 omega">
    <div id="avatar">
      {% avatar profile.user 80 %}
    </div>
    <div id="user-infos">
	<label for="name">{% trans "Name" %}</label><span id="name">{{ profile.user.get_full_name|default:"???" }}</span>
	<label for="location">{% trans "Location" %}</label><span id="location">{{ profile.town|default:"Somewhere" }}, {{ profile.country|default:"Earth" }} {% if profile.country %}<img src="{{ profile.country.flag }}" alt="{{ profile.country.name }}" title="{{ profile.country.name }}"/>{% endif %}</span>
	<label for="joined">{% trans "Joined" %}</label><span id="joined">{{ user.date_joined|date:"d M Y" }}</span>
	<label for="last-login">{% trans "Last login" %}</label><span id="last-login">{{ user.last_login|naturalday }}</span>
    </div>
  </div>

  <div id="top-bar" class="alpha grid_15 omega">
    &nbsp;
  </div>

  <div class="alpha grid_11">

    {% if profile.user.bands.all|length %}
    <div id="band-list">
      <div id="band-side">
	<img src="{{ STATIC_URL }}images/account/bands_ico.png" alt="bands" width="90px" height="90px"/>
	<h2>{% trans "Her/His Bands" %}</h2>
      </div>

      <div id="band-main">
        {% if profile.user.band_memberships.all %}
	  <ul id="bands">
	    {% for band in profile.user.bands.all %}
	      <li>
		<div class="band-picture">
		  {% staticfile '/images/band/no_picture.png' as default_pic %}
		  <a href="{% url band:detail band.slug %}">
		    <img id="photo" height="80px" width="80px" src="{{ band.pictures.avatar.avatar_image.url|default:default_pic }}" alt="Picture of {{ band.name }}" class="photo"/>
		  </a>
		</div>
		
		<div class="band-info">
		  <a href="{% url band:detail band.slug %}">
		    <span class="band-name">{{ band.name|capfirst }}</span>
		  </a>
		  <span class="band-location">{{ band.city }} {% if band.country %}<img src="{{ band.country.flag }}" alt="{{ band.country.name }}" title="{{ band.country.name }}"/>{% endif %}</span>
		  <span class="band-style">{{ band.genres|truncatewords:3 }}</span>
		</div>
	      </li>
	    {% endfor %}
	  </ul>

	  <div class="clear"></div>
	{% endif %}
      </div>
    </div>
    {% endif %}

    <div class="clear"></div>

    {% if profile.user.venues.all|length %}
    <div id="band-list">
      <div id="band-side">
	<img src="{{ STATIC_URL }}images/account/venues_ico.png" alt="venues" width="90px" height="90px"/>
	<h2>{% trans "Her/His Venues" %}</h2>
      </div>

      <div id="band-main">
        {% if profile.user.venue_memberships.all %}
	  <ul id="bands">
	    {% for venue in profile.user.venues.all %}
	      <li>
		<div class="band-picture">
		  {% staticfile '/images/venue/no_picture.png' as default_pic %}
		  <a href="{% url venue:detail venue.slug %}">
		    <img id="photo" height="80px" width="80px" src="{{ venue.pictures.avatar.avatar_image.url|default:default_pic }}" alt="Picture of {{ venue.name }}" class="photo"/>
		  </a>
		</div>
		
		<div class="band-info">
		  <a href="{% url venue:detail venue.slug %}">
		    <span class="band-name">{{ venue.name|capfirst }}</span>
		  </a>
		  <span class="band-location">{{ venue.city }} {% if venue.country %}<img src="{{ venue.country.flag }}" alt="{{ venue.country.name }}" title="{{ venue.country.name }}"/>{% endif %}</span>
		  <span class="band-style">{{ venue.genres|truncatewords:3 }}</span>
		</div>
	      </li>
	    {% endfor %}
	  </ul>

	  <div class="clear"></div>
	{% endif %}
      </div>
    </div>

    {% endif %}
  </div>


  <div id="right-sidebar" class="grid_4 omega">
    <div id="right-sidebar-content">

      <div id="user-connections">
	<div class="header">
	  <img class="icon" src="{{ STATIC_URL }}images/account/connections_ico.png" width="20px"/>	  
	  <h3>{% trans "Connections since a month" %} ({{ user_connections|length }})</h3>
	</div>
	{% if user_connections %}
	<ul>
	  {% for user in user_connections %}
	    <li><a class="tip" title="{{ user.get_full_name|default:user.username }}" href="{{ user.get_profile.get_absolute_url }}"><img class="link" src="{% avatar_url user 30 %}" width="30px" height="30px" alt="{{ user.get_full_name|default:user.username }}"/></a></li>
	  {% endfor %}
	</ul>
	{% else %}
	  <img src="{{ STATIC_URL }}images/account/no_connection_yet.png" alt="{% trans "No connections yet" %}"/>
	  <span>{% trans "You'll find here connections with other musicians" %}<span>
	{% endif %}
      </div>
    </div>      
  </div>
</div>


{% endblock %}
