{% extends "base.html" %}

{% load django_static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/login.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/fuzzyform.css" media="screen, projection" />
{% endblock %}

{% block content %}

<div id="text">
  <div id="leftcol" class="grid_7 suffix_1">

    <div class="grid_7">
      <h1>{% trans "Hi !" %}</h1>
      
      <form class="fuzzyform" method="post" action=".">
	{{ form.as_p }}
	<input type="hidden" name="next" value="{{ next }}" />
	
	<div class="grid_7 alpha omega">

	  <div class="grid_4 alpha">
	    <img id="bandillu" src="{% staticfile "images/structure/login/band.png" %}" width="236px" />
	  </div>
	  <div class="grid_3 omega">
	    <input type="submit" value="{% trans 'Let me in !' %}" />
	    <p id="forgotpasswd">{% trans "Have you" %} <a href="{% url userena_password_reset %}">{% trans "forgotten your password" %}</a> ?</p>
	  </div>

	</div>
	
      </form>
      
    </div>
    
    
    <div class="grid_7">
      <div id="attentionbox">
	<div>
	  <span id="attention">{% trans "Don't forget" %}</span>
	  <img src="{% staticfile "images/structure/login/addressbar.png" %}"/>
	</div>
	<div id="attentiontext">
	  {% trans "Vérifiez toujours dans la barre d'adresse du navigateur que vous êtes bien sur le site spreadband.com avant de vous identifier." %}
	  <a href="#">Learn more</a>&nbsp;&raquo;
	</div>
      </div>
    </div>


  </div>

  <div id="rightcol" class="grid_6">
    <h2>{% trans "New here ?" %}</h2>

    <img src="{% staticfile "images/structure/login/new.png" %}" width="300px" />
    <p id="registernow"><a href="{% url userena_signup %}">{% trans "Signup now" %}</a> {% trans "for a SpreadBand account, it's free and takes less than a minute !" %}</p>

    <h3>{% trans "What is SpreadBand ?" %}</h3>
    <p>FIXME
    </p>

    <p id="tour"><a href="">{% trans "Take a tour !" %}</a>&nbsp;&raquo;</p>

  </div>
</div>
{% endblock %}
