{% extends "base.html" %}

{% load scheduletags %}

{% block content %}

Das band :

{{ band.name }} 

{% if band.website %}
( <a href="{% url minisite:detail band.website.id %}">site</a> )
{% else %}
( this band has no website )
{% endif %}

<p>
  Members<br>
  <ul>
    {% for member in band.members.all %}
    <li>{{ member.user.first_name }} {{ member.user.last_name }} 
      ({{ member.user.username }}) as {{ member.role.label }}</li>
    {% endfor %}
  </ul>
</p>

<p>
  Calendar<br>
  {% month_table band.calendar period "regular" %}
</p>
  
{% endblock %}
