{% extends "bands/base.html" %}

{% load scheduletags %}

{% block band_content %}

<h4>Biography</h4>
<p>{{ band.biography }}</p>

<h4>Members</h4>
<p>
  <ul>
    {% for member in band.members.all %}
    <li>{{ member.user.first_name }} {{ member.user.last_name }} 
      ({{ member.user.username }}) as {{ member.role.label }}</li>
    {% endfor %}
  </ul>
</p>

<h4>Calendar</h4>
<p>
  {% month_table band.calendar period "regular" %}
</p>

<h4>Albums</h4>
<p>
  <ul>
    {% for album in band.albums.all %}
    <li>{{ album.name }}</li>
    {% endfor %}
  </ul>
</p>
</div>

{% endblock %}
