{% extends "account/base.html" %}

{% load i18n %}

{% block account_content %}
  <div id="forms" class="grid_8 alpha">
    <form class="fuzzyform">
      <label for="id_avatar">Avatar</label>
      <div id="id_avatar">
	{% if profile.avatar %}
	  <img src="{{ profile.avatar.avatar_image.url }}" />
	  <span>
	  <a href="{% url account:avatar %}">{% trans "Change it" %}</a> or delete it.
	{% else %}
	  {% trans "No avatar is defined."%} <a href="{% url account:avatar %}" class="button-tip minibutton btn-edit" title="Set Your Avatar"><span><span class="icon"></span>{% trans "Set Your Avatar" %}</span></a>
	{% endif %}
	</span>
      </div>
    </form>
    
    <form method="POST" action="" class="fuzzyform">
      {{ form.as_p }}
      <label for="id_submit"></label>
      <input id="id_submit" type="submit" name="submit" value="{% trans "Update" %}" id="submit" />
    </form>
  </div>

  <div id="sidebar" class="grid_4 prefix_1 omega">
    <h2>{% trans "Your Profile" %}</h2>
    {% blocktrans %}
    Please describe yourself there. These information are important so that others can better know who you are.
    {% endblocktrans %}
  </div>
  
{% endblock %}
