{% extends "account/base.html" %}

{% load avatar_tags %}
{% load i18n %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}css/avatar/imgareaselect-animated.css" type="text/css" media="screen" charset="utf-8">

<style type="text/css">
        #picture {
            text-align: center;
        }


        #forms #crop_form.fuzzyform {
            text-align: center;
        }
</style>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/avatar/jquery.imgareaselect-0.9.2.js"></script>
<script type="text/javascript">
function preview(img, selection) {
    function make_preview(target, height, width) {
	left = selection.x1 * ({{orig_size.0}} / {{ display_size.0 }});
	right = selection.x2 * {{orig_size.0}} / {{ display_size.0 }};
	top = selection.y1 * {{orig_size.1}} / {{ display_size.1 }};
	bottom = selection.y2 * {{orig_size.1}} / {{ display_size.1 }};
	scaleX = width / (right - left);
	scaleY = height / (bottom - top);

	$(target).css({
            width: Math.round({{orig_size.0}} * scaleX) + "px",
            height: Math.round({{orig_size.1}} * scaleY) + "px",
            marginLeft: "-" + Math.round(scaleX * left) + "px",
            marginTop: "-" + Math.round(scaleY * top) + "px"
	});
    }

    make_preview("#small_crop_preview", 36.0, 36.0);
    make_preview("#big_crop_preview", 80.0, 80.0);

    $("#id_crop_top").val(Math.round(top));
    $("#id_crop_left").val(Math.round(left));
    $("#id_crop_bottom").val(Math.round(bottom));
    $("#id_crop_right").val(Math.round(right));
}

$(window).load(function () {
    $("#crop_avatar").imgAreaSelect({ aspectRatio: "1:1", onSelectChange: preview, onInit: preview, handles: true, x1:"0", y1:"0", x2:"{{initial_crop}}",y2:"{{initial_crop}}"});
});
</script>
{% endblock %}

{% block account_content %}

<div id="forms" class="alpha grid_8">
    <div id="picture">
      {% render_orig_avatar avatar display_size %}
    </div>
    <form id="crop_form" action="." method="post" class="fuzzyform">
      {% csrf_token %}
        {{ crop_avatar_form.as_p }}
	<input type="hidden" name="next" value="{% url avatar_change %}"/>
        <input type="submit" value="{% trans "Crop" %}" />
    </form>
</div>
<div id="sidebar" class="grid_4 prefix_1 omega">
  <h2>{% trans "Avatar cropping" %}</h2>
  <p>
  {% blocktrans %}
    Use your mouse to select an area of the picture. You can see a preview of your avatar below this text.
  {% endblocktrans %}
  </p>

  <div class="alpha grid_2">
    <h3>{% trans "Small" %}</h3>
    <div class="small-preview-window">
      {% render_crop_preview avatar 36 36 'small_crop_preview' %}
    </div>
  </div>
  <div class="grid_2 omega">
    <h3>{% trans "Large" %}</h3>
    <div class="big-preview-window">
      {% render_crop_preview avatar 80 80 'big_crop_preview' %}
    </div>
  </div>

  <div id="current-cropping" class="grid_4 alpha omega">
    <h2>{% trans "Current Cropping" %}</h2>
    {% render_avatar avatar %}
    <p>
    {% blocktrans %}
    For reference, here's your current cropping. Your new cropping will replace this one.
    {% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}