{% load django_static %}
{% load elsewhere_tags %}
{% load oembed_tags %}
{% load markup %}
{% load reviews_tags %}
{% load i18n %}

<div id="presskit-sidebar" class="grid_3 alpha">
  <div id="bandavatar" class="grid_3 alpha omega">
    {% if band.pictures.avatar %}
      <img src="{{ band.pictures.avatar.thumbnail_image.url }}" width="172px" alt="band avatar" />
    {% else %}
      <img src="{% staticfile '/images/band/no_picture.png' %}" width="172px" alt="no band avatar" />
    {% endif %}
  </div>

  <div id="genres" class="grid_3 alpha omega">
    {% if band.genres %}
      {% trans "<strong>Genres</strong>:" %} {{ band.genres }}
    {% else %}
      {% trans "No genre."%}
    {% endif %}
  </div>

  <div id="influences" class="grid_3 alpha omega">
    {% if band.influences %}
      {% trans "<strong>Influences</strong>:" %} {{ band.influences }}.
    {% else %}
      {% trans "No influences." %}
    {% endif %}
  </div>
  
  <!-- Band members -->
  <div id="bandmembers" class="grid_3 alpha omega">
    <h3>{% trans "Members" %} ({{ band.band_members.count }})</h3>
    <a href="{% url band:membership-manage band.slug %}" class="button-tip minibutton" title="Edit"><span>{% trans "Edit" %}</span></a>

    {% staticfile '/images/account/no_avatar.png' as default_avatar %}
    <ul>
      {% for member in band.band_members.all %}
	<li>
	  <img src="{{ member.user.get_profile.avatar.small_avatar_image.url|default:default_avatar }}" width="48px" height="48px"><a href="{{ member.user.get_profile.get_absolute_url }}">{{ member.user.get_full_name|default:member.user.username }}</a>
	  <span class="bandmember_whois">{{ member.user.get_profile.genre|default:"?" }}, {{ member.user.get_profile.age|default:"-" }} y-o.</span>
	  <span class="bandmember_role" title="{{ member.roles.all|join:", " }}">{{ member.roles.all|join:", "|truncatewords:3 }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>

  <!-- Latest gigs -->
  <div id="latest-gigs" class="grid_3 alpha omega">
    <h3>{% trans "Latest Gigs" %}</h3>
    {% if latest_gigs %}
      <ul>
	{% for gig in latest_gigs %}
	  <li>
	    {{ gig.event_date|date:"d M Y" }}: <a href="{{ gig.get_absolute_url }}">{{ gig.venue.name|capfirst }}</a>
	  </li>
	{% endfor %}
      </ul>
    {% else %}
      {% trans "This band has no recent gigs." %}
    {% endif %}
  </div>

  <!-- Social networks -->
  <div id="socialnets" class="grid_3 alpha omega">
    <h3>{% trans "Social Networks" %}</h3>
    <a href="{% url band:socialnet-edit band.slug %}" class="button-tip minibutton" title="Edit"><span>{% trans "Edit" %}</span></a>

    <ul>
      {% for socialnetwork in band.socialnetworks.all %}
	<li>
	  <img src="{{ socialnetwork.network.icon_url }}" alt="{{ socialnetwork.network.name }}" />
	  <a href="{{ socialnetwork.url }}" target="_blank" title="{{ socialnetwork.url }}">{{ socialnetwork.username|capfirst }}</a>
	</li>
      {% empty %}
	<li>{% trans "No social profile" %}</li>
      {% endfor %}
    </ul>

  </div>

  <!-- Websites -->
  <div id="websites" class="grid_3 alpha omega">
    <h3>{% trans "Websites" %}</h3>
    <a href="{% url band:socialnet-edit band.slug %}" class="button-tip minibutton" title="Edit"><span>{% trans "Edit" %}</span></a>

    <ul>
      {% for website in band.websites.all %}
	<li>
	  <img src="{{ website.icon_url }}" alt="Website" />
	  <a href="{{ website.url }}" target="_blank" title="{{ website.url }}">{{ website.name|capfirst }}</a>
	</li>
      {% empty %}
	<li>{% trans "No website" %}</li>
      {% endfor %}
    </ul>

  </div>

  <!-- stats -->
  <div id="stats" class="grid_3 alpha omega">
    <h3>{% trans "A few stats" %} (<acronym title="{% trans "Work-in-progress, don't expect it to work :)" %}">WIP</acronym>)</h3>
    <ul>
      {% if band.founded_on %}
	<li>{% blocktrans with band.founded_on|date:"M Y" as date %} Active since {{ date }}{% endblocktrans %}</li>
      {% endif %}
      <li>{% trans "Already played X gigs" %}</li>
      <li>{% trans "Played with Y other bands" %}</li>
      <li>{% trans "Played at Z venues" %}</li>
    </ul>
  </div>


</div>

<div id="presskit-main" class="grid_12 omega">
  <h1>{% trans "PressKit" %} &raquo; <a href="{{ band.get_absolute_url }}">{{ band.name }}</a> ({{ band.city|default:"Somewhere" }}, {{ band.country|default:"Earth" }})</h1>

  <div class="grid_7 alpha">
    <div id="biography" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/biography_ico.png' %}" alt="biography"/>
	<h2>{% trans "Biography" %}</h2>
	<a href="{% url band:edit band.slug %}#id_technical_sheet" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      </div>
      <div class="separator"></div>
      <div class="content">
	{% if band.biography %}
	  {{ band.biography|capfirst|safe|truncatewords_html:100 }}[<a href="#">{% trans "Read more" %}</a>]
	{% else %}
	  {% trans "No biography." %}
	{% endif %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var map;

    function init(){
        map = new OpenLayers.Map('map', {controls: []});
	map.addControl(new OpenLayers.Control.MouseToolbar());

        var layer = new OpenLayers.Layer.OSM()
        map.addLayer(layer);

	var venue = new OpenLayers.LonLat({{ band.place.geom.x|stringformat:"0.5f" }}, {{ band.place.geom.y|stringformat:"0.5f" }}) // Center of the map
            .transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
		       new OpenLayers.Projection("EPSG:900913"));

	var markers = new OpenLayers.Layer.Markers("Markers")
	map.addLayer(markers)
	markers.addMarker(new OpenLayers.Marker(venue));

	map.setCenter(venue,
		      4 // Zoom level
		     );

    };

    $(document).ready(init);
  </script>


  <script type="text/javascript">
    $(document).ready(function() {
	// run galleria and add some options
	Galleria.loadTheme('{{ MEDIA_URL }}/css/galleria/themes/classic/galleria.classic.js');

	$('#gallery').galleria({
            image_crop: true, // crop all images to fit
            thumb_crop: true, // crop all thumbnails to fit
            transition: 'fade', // crossfade photos
            transition_speed: 700, // slow down the crossfade
	    autoplay: true,
            data_config: function(img) {
		// will extract and return image captions from the source:
		return  {
                    title: $(img).parent().next('strong').html(),
                    description: $(img).parent().next('strong').next().html()
		};
            },
            extend: function() {
		this.bind(Galleria.IMAGE, function(e) {
                    // bind a click event to the active image
                    $(e.imageTarget).css('cursor','pointer').click(this.proxy(function() {
			// open the image in a lightbox
			this.openLightbox();
                    }));
		});
            }
	});


	function changeTrack(e) {
	    $("#trackname").text($(this).text());
	    $("#audio_player").jPlayer("setFile", $(this).attr("mp3"), $(this).attr("ogg")).jPlayer("play");
	    $(this).blur();
	    return false;
	};


	$(".track").click( changeTrack );


    });
  </script>


  <div class="grid_5 omega">
    <div id="location" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/location_ico.png' %}" alt="location"/>
	<h2>{% trans "Location" %}</h2>
	<a href="{% url band:edit band.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      </div>
      <div class="separator"></div>
      <div class="content">
	<div style="height: 200px; width: 100%" id="map" class="smallmap"></div>
      </div>
    </div>
  </div>

  <div class="grid_12 alpha omega">

    <script type="text/javascript" src="{% staticfile '/js/jquery/jquery.jplayer.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
	  function changeTrack(e) {
	      $("#player-status").text("Playing " + $(this).text() + "...");
	      $("#audio_player").jPlayer("setFile", $(this).attr("href")).jPlayer("play");
	      $(this).blur();
	      return false;
	  }


	  // Local copy of jQuery selectors, for performance.
	  var jpPlayTime = $("#jplayer_play_time");
	  var jpTotalTime = $("#jplayer_total_time");

	  $("#audio_player").jPlayer({
	      // oggSupport: true,
	      nativesupport: true,
	      preload: 'auto',
	      swfPath: '{{ MEDIA_URL }}/flash/',
	      customCssIds: true
	  }).jPlayer("cssId", "stop", "player-stop");

	  $(".track").click(changeTrack)
      });
    </script>


    <div id="tracks" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/tracks_ico.png' %}" alt="tracks"/>
	<h2>{% trans "Featured Tracks" %} (WIP)</h2>
	<a href="{% url presskit:presskit-tracks band.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      </div>
      <div class="separator"></div>
      <div class="content">

	<div id="audio_player"></div>

	{% if presskit.tracks.count %}
	  <ul>
	    {% for track in presskit.tracks.all %}
	      <li><a class="track" href="{{ track.file.url }}">{{ track.title }}</a> {% if track.albumtrack %}(Album: <a href="{{ track.albumtrack.album.get_absolute_url }}">{{ track.albumtrack.album.name }}</a>){% endif %}</li>
	    {% endfor %}
	  </ul>

	  <span id="player-status">Not playing</span> - (<a id="player-stop" href="#">Stop</a>) <strong>(WIP)</strong>
	{% else %}
	  {% trans "You have not uploaded any tracks yet. You should do so if you want the venues to book you !" %}
	{% endif %}
      </div>
    </div>
  </div>

  <div class="grid_6 alpha">
    <div id="pictures" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/pictures_ico.png' %}" alt="pictures"/>
	<h2>{% trans "Pictures" %}</h2>
	<a href="{% url band:band-pictures band.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      </div>
      <div class="separator"></div>
      <div class="content">
	<div id="gallery" style="height: 300px;">
	  {% for picture in band.pictures.all %}
	    <a href="{{ picture.original_image.url }}">
	      <img src="{{ picture.thumbnail_image.url }}" alt="image" />
	    </a>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>

  <div class="grid_6 omega">
    <script type="text/javascript">
      $(document).ready(function() {
	  $('.modal-popup').boxy({draggable: false, modal: true});
      });
    </script>

    <div id="video" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/video_ico.png' %}" alt="video"/>
	<h2>{% trans "Video" %}</h2>
	<a href="{% url presskit:presskit-video band.slug %}" class="modal-popup button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      </div>
      <div class="separator"></div>
      <div class="content">
	{% if presskit.video %}
	  {% oembed 320x240 %}
	  {{ presskit.video }}
	  {% endoembed %}
	{% else %}
	  {% trans "No video has been set." %}
	{% endif %}
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="grid_6 alpha">
    <div id="techsheet" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/techsheet_ico.png' %}" alt="tech sheet"/>
	<h2>{% trans "Technical Sheet" %}</h2>
	<a href="{% url band:edit band.slug %}#id_technical_sheet" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      </div>
      <div class="separator"></div>
      <div class="content">
	{% if band.technical_sheet %}
	  {{ band.technical_sheet|safe }}
	{% else %}
	  {% trans "No technical sheet." %}
	{% endif %}
      </div>
    </div>
  </div>

  <div class="grid_6 omega">
    <div id="reviews" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/reviews_ico.png' %}" alt="reviews"/>
	<h2>{% trans "Latest reviews" %} (WIP)</h2>
      </div>
      <div class="separator"></div>
      <div class="content">
	({% average_for_instance band %})
	{% reviews_for_instance band %}
      </div>
    </div>
  </div>

</div>
