{% extends "venue/base.html" %}

{% load django_static %}
{% load i18n %}
{% load humanize %}

{% block venue_section %}
  {% trans "Gig Request" %}
{% endblock %}

{% block css %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="/css/presskit_viewrequest.css" media="screen, projection" />
{% endblock %}

{% block venue_content %}

  <div class="grid_4 alpha">
    <h3>{% trans "Request details" %}</h3>
    
    <div id="venue">
      {% if band.pictures.avatar %}
	<img class="avatar" src="{{ band.pictures.avatar.thumbnail_image.url }}" width="80px" height="80px" alt="band avatar" />
      {% else %}
	<img class="avatar" src="{% staticfile '/images/band/no_picture.png' %}" width="80px" height="80px" alt="no band avatar" />
      {% endif %}
      
      <div class="infos">
	<span class="name"><a href="{{ band.get_absolute_url }}">{{ band.name }}</a></span>
	<span class="addr">{{ band.city }}, {% if band.country %}<img src="{{ band.country.flag }}" alt="{{ band.country.name }}" title="{{ band.country.name }}"/>{% endif %}</span>
	<span class="style">{{ band.genres }}</span>
      </div>
    </div>

    <div class="clear"></div>

    
    <div id="state" class="infoline">
      <div class="label">{% trans "State:" %}</div>
      <div class="state state-{{ viewrequest.state|lower }}">{{ viewrequest.get_state_display }}</div>
    </div>

    <div class="infoline">
      <div class="label">{% trans "Last update:" %}</div>
      <div class="data">{{ viewrequest.modified_on|timesince }}</div>
    </div>

    <div class="infoline">
      <div class="label">{% trans "Sent on:" %}</div>
      <div class="data">{{ viewrequest.sent_on|naturalday|capfirst }}</div>
    </div>

    <div class="infoline">
      <div class="label">{% trans "Sent by:" %}</div>
      <div class="data"><a href="{{ viewrequest.sent_by.get_profile.get_absolute_url }}">{{ viewrequest.sent_by.first_name|default:viewrequest.sent_by.username }}</a></div>
    </div>

  </div>
  
  {% load comments %}
  {% load threadedcomments_tags %}
  <div class="grid_11 omega">
    <div id="discuss-wrapper">    

      <div id="request-actions-box">
	{% if viewrequest.state == 'A' %}
	  <h3>{% blocktrans with band.name as band_name %}You have <span class='accepted'>accepted</span> to set up a gig with {{ band_name }}!{% endblocktrans %}</h3>
	{% endif %}

	{% if viewrequest.state == 'D' %}
	  <h3>{% blocktrans with band.name as band_name %}You have <span class='declined'>declined</span> to set up a gig with {{ band_name }}.{% endblocktrans %}</h3>
	{% endif %}

	{% if viewrequest.state == 'P' or viewrequest.state == 'S' %}

	  <h3>{% trans "Your answer" %}</h3>

	  <p>
	    {% blocktrans with band.name as band_name and band.get_absolute_url as band_url %}So, are you interested by setting up a gig with <a href="{{  band_url }}"><strong>{{ band_name }}</strong></a> ? If so, then accept and discuss about the conditions (when, fees, ...).{% endblocktrans %}
	  </p>
	  
	  <div class="buttons">
	    <a href="{% url venue:presskit-viewrequest-venue-accept venue.slug viewrequest.pk %}" class="button-tip minibutton btn-fork" title="{% trans "Accept" %}"><span><span class="icon"></span>{% trans "Let's organize a gig!" %}</span></a>
	    <a href="{% url venue:presskit-viewrequest-venue-refuse venue.slug viewrequest.pk %}" class="button-tip minibutton btn-kick" title="{% trans "Refuse" %}"><span><span class="icon"></span>{% trans "Sorry, I'm not interested" %}</span></a>
	  </div>

	{% endif %}
      </div>


      <h3>{% blocktrans with band.get_absolute_url as band_url and band.name as band_name %}Discuss about this request with &laquo;&nbsp;<a href="{{ band_url }}">{{ band_name }}</a>&nbsp;&raquo;{% endblocktrans %}</h3>
      
      {% get_comment_list for viewrequest as comment_list %}

	<ul id="comments">
	  {% for comment in comment_list %}
	    <li>
	      <div class="comment">
		<a name="c{{ comment.id }}"></a>

		{% if band in comment.user.bands.all %}
		  {% if band.pictures.avatar %}
		    <img src="{{ band.pictures.avatar.thumbnail_image.url }}" width="40px" height="40px" alt="{% trans "band avatar" %}" />
		  {% else %}
		    <img src="{% staticfile '/images/band/no_picture.png' %}" width="40px" height="40px" alt="{% trans "no band avatar" %}" />
		  {% endif %}
		{% endif %}

		{% if venue in comment.user.venues.all %}
		  {% if venue.pictures.avatar %}
		    <img src="{{ venue.pictures.avatar.thumbnail_image.url }}" width="40px" height="40px" alt="{% trans "venue avatar" %}" />
		  {% else %}
		    <img src="{% staticfile '/images/venue/no_picture.png' %}" width="40px" height="40px" alt="{% trans "no venue avatar" %}" />
		  {% endif %}
		{% endif %}


		<div class="text">
		  <span class="who">
		    {% if forloop.last and has_news %}<strong>{% endif %}

		    {% blocktrans with comment.user.first_name|default:comment.user.username as comment_user and comment.user.get_profile.get_absolute_url as user_url and band.name as band_name %}<a href="{{ user_url }}"><cite>{{ comment_user }}</cite></a> of{% endblocktrans %}
		    {% if band in comment.user.bands.all %}
		      {{ band.name }}
		    {% endif %}
		    {% if venue in comment.user.venues.all %}
		      {{ venue.name }}
		    {% endif %}
		    {% blocktrans %} said:{% endblocktrans %}</span>

		    {% if forloop.last and has_news %}</strong>{% endif %}

		    <span class="when">{% blocktrans with comment.submit_date as submit_date and comment.submit_date|timesince as date_ago %}{{ submit_date }} ({{date_ago }} ago){% endblocktrans %}</span>
		    <div class="message">
		      {% if forloop.last and has_news %}<strong>{% endif %}
		      <q>{{ comment.comment|linebreaksbr }}</q>
		      {% if forloop.last and has_news %}</strong>{% endif %}
		    </div>
		  </div>
		</div>
	    </li>
	  {% endfor %}
	</ul>


      {% get_comment_form for viewrequest as comment_form %}
	<div id="comment-form-wrapper" class="alpha omega grid_10">
	  <div id="comment-me">
	    {% if venue.pictures.avatar %}
	      <img src="{{ venue.pictures.avatar.thumbnail_image.url }}" width="40px" height="40px" alt="{% trans "venue avatar" %}" />
	    {% else %}
	      <img src="{% staticfile '/images/venue/no_picture.png' %}" width="40px" alt="{% trans "no venue avatar" %}" />
	    {% endif %}
	  </div>

	  <span class="who">{% blocktrans with venue.name as venue_name %}{{ venue_name }} says:{% endblocktrans %}
	  <form id="comment-form" method="POST" action="{% comment_form_target %}">
	    {% csrf_token %}
	    {{ comment_form.comment }}
	    {{ comment_form.content_type }}
	    {{ comment_form.object_pk }}
	    {{ comment_form.timestamp }}
	    {{ comment_form.security_hash }}
	    {{ comment_form.parent }}
	    <input type="hidden" name="next" value="{% url venue:presskit-viewrequest-venue-comment venue.slug viewrequest.id %}" />

	    <input type="submit" value="{% trans "Send" %}"/>
	  </form>
	</div>
    </div>
  </div>

{% endblock %}