{% load avatar_tags %}
{% load elsewhere_tags %}
{% load oembed_tags %}
{% load markup %}
{% load reviews_tags %}
{% load i18n %}
{% load badges_tags %}
{% load thumbnail %}

<script type="text/javascript">
    $(document).ready(function() {
	$('.tip').tipsy({gravity: 's'});
	
	$('#biography > blockquote > div.text').readmore({substr_len: 850,
							  more_link: '<a class="more">[{% trans 'Read&nbsp;More' %}]</a>'});
    });
</script>


<div id="presskit-sidebar" class="grid_3 alpha">
  <div id="bandavatar" class="grid_3 alpha omega">
    {% if band.pictures.avatar %}
      <img src="{{ band.pictures.avatar.thumbnail_image.url }}" width="172px" alt="band avatar" />
    {% else %}
      <img src="{{ STATIC_URL }}images/band/no_picture.png" width="172px" alt="no band avatar" />
    {% endif %}
  </div>

  <div id="genres" class="grid_3 alpha omega">
    {% if band.genres %}
      {% trans "<strong>Genres</strong>:" %} {{ band.genres }}
    {% else %}
      {% trans "No genre."%}
    {% endif %}
    {% if can_edit %}
      [<a href="{% url band:edit band.slug %}#id_genres">{% trans "edit" %}</a>]
    {% endif %}
  </div>

  <div id="influences" class="grid_3 alpha omega">
    {% if band.influences %}
      {% trans "<strong>Influences</strong>:" %} {{ band.influences }}.
    {% else %}
      {% trans "No influences." %}
    {% endif %}
    {% if can_edit %}
      [<a href="{% url band:edit band.slug %}#id_influences">{% trans "edit" %}</a>]
    {% endif %}
  </div>
  
  <!-- Band members -->
  <div id="bandmembers" class="grid_3 alpha omega">
    <h3>{% trans "Members" %} ({{ band.band_members.count }})</h3>
    {% if can_edit %}
    <a href="{% url band:membership-manage band.slug %}" class="button-tip minibutton" title="{% trans "Edit" %}"><span>{% trans "Edit" %}</span></a>
    {% endif %}

    {% with STATIC_URL|add:'/images/account/no_avatar.png' as default_avatar %}
    <ul>
      {% for member in band.band_members.all %}
	<li>
	  {% avatar member.user 48 %}
	  <a href="{{ member.user.get_profile.get_absolute_url }}">{{ member.user.get_full_name|default:member.user.username }}</a>
	  <span class="bandmember_whois">{{ member.user.get_profile.genre|default:"?" }}, {{ member.user.get_profile.age|default:"-" }} y-o.</span>
	  <span class="bandmember_role" title="{{ member.roles.all|join:", " }}">{{ member.roles.all|join:", "|truncatewords:3 }}</span>
      </li>
    {% endfor %} 
    </ul>
    {% endwith %}
  </div>

  <!-- Latest gigs -->
  <!--
  <div id="latest-gigs" class="grid_3 alpha omega">
    <h3>{% trans "Latest Gigs" %}</h3>
    {% if latest_gigs %}
      <ul>
	{% for gig in latest_gigs %}
	  <li>
	    {{ gig.event_date|date:"d M Y" }}: <a href="{{ gig.get_absolute_url }}">{{ gig.venue.name|capfirst }}</a>
	  </li>
	{% endfor %}
      </ul>
    {% else %}
      {% trans "This band has no recent gigs." %}
    {% endif %}
  </div>
  -->

  <!-- Social networks -->
  <div id="socialnets" class="grid_3 alpha omega">
    <h3>{% trans "Social Networks" %}</h3>
    {% if can_edit %}
    <a href="{% url band:socialnet-edit band.slug %}" class="button-tip minibutton" title="{% trans "Edit" %}"><span>{% trans "Edit" %}</span></a>
    {% endif %}

    <ul>
      {% for socialnetwork in band.socialnetworks.all %}
	<li>
	  <img src="{{ socialnetwork.network.icon_url }}" alt="{{ socialnetwork.network.name }}" />
	  <a href="{{ socialnetwork.url }}" target="_blank" title="{{ socialnetwork.url }}">{{ socialnetwork.username|capfirst }}</a>
	</li>
      {% empty %}
	<li>{% trans "No social profile" %}</li>
      {% endfor %}
    </ul>

  </div>

  <!-- Websites -->
  <div id="websites" class="grid_3 alpha omega">
    <h3>{% trans "Websites" %}</h3>
    {% if can_edit %}
    <a href="{% url band:socialnet-edit band.slug %}" class="button-tip minibutton" title="Edit"><span>{% trans "Edit" %}</span></a>
    {% endif %}

    <ul>
      {% for website in band.websites.all %}
	<li>
	  <img src="{{ website.icon_url }}" alt="Website" />
	  <a href="{{ website.url }}" target="_blank" title="{{ website.url }}">{{ website.name|capfirst }}</a>
	</li>
      {% empty %}
	<li>{% trans "No website" %}</li>
      {% endfor %}
    </ul>

  </div>

  <!-- stats -->
  <div id="stats" class="grid_3 alpha omega">
    <h3>{% trans "A few stats" %}</h3>
    <ul>
      {% if band.founded_on %}
	<li>{% blocktrans with band.founded_on|date:"M Y" as date %} Active since {{ date }}{% endblocktrans %}</li>
      {% endif %}
      <!-- <li>{% trans "Already played X gigs" %}</li> -->
      <!-- <li>{% trans "Played with Y other bands" %}</li> -->
	<!-- <li>{% trans "Played at Z venues" %}</li> -->
    </ul>
  </div>


</div>

<div id="presskit-main" class="grid_12 omega">
  <div id="presskit-head">
    <h1>{% trans "PressKit" %} &raquo; <a href="{{ band.get_absolute_url }}">{{ band.name }}</a> ({{ band.city|default:"Somewhere" }}, {{ band.country|default:"Earth" }})</h1>

    {% if presskit_completion_badge|number_awarded:band %}
      <img class="badge tip" title="{% trans "This PressKit has been fully completed" %}" src="{{ STATIC_URL }}images/presskit/completion_badge.png" width="40px" height="40px"/>
    {% endif %}
  </div>

  <div class="grid_12 alpha omega">
    <div id="biography">
	<blockquote>
	  <div class="text">
	    {% if can_edit %}
	      <a href="{% url band:edit band.slug %}#id_technical_sheet" class="button-tip minibutton btn-edit" title="Edit">
		<span><span class="icon"></span>{% trans "Edit" %}</span>
	      </a>
	    {% endif %}

	    <div id="location">
	      {% if can_edit %}
		<a href="{% url band:edit band.slug %}" class="button-tip minibutton btn-edit" title="{% trans "Change Your Location" %}"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
	      {% endif %}
	
	      <div style="height: 150px; width: 200px" id="map" class="smallmap"></div>
	    </div>
	    {% if band.biography %}
	      {{ band.biography|capfirst|linebreaksbr }}
	    {% else %}
	      {% trans "No biography." %}
	    {% endif %}
	  </div>
	</blockquote>
    </div>
  </div>
 

  <script type="text/javascript">
    $(document).ready(function() {
	// run galleria and add some options
	Galleria.loadTheme('{{ STATIC_URL }}css/galleria/themes/classic/galleria.classic.js');

	$('#gallery').galleria({
            image_crop: true, // crop all images to fit
            thumb_crop: true, // crop all thumbnails to fit
            transition: 'fade', // crossfade photos
            transition_speed: 700, // slow down the crossfade
	    autoplay: true,
            data_config: function(img) {
		// will extract and return image captions from the source:
		return  {
                    title: $(img).parent().next('strong').html(),
                    description: $(img).parent().next('strong').next().html()
		};
            },
            extend: function() {
		this.bind(Galleria.IMAGE, function(e) {
                    // bind a click event to the active image
                    $(e.imageTarget).css('cursor','pointer').click(this.proxy(function() {
			// open the image in a lightbox
			this.openLightbox();
                    }));
		});
            }
	});

    });
  </script>



  <div class="grid_12 alpha omega">

    <script type="text/javascript">
      var Playlist = function(instance, playlist, options) {
		var self = this;

		this.instance = instance; // String: To associate specific HTML with this playlist
		this.playlist = playlist; // Array of Objects: The playlist
		this.options = options; // Object: The jPlayer constructor options for this playlist

		this.current = 0;

		this.cssId = {
			jPlayer: "jquery_jplayer_",
			interface: "jp_interface_",
			playlist: "jp_playlist_"
		};
		this.cssSelector = {};

		$.each(this.cssId, function(entity, id) {
			self.cssSelector[entity] = "#" + id + self.instance;
		});

		if(!this.options.cssSelectorAncestor) {
			this.options.cssSelectorAncestor = this.cssSelector.interface;
		}

		$(this.cssSelector.jPlayer).jPlayer(this.options);

		$(this.cssSelector.interface + " .jp-previous").click(function() {
			self.playlistPrev();
			$(this).blur();
			return false;
		});

		$(this.cssSelector.interface + " .jp-next").click(function() {
			self.playlistNext();
			$(this).blur();
			return false;
		});
	};

	Playlist.prototype = {
		displayPlaylist: function() {
			var self = this;
			$(this.cssSelector.playlist + " ul").empty();
			for (i=0; i < this.playlist.length; i++) {
				var listItem = (i === this.playlist.length-1) ? "<li class='jp-playlist-last'>" : "<li>";
				listItem += "<a href='#' id='" + this.cssId.playlist + this.instance + "_item_" + i +"' tabindex='1'>"+ this.playlist[i].name +"</a>";

				// Create links to free media
				if(this.playlist[i].free) {
					var first = true;
					listItem += "<div class='jp-free-media'>(";
					$.each(this.playlist[i], function(property,value) {
						if($.jPlayer.prototype.format[property]) { // Check property is a media format.
							if(first) {
								first = false;
							} else {
								listItem += " | ";
							}
							listItem += "<a id='" + self.cssId.playlist + self.instance + "_item_" + i + "_" + property + "' href='" + value + "' tabindex='1'>" + property + "</a>";
						}
					});
					listItem += ")</span>";
				}

				listItem += "</li>";

				// Associate playlist items with their media
				$(this.cssSelector.playlist + " ul").append(listItem);
				$(this.cssSelector.playlist + "_item_" + i).data("index", i).click(function() {
					var index = $(this).data("index");
					if(self.current !== index) {
						self.playlistChange(index);
					} else {
						$(self.cssSelector.jPlayer).jPlayer("play");
					}
					$(this).blur();
					return false;
				});

				// Disable free media links to force access via right click
				if(this.playlist[i].free) {
					$.each(this.playlist[i], function(property,value) {
						if($.jPlayer.prototype.format[property]) { // Check property is a media format.
							$(self.cssSelector.playlist + "_item_" + i + "_" + property).data("index", i).click(function() {
								var index = $(this).data("index");
								$(self.cssSelector.playlist + "_item_" + index).click();
								$(this).blur();
								return false;
							});
						}
					});
				}
			}
		},
		playlistInit: function(autoplay) {
			if(autoplay) {
				this.playlistChange(this.current);
			} else {
				this.playlistConfig(this.current);
			}
		},
		playlistConfig: function(index) {
			$(this.cssSelector.playlist + "_item_" + this.current).removeClass("jp-playlist-current").parent().removeClass("jp-playlist-current");
			$(this.cssSelector.playlist + "_item_" + index).addClass("jp-playlist-current").parent().addClass("jp-playlist-current");
			this.current = index;
			$(this.cssSelector.jPlayer).jPlayer("setMedia", this.playlist[this.current]);
		},
		playlistChange: function(index) {
			this.playlistConfig(index);
			$(this.cssSelector.jPlayer).jPlayer("play");
		},
		playlistNext: function() {
			var index = (this.current + 1 < this.playlist.length) ? this.current + 1 : 0;
			this.playlistChange(index);
		},
		playlistPrev: function() {
			var index = (this.current - 1 >= 0) ? this.current - 1 : this.playlist.length - 1;
			this.playlistChange(index);
		}
	};

      $(document).ready(function() {
	  var audioPlaylist = new Playlist("2", [
	      {% for track in presskit.tracks.all %}
	      { name: "{{ track.title }}",
		mp3: "{{ track.file.url }}"
	      }
	      {% if not forloop.last %},{% endif %}
	      {% endfor %}
	  ], { // oggSupport: true,
	       //nativesupport: true,
	       preload: 'false',
	       swfPath: '{{ STATIC_URL }}flash/',
	        ready: function() {
		    audioPlaylist.displayPlaylist();
		    audioPlaylist.playlistInit(false);
		},
	      	ended: function() {
			audioPlaylist.playlistNext();
		},
		play: function() {
			$(this).jPlayer("pauseOthers");
		},
	      supplied: "mp3"
	  });
      });
    </script>


    <div id="tracks" class="grid_12 alpha omega">
      {% if can_edit %}
	<a href="{% url presskit:presskit-tracks band.slug %}" class="button-tip minibutton btn-edit tip" title="{% trans "Click here to add or delete tracks" %}"><span><span class="icon"></span>{% trans "Manage Tracks" %}</span></a>
      {% endif %}

      {% if presskit.tracks.all.count > 0 or can_edit %}
	
	<div id="jquery_jplayer_2" class="jp-jplayer"></div>
	
	<div class="jp-audio">
	  
	  <div class="jp-type-playlist">
	    <div id="jp_interface_2" class="jp-interface">
	      <ul class="jp-controls">
		<li><a href="#" class="jp-play" tabindex="1">play</a></li>
		<li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
		<li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
		
		<li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>
		<li><a href="#" class="jp-previous" tabindex="1">previous</a></li>
		<li><a href="#" class="jp-next" tabindex="1">next</a></li>
	      </ul>

	      <div class="jp-progress">
		<div class="jp-seek-bar">
		  <div class="jp-play-bar"></div>
		</div>
	      </div>

	      <div class="jp-volume-bar">
		<div class="jp-volume-bar-value"></div>
	      </div>

	      <div class="jp-current-time"></div>
	      <div class="jp-duration"></div>
	    </div>

	    <div id="jp_playlist_2" class="jp-playlist">
	      
	      <ul>
		<!-- The method Playlist.displayPlaylist() uses this unordered list -->
		<li></li>
	      </ul>
	    </div>
	  {% endif %}
	  </div>
    </div>


   <div id="pictures" class="grid_12 alpha omega">
	{% if can_edit %}
	<a href="{% url band:band-pictures band.slug %}" class="button-tip minibutton btn-edit" title="{% trans "Manage pictures" %}"><span><span class="icon"></span>{% trans "Manage Pictures" %}</span></a>
	{% endif %}

	{% if band.pictures.all.count == 0 %}
	<div id="default_picture">
	  <img src="{{ STATIC_URL }}images/presskit/default_picture.jpg" alt="{% trans "default picture" %}"/>
	</div>
	{% else %}
	<div id="gallery" style="height: 400px;">
	  {% for picture in band.pictures.all %}
	  {% thumbnail picture.original_image "1024" upscale="false" as img %}
	    <a href="{{ img.url }}">
	  {% endthumbnail %}
	      <img src="{{ picture.thumbnail_image.url }}" alt="image" />
	    </a>
	  {% endfor %}
	</div>
	{% endif %}
   </div>

  <div class="grid_6 alpha">
    <script type="text/javascript">
      $(document).ready(function() {
	  $('.modal-popup').boxy({draggable: false, modal: true});
      });
    </script>

    <div id="video" class="sectionbox">
      <div class="header">
	<img src="{{ STATIC_URL }}images/presskit/video_ico.png" alt="video"/>
	<h2>{% trans "Video" %}</h2>
	{% if can_edit %}
	<a href="{% url presskit:presskit-video band.slug %}" class="modal-popup button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
	{% endif %}
      </div>
      <div class="separator"></div>
      <div class="content">
	{% if presskit.video %}
	  {% oembed 320x240 %}
	  {{ presskit.video }}
	  {% endoembed %}
	{% else %}
	  {% trans "No video has been set." %}
	{% endif %}
      </div>
    </div>
  </div>

  <div class="grid_6 omega">
    <div id="techsheet" class="sectionbox">
      <div class="header">
	<img src="{{ STATIC_URL }}images/presskit/techsheet_ico.png" alt="tech sheet"/>
	<h2>{% trans "Technical Sheet" %}</h2>
	{% if can_edit %}
	<a href="{% url band:edit band.slug %}#id_technical_sheet" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
	{% endif %}
      </div>
      <div class="separator"></div>
      <div class="content">
	{% if band.technical_sheet %}
	  {{ band.technical_sheet|linebreaks }}
	{% else %}
	  {% trans "No technical sheet." %}
	{% endif %}
      </div>
    </div>
  </div>

</div>

</div>


  <script type="text/javascript">
    var map;

    function init(){
        map = new OpenLayers.Map('map', {controls: []});
	map.addControl(new OpenLayers.Control.MouseToolbar());

        var layer = new OpenLayers.Layer.OSM()
        map.addLayer(layer);

	var venue = new OpenLayers.LonLat({{ band.place.geom.x|stringformat:"0.5f" }}, {{ band.place.geom.y|stringformat:"0.5f" }}) // Center of the map
            .transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
		       new OpenLayers.Projection("EPSG:900913"));

	var markers = new OpenLayers.Layer.Markers("Markers")
	map.addLayer(markers)
	markers.addMarker(new OpenLayers.Marker(venue));

	map.setCenter(venue,
		      4 // Zoom level
		     );

    };

    $(document).ready(init);
  </script>

