{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div id="text">
  <h1><a href="{{ presskit.band.get_absolute_url }}">{{ presskit.band.name }}</a> &raquo; <a href="{% url presskit:mypresskit presskit.band.slug %}">{% trans "PressKit" %}</a> &raquo; {% trans "Add track" %}</h1>

  <p>
    {% trans "Only <strong>MP3</strong> format is supported at the moment. Sorry for that, <strong>Ogg</strong> support is coming soon !" %}
  </p>

  <form method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    <input type="submit" value="Add"/>
  </form>

{% endblock %}