{% extends "base.html" %}

{% block content %}

<h2>Your part of the bargain</h2>

<a href="{{ gigbargain.venue.get_absolute_url }}">{{ gigbargain.venue.name }}</a> sent you the terms for <a href="{{ gigbargain.get_absolute_url }}">the gig bargain of {{ gigbargain.date }}</a>.

<p>
Click here to <a href="{% url event:gigbargain-band-common-edit gigbargain.pk gigbargainband.band.slug %}">alter general conditions</a> (access type, remunation kind, ...).
</p>

<p>
<b>Here are the terms concerning your band (<a href="{{ gigbargainband.band.get_absolute_url }}">{{ gigbargainband.band.name }}</a>).</b>
</p>

<p>
You start at : {{ gigbargainband.starts_at }}
</p>

{% if gigbargainband.state == 'part_validated' %}
<p>
<b>You have validated this part !</b>
</p>
{% endif %}

{% if not gigbargainband_is_valid %}
<p>
<b><blink>You have to finish filling in the informations before you can validate your part !</blink></b>
</p>
{% endif %}

<p>
If you're ok with the information, then <a href="{% url event:gigbargain-band-part-approve gigbargain.pk gigbargainband.band.slug %}">validate it</a> 
or <a href="{% url event:gigbargain-band-part-edit gigbargain.pk gigbargainband.band.slug %}">edit it</a> if not.
</p>

{% endblock %}
