{% extends "base.html" %}

{% load comments %}
{% load tagging_tags %}
{% load threadedcomments_tags %}
{% load activity_tags %}

{% block css %}

    <link rel="profile" href="http://microformats.org/profile/hcalendar" />
    <link rel="profile" href="http://microformats.org/profile/hcard" />

    <style type="text/css">

	
/* button basics */
	a.minibutton {
		display:inline-block;
		height:23px;
		padding:0 0 0 3px;
		font-size:11px;
		font-weight:bold;
		color:#333;
		text-shadow:1px 1px 0 #fff; 
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_matrix.png) 0 0 no-repeat;
		white-space:nowrap;
		border:none;
		overflow:visible;
		cursor:pointer;
		text-decoration:none;
	}
	
	a.minibutton>span {
		display:block;
		height:23px;
		padding:0 10px 0 8px;
		line-height:23px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_matrix.png) 100% 0 no-repeat;
	}
	
	a.minibutton:hover, a.minibutton:focus {
		color:#fff;
		text-decoration:none;
		text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
		background-position:0 -30px;
	}
	a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
	
	a.minibutton.mousedown{background-position:0 -60px; }
	a.minibutton.mousedown>span{background-position:100% -60px; }
	
	/* with icon */
	a.btn-download .icon {
		float:left;
		margin-left:-4px;
		width:18px;
		height:22px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-download .icon {background-position:-40px 0;}
	a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}

	/* with icon */
	a.btn-fork .icon {
		float:left;
		margin-left:-4px;
		width:18px;
		height:22px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-fork .icon {background-position:-80px 0;}
	a.btn-fork:hover .icon, a.btn-download:focus .icon {background-position:-80px -25px;}

	/* with icon */
	a.btn-kick .icon {
		float:left;
		margin-left:-4px;
		width:18px;
		height:22px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-kick .icon {background-position:-120px 0;}
	a.btn-kick:hover .icon, a.btn-download:focus .icon {background-position:-120px -25px;}



</style>


<style type="text/css">
/**
         * CSS Timeline Styles
         */

         ul.events {
             list-style-type: none;
             margin: 0;
         }

         ul.events li {
             margin-left: 0px;
             -webkit-border-radius: 11px;
             -moz-border-radius: 11px;
             border-radius: 11px;
             background: #eee;
             border: 1px solid #ddd;
             color: #707070;
             font-size: 1.2em;
             font-weight: bold;
             margin-bottom: 6px;
             position: relative;
             text-align: center;
         }

         ul.events li em {
             color: #aaa;
             font-weight: normal;
             font-size: 0.9em;
         }

         ul.intervals {
             list-style-type: none;
             padding: 0;
             display: block;
         }

         /* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
         ul.intervals li {
             color: #999;
font-size: 1.2em;
float: left;
             margin: 0;
             text-align: center;
         }
    </style>

    <!--[if IE]>
        <style type="text/css">
            ul.intervals li {
                width: 14.11%;
            }
        </style>
    <![endif]-->


<style type="text/css">
  .bargainbox {
  background-color: #eee;
  padding: 10px; 
  margin-bottom: 20px;
  }

#mainNav li{
  margin:0;
  padding:0;
  height:65px;
  list-style:none;
  float:left;
  background-color:#EBEBEB;
  background-image: url({{ MEDIA_URL }}/images/stepmenu/navBtn.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

#mainNav li.current{
	background-color:#C36615;
	background-image: url({{ MEDIA_URL }}/images/stepmenu/navCurrentBtn.gif);
}

#mainNav li.lastDone{
	background-color:#7C8437;
	background-image: url({{ MEDIA_URL }}/images/stepmenu/navLastDoneBtn.gif);
}

#mainNav li.done{
	background-color:#7C8437;
	background-image: url({{ MEDIA_URL }}/images/stepmenu/navDoneBtn.gif);
}

#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
color:#ccc;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active, #mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
color:#FFFF99;
cursor:hand;
}

#mainNav li a em{
width:100px;
display:block;
margin:6px 0 0 10px;
font-style:normal;
font-weight:bold;
}

#mainNav li a span{
width:100%;
display:block;
margin-left:10px;
font-weight:normal;
}

#mainNav li.mainNavNoBg{
background-image:none;
}

#mainNav li a{
height:71px;
display:block;
}

/* #mainNav.fiveStep */
#mainNav.fiveStep li{width:20%;}
#mainNav.fiveStep li a{width:20%;}

</style>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/css/jquery/tipsy.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/css/jquery/fancybox/jquery.fancybox-1.3.1.css" /> 

{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.bt.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.fancybox-1.3.1.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
  $('a.button-tip').tipsy({gravity: $.fn.tipsy.autoNS});



$('a.comment-thread').bt({
  ajaxPath: ["$(this).attr('href')"],
  trigger: 'click',
  closeWhenOthersOpen: true,
  fill: '#F4F4F4',
  strokeStyle: '#666666', 
  spikeLength: 20,
  spikeGirth: 10,
  ajaxCache: false,
  width: 350,
  overlap: 0,
  centerPointY: 1,
  cornerRadius: 0, 
  cssStyles: {
    fontFamily: '"Lucida Grande",Helvetica,Arial,Verdana,sans-serif', 
    fontSize: '12px',
    padding: '10px 14px'
  },
  shadow: true,
  shadowColor: 'rgba(0,0,0,.5)',
  shadowBlur: 8,
  shadowOffsetX: 4,
  shadowOffsetY: 4
});

$('a.comment-thread').click(function() {
  return false;
});


  $('.comment-tip').bt(
  {
    fill: '#F4F4F4',
    cornerRadius: 10,
    strokeWidth: 0,
  centerPointX: 0.7,
  spikeLength: 10,
  spikeGirth: 20,
    shadow: true,
    shadowOffsetX: 3,
    shadowOffsetY: 3,
    shadowBlur: 8,
    shadowColor: 'rgba(0,0,0,.9)',
    shadowOverlap: false,
    noShadowOpts: {strokeStyle: '#999', strokeWidth: 2},
    positions: 'top',
  });

//  $('#venue-reason-tip').tipsy({gravity: 'e'}).tipsy("show");

{% if gigbargain.venue_reason %}
  $('#venue-reason-content').hide();
  $('#venue-picture').bt({
  trigger: 'none',
  contentSelector: "$('#venue-reason-content')",
  positions: ['left', 'top'],
  fill: '#F4F4F4',
  strokeStyle: '#666666', 
  width: 100,
  overlap: 10,
  centerPointY: 0,
  clickAnywhereToClose: false,
  cornerRadius: 10, 
  cssStyles: {
    fontFamily: '"Lucida Grande",Helvetica,Arial,Verdana,sans-serif', 
    fontSize: '12px',
    padding: '10px 14px'
  },
  shadow: true,
  shadowColor: 'rgba(0,0,0,.5)',
  shadowBlur: 8,
  shadowOffsetX: 4,
  shadowOffsetY: 4,
  textzIndex:       1000,                  // z-index for the text
  boxzIndex:        999,                  // z-index for the "talk" box (should always be less than textzIndex)
  wrapperzIndex:    998,
}).btOn();
{% endif %}

  });
</script>

<script type="text/javascript">

/* jQuery */
$(document).ready(function() {
	jQuery('a.minibutton').bind({
		mousedown: function() {
			jQuery(this).addClass('mousedown');
		},
		blur: function() {
			jQuery(this).removeClass('mousedown');
		},
		mouseup: function() {
			jQuery(this).removeClass('mousedown');
		},
                mouseleave: function() {
                        jQuery(this).removeClass('mousedown');
                },
	});

 $("a.fancybox").fancybox({
        'width': 1024,
        'height': '85%',
        autoScale: false,
        autoDimensions: false,
         type: 'ajax',
  });

});

</script>


<script type="text/javascript" charset="utf-8">
function bindPostCommentHandler() {
    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#comment_form form').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#comment_form form').replaceWith(html);
                bindPostCommentHandler();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostCommentHandler();
});
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jit.js"></script>


{% endblock %}

{% block content %}
  
<div class="grid_16 alpha omega">

  <!-- Header -->
  <div class="grid_16 alpha omega">

    <!-- Title -->
    <div class="grid_8 suffix_8 alpha omega">
      <h1>Gig Bargain {% if gigbargain.name %}({{ gigbargain.name }}){% endif %} / {{ gigbargain.date }} - {{ gigbargain.venue.name|capfirst }}, {{ gigbargain.venue.city }}, {{ gigbargain.venue.country }}</h1>
      with
      {% for gigbargainband in gigbargain.gigbargainband_set.concurring %}
	<a href="{{ gigbargainband.band.get_absolute_url }}">{{ gigbargainband.band.name }}</a>{% if not forloop.last %},{% else %}.{% endif %}
      {% endfor %}
    </div>

    <!-- Progress bar -->
    <div class="grid_8 alpha">
      <ul id="mainNav" class="fiveStep">
	<li class="done"><a title="Yeah yeah, draft"><em>Draft</em></a></li>
	<li class="lastDone"><a title=""><em>Draft ok</em></a></li>
	<li class="current"><a title=""><em>Submitted</em></a></li>
	<li><a title=""><em>Negociation</em></a></li>
	<li class="mainNavNoBg"><a title=""><em>Finished</em></a></li>
      </ul>
    </div>

    <!-- State -->
    <div class="grid_8 omega">
      {% include "gigbargain/gigbargain_detail_state.html" %}
    </div>

  </div> <!-- end of header -->

  <!-- Informations + Sidebar -->
  <div class="grid_16 alpha omega">

    <!-- Main informations -->
    <div class="grid_12 alpha">

      <!-- Where and when -->
      <div class="grid_6 alpha">
	<div class="sectionbox clearfix">
	  {% include "gigbargain/gigbargain_detail_wherewhen.html" %}
	</div>
      </div>

      <!-- Access -->
      <div class="grid_6 omega">
	<div class="sectionbox clearfix">
	  {% include "gigbargain/gigbargain_detail_access.html" %}
	</div>
      </div>

      <!-- Bands -->
      <div class="grid_12 alpha omega">
	<div class="sectionbox clearfix">
	  {% include "gigbargain/gigbargain_detail_bands.html" %}
	</div>
      </div>

      <!-- Timeline -->
      <div class="grid_12 alpha omega">
	<div class="sectionbox">
	  {% include "gigbargain/gigbargain_detail_timeline.html" %}
	</div>
      </div>

      <!-- Remuneration -->
      <div class="grid_6 alpha">
	<div class="sectionbox">
	  {% include "gigbargain/gigbargain_detail_remuneration.html" %}
	</div>
      </div>

      <!-- Defrayments -->
      <div class="grid_6 omega">
	<div class="sectionbox">
	  {% include "gigbargain/gigbargain_detail_defrayments.html" %}
	</div>
      </div>

    </div>

    <!-- Sidebar -->
    <div class="grid_4 omega">

      <!-- Latest activity -->
      <div class="grid_4 alpha omega">
	  <h3>Latest activity</h3>

	  <ul>
	    {% for action in latest_activity %}
	      <li>{% display_action_short action %}</li>
	    {% endfor %}
	  </ul>

	  <h3>Latest changes</h3>
	  <ul>
	    {% for old_version in old_versions %}
	      {% with old_version.revision as revision %}
		<li>{{ revision.date_created }} - {{ revision.comment }}, by <a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a></li>
	      {% endwith %}
	    {% endfor %}
	  </ul>
	</div>


	<!-- Latest comments -->
	<div class="grid_4 alpha omega">
	  {% get_comment_count for gigbargain as comment_count %}
	    
	    <h3>Latest comments ({{ comment_count }})</h3>
	    {% get_comment_list for gigbargain as comments %}
	      
	      <ul>
		{% for comment in comments|fill_tree|annotate_tree %}
		  <li><a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_full_name|default:comment.user.username }}</a> said : {{ comment.comment }}</li>
		{% endfor %}
	      </ul>
	</div>
    </div> <!-- end of sidebar -->

  </div>

</div>

{% endblock %}
