{% extends 'ajax_page.html' %}

{% load i18n %}
{% load uni_form_tags %}

{% block content %}

  <script type="text/javascript">
    function timeline_edit() {
	data = $('#timeline-form').serializeObject(true);
	Dajaxice.gigbargain.timeline_edit('Dajax.process', {'gigbargainband_id': {{ gigbargainband.id }},
							    'form': data}
					 );

	return false;
    }
  </script>

  <h3>{% blocktrans with gigbargainband.band.name as band_name %}Edit {{ band_name }} timeline{% endblocktrans %}</h3>
  
  <form id="timeline-form" method='POST' class='uniForm' action="{% url gigbargain:gigbargain-band-edit-timeline gigbargain.uuid gigbargainband.band.slug %}">
    {{ gigbargainband_form|as_uni_form }}
    <input type="submit" value="{% trans "Update" %}" onclick="return timeline_edit();"/>
  </form>

{% endblock %}
