{% extends 'bands/base.html' %}

{% load activity_tags %}
{% load django_static %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/css/gigbargain.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.treeview.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
  <!--[if IE]><script language="javascript" type="text/javascript" src="/js/excanvas.js"></script><![endif]-->
  <script type="text/javascript" src="{% staticfile '/js/jquery/flot/jquery.flot.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/jquery/flot/jquery.flot.pie.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/jquery/flot/jquery.flot.symbol.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/jquery/jquery.treeview.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/jquery/jquery.bt.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	// Tree of connections
	$("#dash-connections #conlist").treeview({
	    collapsed: false,
	});

	$('.cal-gb-info').hide();
    
	$('td.infotip').bt({
	    contentSelector: '$(this).children("div").get(0)',
	    trigger: 'click',
	    closeWhenOthersOpen: true,
	    fill: 'black',
	    strokeStyle: '#666666', 
	    spikeLength: 20,
	    spikeGirth: 10,
	    width: 150,
	    overlap: 8,
	    centerPointY: 1,
	    cornerRadius: 0, 
	    cssStyles: {
		fontFamily: '"Lucida Grande",Helvetica,Arial,Verdana,sans-serif', 
		fontSize: '12px',
		padding: '10px 14px',
		color: 'white'
	    },
	    shadow: true,
	    shadowColor: 'rgba(0,0,0,.5)',
	    shadowBlur: 8,
	    shadowOffsetX: 4,
	    shadowOffsetY: 4
	});

	$('a.comment-thread').click(function() {
	    return false;
	});
    });
  </script>
{% endblock %}

{% block title %}
  {{ band.name }} - {% trans "Gigbargains" %}
{% endblock %}

{% block band_section %}
  {% trans "Gigbargains" %}
{% endblock %}

{% block band_content %}


  <div class="grid_12 alpha">

    <div id="dash-actions" class="grid_12 alpha omega">
      <a href="{% url gigbargain:gigbargain-new-from-band band.slug %}" class="button-tip minibutton btn-download" title="{% trans "Book A Venue" %}"><span><span class="icon"></span>{% trans "Book A Venue" %}</span></a>
    </div>

    <!-- Bargains -->
    <div id="dash-gigbargains" class="grid_12 alpha omega">
      <div class="sectionbox bright">
	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/negociation_ico.png' %}" alt="bargains"/>
	  <h2>{% trans "Bargains" %}</h2>

	  <span><strong>{% trans "New" %}</strong>: {{ new_gigbargains|length }}</span>|
	  <span><strong>{% trans "In progress" %}</strong>: {{ inprogress_gigbargains|length }}</span>|
	  <span><strong>{% trans "Concluded" %}</strong>: {{ concluded_gigbargains|length }}</span>|
	  <span><strong>{% trans "Aborted" %}</strong>: WIP</span>.

	  <span>{% trans "Today:" %} {% now "j F Y" %}</span>

	</div>
	<div class="separator"></div>

	<div class="fullcontent">
      
	  <div id="dash-gb-new">
	    <h3>{% trans "New" %}</h3>
	    <ul class="gigbargain_list">
	      {% for gigbargain in new_gigbargains %}
		<li>
		  <a href="{{ gigbargain.get_absolute_url }}">
		    <div>
		      <div class="venue_picture">
			{% if gigbargain.venue.pictures.avatar.avatar_image.url %}
			  <img src="{{ gigbargain.venue.pictures.avatar.avatar_image.url }}" alt="venue picture" width="70px" height="70px"/>
			{% else %}
			  <img src="{% staticfile '/images/venue/no_picture.png' %}" alt="venue picture" width="70px" height="70px"/>
			{% endif %}
		      </div>
		      <div class="gigbargain_info">
			<span class="venue-name">{{ gigbargain.venue.name|capfirst }}</span>
			<span class="date">{{ gigbargain.date|date:"d M Y" }}</span>
			<span class="bands">{{ gigbargain.gigbargainband_set.concurring|join:', ' }}.</span>
		      </div>
		    </div>
		  </a>
		</li>
	      {% endfor %}
	    </ul>
	  </div>
	  
	  
	  <div id="dash-gb-progress">   
	    <h3>{% trans "In progress" %}</h3>
	    
	    <ul class="gigbargain_list">
	      {% for gigbargain in inprogress_gigbargains %}
		<li title="in {{ gigbargain.date|timeuntil }}">
		  <a href="{{ gigbargain.get_absolute_url }}">
		    <div>
		      <div class="venue_picture">
			{% if gigbargain.venue.pictures.avatar.avatar_image.url %}
			  <img src="{{ gigbargain.venue.pictures.avatar.avatar_image.url }}" alt="venue picture" width="70px" height="70px"/>
			{% else %}
			  <img src="{% staticfile '/images/venue/no_picture.png' %}" alt="venue picture" width="70px" height="70px"/>
			{% endif %}
		      </div>
		      <div class="gigbargain_info">
			<span class="venue-name">{{ gigbargain.venue.name|capfirst }}</span>
			<span class="date">{{ gigbargain.date|date:"d M Y" }}</span>
			<span class="bands">{{ gigbargain.gigbargainband_set.concurring|join:', ' }}.</span>
		      </div>
		    </div>
		  </a>
		</li>
	      {% endfor %}
	    </ul>
	</div>
	  
	<div id="dash-gb-concluded">
	    
	  <h3>{% trans "Concluded" %}</h3>
	  
	  <ul class="gigbargain_list">
	      {% for gigbargain in concluded_gigbargains %}
		<li>
		  <a href="{{ gigbargain.get_absolute_url }}">
		    <div>
		      <div class="venue_picture">
			{% if gigbargain.venue.pictures.avatar.avatar_image.url %}
			  <img src="{{ gigbargain.venue.pictures.avatar.avatar_image.url }}" alt="venue picture" width="70px" height="70px"/>
			{% else %}
			  <img src="{% staticfile '/images/venue/no_picture.png' %}" alt="venue picture" width="70px" height="70px"/>
			{% endif %}
		      </div>
		      <div class="gigbargain_info">
			<span class="venue-name">{{ gigbargain.venue.name|capfirst }}</span>
			<span class="date">{{ gigbargain.date|date:"d M Y" }}</span>
			<span class="bands">{{ gigbargain.gigbargainband_set.concurring|join:', ' }}.</span>
		      </div>
		    </div>
		  </a>
		</li>
	      {% endfor %}
	  </ul>
	</div>
	
	<div class="clear"></div>
	
	</div>
      </div>
    </div>


    <div class="grid_12 alpha omega">

      <!-- Calendar -->
      <div id="dash-calendar" class="grid_5 alpha">  
	
	<div class="sectionbox bright">
	  <div class="header">
	    <img src="{% staticfile '/images/gigbargain/calendar_ico.png' %}" alt="calendar"/>
	    <h2>{% trans "Calendar" %}</h2>
	  </div>
	  
	  <div class="separator"></div>

	  <div class="fullcontent">
	    {{ monthly_calendar.toHTML|safe }}
	  </div>
	    
	</div>
      </div>
	  
      <!-- Repartition -->
      <div id="dash-repartition" class="grid_3">
	<div class="sectionbox bright">
	  <div class="header">
	    <img src="{% staticfile '/images/gigbargain/repartition_ico.png' %}" alt="repartition"/>
	    <h2>{% trans "Repartition" %}</h2>
	  </div>
	  <div class="separator"></div>
	  <div class="content">
	    
	    <div id="monthly-repartition""></div>
	    
	    <script type="text/javascript">
	      $(document).ready(function() {
		  var monthly_repartition = 
		      [  
			  {  
			      label: '{% trans "New" %}',  
			      color: "#968e8e",
			      data: {{ monthly_stats.new }},
			  },
			  {  
			      label: '{% trans "In progress" %}',  
			      color: "#faba3c",
			      data: {{ monthly_stats.inprogress }},
			  },
			  {  
			      label: '{% trans "Concluded" %}',  
			      color: "#7ea73c",
			      data: {{ monthly_stats.concluded }},
			  },
		      ];


		  $.plot($("#monthly-repartition"),
			 monthly_repartition,
			 {
			     series: {
				 pie: { show: true, 
					innerRadius: 0.3,
					radius: 0.95,
					stroke: { color: '#666' },
					label: {
					    show: true,
					    radius: 2/3,
					    formatter: function(label, series){
						return '<div style="font-size:7pt;text-align:center;padding:2px;color:white;">' +Math.round(series.percent) + '%</div>';
					    },
					    threshold: 0.99,
					    background: { color: '#000', opacity: 0.8 },
					    highlight: { opacity: 0.5 }
					}
				      }
			     },	
			     legend: {
				 container: $("#repartition-legend")
			     }
			 }
			);
	      });
	    </script>

	    <div id="repartition-legend" class="legend">
	      {% blocktrans with monthly_stats.total as count %}Total = {{ count }} {% endblocktrans %}<br>
	      {% blocktrans with monthly_stats.new as count %}New = {{ count }} {% endblocktrans %}<br>
	      {% blocktrans with monthly_stats.inprogress as count %}In progress = {{ count }} {% endblocktrans %}<br>
	      {% blocktrans with monthly_stats.concluded as count %}Concluded = {{ count }} {% endblocktrans %}
	    </div>
	    
	  </div>
	</div>
      </div>

      <!-- Connections -->
      <div id="dash-connections" class="grid_4 omega">
	<div class="sectionbox bright">
	  <div class="header">
	    <img src="{% staticfile '/images/gigbargain/connection_ico.png' %}" alt="connections"/>
	    <h2>{% trans "Connections" %}</h2>
	  </div>

	  <div class="separator"></div>

	  <div class="content">

	    <ul id="conlist" class="treeview">
	      <li><span><strong>{% trans "Bands" %}</strong> ({{ monthly_connections.bands|length }})</span>
	      <ul>
		{% for band in monthly_connections.bands %}
		  <li><a href="{{ band.get_absolute_url }}">{{ band.name }}</a> {% if band.country %}<img src="{{ band.country.flag }}" title="{{ band.country.name }}, {{ band.city }}" alt="{{ band.country }}"/>{% endif %}</li>
		{% empty %}
		  <li>{% trans "No connection" %}</li>
		{% endfor %}
	      </ul>
	      </li>

	      <li><span><strong>{% trans "Venues" %}</strong> ({{ monthly_connections.venues|length }})</span>
	      <ul>
		{% for venue in monthly_connections.venues %}
		  <li><a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a> {% if venue.country %}<img src="{{ venue.country.flag }}" title="{{ venue.country.name }}, {{ venue.city }}" alt="{{ venue.country }}"/> {% endif %}</li>
		{% empty %}
		  <li>{% trans "No connection" %}</li>
		{% endfor %}
	      </ul>
	      </li>
	    </ul>

	  </div>
	  
	</div>
      </div>

    </div>

    <div class="grid_12 alpha omega">
      <div class="sectionbox bright">
	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/statistics_ico.png' %}" alt="global stats"/>
	  <h2>{% trans "Global stats" %}</h2>
	</div>

	<div class="separator"></div>

	<div class="content">

	  <div id="yearly-stats"></div>

	  <script type="text/javascript">
	    var json = {
		label: ['{% trans "New" %}', '{% trans "In progress" %}', '{% trans "Concluded" %}'],
		values: [
		    {% for month, data in yearly_values.items %}
		    {
			label: '{{ data.label|date:"M" }}',
			values: [{{ data.new }}, {{ data.inprogress }}, {{ data.concluded }}]
		    },
		    {% endfor %}
		]
	    };

	    var new_gigbargains = [{% for month, data in yearly_values.items %} [{{ data.ts }}*1000, {{ data.new }}], {% endfor %}];
	    var inprogress_gigbargains = [{% for month, data in yearly_values.items %} [{{ data.ts }}*1000, {{ data.inprogress }}], {% endfor %}];
	    var concluded_gigbargains = [{% for month, data in yearly_values.items %} [{{ data.ts }}*1000, {{ data.concluded }}], {% endfor %}];

	    $(document).ready(function() {
		$.plot($("#yearly-stats"),
		       [
			   {
			       label: "{% trans "New" %}", 
			       color: "#968e8e",
			       data: new_gigbargains, 
			       points: { symbol: 'cross' }
			   },
			   { 
			       label: "{% trans "In progress" %}", 
			       color: "#faba3c",
			       data: inprogress_gigbargains, 
			       points: { symbol: 'cross' }
			   },
			   { 
			       label: "{% trans "Concluded" %}", 
			       color: "#7ea73c",
			       data: concluded_gigbargains, 
			       points: { symbol: 'cross' }
			   }
		       ],
		       {
			   series: {
			       lines: { show: true },
			       points: { show: true, radius: 5 }
			   },

			   xaxis: {
			       mode: "time",
			       ticks: 12,
			       minTickSize: [1, "month"],
			       min: {{ yearly_values.1.ts }} * 1000,
			       max: {{ yearly_values.12.ts }} * 1000
			   },

			   yaxis: {
			       min: 0,
			       ticks: 1
			   },

			   grid: {
			       hoverable: true 
			   }

		       }
		      );

		function showTooltip(x, y, contents) {
		    $('<div id="tooltip">' + contents + '</div>').css( {
			position: 'absolute',
			display: 'none',
			top: y + 10,
			left: x + 5,
			border: '1px solid #fdd',
			padding: '2px',
			'background-color': '#fee',
			opacity: 0.80
		    }).appendTo("body").fadeIn(200);
		}

		var previousPoint = null;
		$("#yearly-stats").bind("plothover", function (event, pos, item) {
		    $("#x").text(pos.x.toFixed(2));
		    $("#y").text(pos.y.toFixed(2));

		    if (item) {
			if (previousPoint != item.datapoint) {
			    previousPoint = item.datapoint;
			    
			    $("#tooltip").remove();
			    var x = item.datapoint[0].toFixed(2),
			    y = item.datapoint[1].toFixed(2);
			    
			    showTooltip(item.pageX, item.pageY,
					(y/1) + " gig bargain" + (y > 1 ? "s" : ""));
			}
		    }
		    else {
			$("#tooltip").remove();
			previousPoint = null;            
		    }
		});


	    });
	  </script>
	</div>
      </div>
    </div>
  </div>

    <div class="grid_3 omega">

      <div id="latest-activity">
	<h3>{% trans "Latest activity" %}</h3>

	  <ul>
	    {% for action in latest_activity %}
	      <li>
		{% if action.target.name %}
		  <span class="title"><strong>{{ action.target.name|capfirst }}</strong> / {{ action.target.date|date:'d M Y' }}</span>
		{% else %}
		  <span class="title"><strong>{{ action.target.venue.name|capfirst }}</strong> / {{ action.target.date|date:'d M Y' }}</span>
		{% endif %}
		
	      {% display_action_short action %}. <span class="date">{{ action.timestamp|timesince }} ago</span></li>

	    {% empty %}
	      <li>{% trans "No activity" %}</li>
	    {% endfor %}
	  </ul>
      </div>
    </div>


  {% endblock %}
