{% load i18n %}
{% load django_static %}
{% load comments %}

<script type="text/javascript">
$(document).ready(function() {

    var defrayments = 
	[  
 	    {% for band in gigbargain.gigbargainband_set.concurring %}
	    {
 		label: '{{ band.band.name }}',
		data: {{ band.defrayment }}
	    }{% if not forloop.last %},{%endif%}
	    {% endfor %}
	];
    
    
    $.plot($("#defrayments-graph"),
	   defrayments,
	   {
	       series: {
		   pie: { show: true, 
			  innerRadius: 0.3,
			  radius: 0.90,
			  stroke: { color: '#666' },
			  label: {
			      show: true,
			      radius: 2/3,
			      formatter: function(label, series){
				  return '<div style="font-size:7pt;text-align:center;padding:2px;color:white;">' + label + ": " + Math.round(series.percent) + '%</div>';
			      },
			      threshold: 0.99,
			      background: { color: '#000', opacity: 0.8 },
			      highlight: { opacity: 0.5 }
			  }
			}
	       },	
	       legend: {
		   container: $("#defrayments-legend")
	       }
	   }
	  );
});
</script>


<div class="header">
  <img src="{% staticfile '/images/gigbargain/defrayment_ico.png' %}" alt="Defrayments"/>

  <h2 title="{% trans "A defrayment is when you get money for the petrol, food, etc." %}">{% trans "Defrayments" %}</h2>

  {% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' %}
    {% for band in managed_bands %}
      {% if band.state == 'negociating' %}
	<a href="{% url gigbargain:gigbargain-band-edit-defrayment gigbargain.uuid band.band.slug %}" class="modal-popup minibutton btn-edit" title="{% trans "Edit defrayment" %}"><span><span class="icon"></span>{% if managed_bands|length > 1 %}{{ band.band.name }}:{% endif %}{% trans "Edit" %}</span></a>
      {% else %}
	<a href="javascript:;" class="minibutton btn-edit disabled button-tip" title="{% trans "You have to unlock your part to edit" %}"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
      {% endif %}
    {% endfor %}
  {% endif %}



  <a class="comment-thread" href="{% url gigbargain:gigbargain-comments-section-display gigbargain.uuid 'defrayments' %}">
    {% get_comment_count for comments.defrayments as comment_count %}
      {% if comment_count %}
	{% staticfile '/images/bargain/comments_on.png' as comments_img %}
      {% else %}
	{% staticfile '/images/bargain/comments_off.png' as comments_img %}
      {% endif %}
    <img class="comments" src="{{ comments_img }}" alt="Comments about defrayments"/>
  </a>

</div>

<div class="separator">
</div>

<div class="content">

<div width="200px" id="defrayments-graph"></div>
<div id="defrayments-legend"></div>

<noscript>
  <ul>
    {% for gigbargainband in gigbargain.gigbargainband_set.concurring %}
    <li>{{ gigbargainband.band.name }} {% trans "asks" %} ${{ gigbargainband.defrayment }}</li>
    {% endfor %}
  </ul>
</noscript>
    
</div>