{% extends "base.html" %}

{% load comments %}
{% load tagging_tags %}
{% load threadedcomments_tags %}
{% load timedelta %}

{% block css %}

<link rel="profile" href="http://microformats.org/profile/hcalendar" />
<link rel="profile" href="http://microformats.org/profile/hcard" />

<style type="text/css">

	
/* button basics */
	a.minibutton {
		display:inline-block;
		height:23px;
		padding:0 0 0 3px;
		font-size:11px;
		font-weight:bold;
		color:#333;
		text-shadow:1px 1px 0 #fff; 
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_matrix.png) 0 0 no-repeat;
		white-space:nowrap;
		border:none;
		overflow:visible;
		cursor:pointer;
		text-decoration:none;
	}
	
	a.minibutton>span {
		display:block;
		height:23px;
		padding:0 10px 0 8px;
		line-height:23px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_matrix.png) 100% 0 no-repeat;
	}
	
	a.minibutton:hover, a.minibutton:focus {
		color:#fff;
		text-decoration:none;
		text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
		background-position:0 -30px;
	}
	a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
	
	a.minibutton.mousedown{background-position:0 -60px; }
	a.minibutton.mousedown>span{background-position:100% -60px; }
	
	/* with icon */
	a.btn-download .icon {
		float:left;
		margin-left:-4px;
		width:18px;
		height:22px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-download .icon {background-position:-40px 0;}
	a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}

	/* with icon */
	a.btn-fork .icon {
		float:left;
		margin-left:-4px;
		width:18px;
		height:22px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-fork .icon {background-position:-80px 0;}
	a.btn-fork:hover .icon, a.btn-download:focus .icon {background-position:-80px -25px;}

	/* with icon */
	a.btn-kick .icon {
		float:left;
		margin-left:-4px;
		width:18px;
		height:22px;
		background:url({{ MEDIA_URL }}/images/buttons/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-kick .icon {background-position:-120px 0;}
	a.btn-kick:hover .icon, a.btn-download:focus .icon {background-position:-120px -25px;}



</style>


<style type="text/css">
/**
         * CSS Timeline Styles
         */

         ul.events {
             list-style-type: none;
             margin: 0;
         }

         ul.events li {
             margin-left: 0px;
             -webkit-border-radius: 11px;
             -moz-border-radius: 11px;
             border-radius: 11px;
             background: #eee;
             border: 1px solid #ddd;
             color: #707070;
             font-size: 1.2em;
             font-weight: bold;
             margin-bottom: 6px;
             position: relative;
             text-align: center;
         }

         ul.events li em {
             color: #aaa;
             font-weight: normal;
             font-size: 0.9em;
         }

         ul.intervals {
             list-style-type: none;
             padding: 0;
             display: block;
         }

         /* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
         ul.intervals li {
             color: #999;
font-size: 1.2em;
float: left;
             margin: 0;
             text-align: center;
         }
    </style>

    <!--[if IE]>
        <style type="text/css">
            ul.intervals li {
                width: 14.11%;
            }
        </style>
    <![endif]-->


<style type="text/css">
  .bargainbox {
  background-color: #eee;
  padding: 10px; 
  margin-bottom: 20px;
  }

#mainNav li{
  margin:0;
  padding:0;
  height:65px;
  list-style:none;
  float:left;
  background-color:#EBEBEB;
  background-image: url({{ MEDIA_URL }}/images/stepmenu/navBtn.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

#mainNav li.current{
	background-color:#C36615;
	background-image: url({{ MEDIA_URL }}/images/stepmenu/navCurrentBtn.gif);
}

#mainNav li.lastDone{
	background-color:#7C8437;
	background-image: url({{ MEDIA_URL }}/images/stepmenu/navLastDoneBtn.gif);
}

#mainNav li.done{
	background-color:#7C8437;
	background-image: url({{ MEDIA_URL }}/images/stepmenu/navDoneBtn.gif);
}

#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
color:#ccc;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active, #mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
color:#FFFF99;
cursor:hand;
}

#mainNav li a em{
width:100px;
display:block;
margin:6px 0 0 10px;
font-style:normal;
font-weight:bold;
}

#mainNav li a span{
width:100%;
display:block;
margin-left:10px;
font-weight:normal;
}

#mainNav li.mainNavNoBg{
background-image:none;
}

#mainNav li a{
height:71px;
display:block;
}

/* #mainNav.fiveStep */
#mainNav.fiveStep li{width:20%;}
#mainNav.fiveStep li a{width:20%;}

</style>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/css/jquery/tipsy.css" /> 

{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.bt.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.tipsy.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
  $('a.button-tip').tipsy({gravity: $.fn.tipsy.autoNS});

  $('.comment-tip').bt(
  {
    fill: '#F4F4F4',
    cornerRadius: 10,
    strokeWidth: 0,
  centerPointX: 0.7,
  spikeLength: 10,
  spikeGirth: 20,
    shadow: true,
    shadowOffsetX: 3,
    shadowOffsetY: 3,
    shadowBlur: 8,
    shadowColor: 'rgba(0,0,0,.9)',
    shadowOverlap: false,
    noShadowOpts: {strokeStyle: '#999', strokeWidth: 2},
    positions: 'top',
  });

//  $('#venue-reason-tip').tipsy({gravity: 'e'}).tipsy("show");

{% if gigbargain.venue_reason %}
  $('#venue-reason-content').hide();
  $('#venue-picture').bt({
  trigger: 'none',
  contentSelector: "$('#venue-reason-content')",
  positions: ['left', 'top'],
  fill: '#F4F4F4',
  strokeStyle: '#666666', 
  width: 100,
  overlap: 10,
  centerPointY: 0,
  clickAnywhereToClose: false,
  cornerRadius: 10, 
  cssStyles: {
    fontFamily: '"Lucida Grande",Helvetica,Arial,Verdana,sans-serif', 
    fontSize: '12px',
    padding: '10px 14px'
  },
  shadow: true,
  shadowColor: 'rgba(0,0,0,.5)',
  shadowBlur: 8,
  shadowOffsetX: 4,
  shadowOffsetY: 4
}).btOn();
{% endif %}

  });
</script>

<script type="text/javascript">

/* jQuery */
$(document).ready(function() {
	jQuery('a.minibutton').bind({
		mousedown: function() {
			jQuery(this).addClass('mousedown');
		},
		blur: function() {
			jQuery(this).removeClass('mousedown');
		},
		mouseup: function() {
			jQuery(this).removeClass('mousedown');
		},
                mouseleave: function() {
                        jQuery(this).removeClass('mousedown');
                },
	});
});

</script>


<script type="text/javascript" charset="utf-8">
function bindPostCommentHandler() {
    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#comment_form form').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#comment_form form').replaceWith(html);
                bindPostCommentHandler();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostCommentHandler();
});
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jit.js"></script>


{% endblock %}

{% block content %}

<div class="grid_11 alpha omega">
  <h2 style="margin-bottom: 0px">Gig Bargain / {{ gigbargain.date }} - {{ gigbargain.venue.name|capfirst }}, Lille, FR</h2>
  <div class="grid_11 alpha omega" style="font-size: 0.9em; font-style: italic;">
    with
    {% for band in gigbargain.bands.all %}
    <a href="{{ band.get_absolute_url }}">{{ band.name }}</a>{% if not forloop.last %},{% else %}.{% endif %}
    {% endfor %}
  </div>
  <div class="grid_11 alpha">
    {{ gigbargain.state }}
  <div class="grid_11 alpha omega">

<!--

{% if gigbargain.state == 'draft' %}
<p>
<b>Bands, this is a draft. You should negociate all together until you agree, then you'll be able to submit it to the venue. You can still <a href="{% url gigbargain:gigbargain-band-invite-band gigbargain.pk %}">invite other bands</a></b>.
<p/>
{% endif %}

{% if gigbargain.state == 'draft_ok' %}
<p>
<b>Bands, this draft has been validated by all of you. If you are the bargain initiator, you may consider <a href="{% url gigbargain:gigbargain-band-submit-to-venue gigbargain.pk %}">submitting this bargain to the venue ({{ gigbargain.venue.name }})</a> or <a href="{% url gigbargain:gigbargain-band-draft-renegociate gigbargain.pk %}">restart the negociations</a> if something is incorrect.</b>
<p/>
{% endif %}


{% if gigbargain.state == 'need_venue_confirm' %}
<p>
<b>Venue, you need to <a href="{% url gigbargain:gigbargain-venue-confirm-bands gigbargain.pk %}">confirm</a> that you want to go on bargaining, even if all bands didn't accept to bargain. You can also <a href="{% url gigbargain:gigbargain-venue-invite-band gigbargain.pk %}">invite another band</a> or <a href="{% url gigbargain:gigbargain-venue-cancel gigbargain.pk %}">cancel this bargain</a> if it doesn't meet anymore your requirements.</b>
</p>
{% endif %}

{% if gigbargain.state == 'band_nego' %}
<p>
The bands are negociating.<br>
<b>Venue, you can <a href="{% url gigbargain:gigbargain-venue-invite-band gigbargain.pk %}">invite another band</a> if you wish to</b>
</p>
{% endif %}

{% if gigbargain.state == 'band_ok' %}
<p>
<b>Venue, you may either <a href="{% url gigbargain:gigbargain-venue-conclude gigbargain.pk %}">conclude</a> this bargain, ask one or more bands to change their terms (by letting a comment), <a href="{% url gigbargain:gigbargain-venue-renegociate gigbargain.pk %}">restart the negociations</a> or <a href="{% url gigbargain:gigbargain-venue-decline gigbargain.pk %}">decline it completely</a>.</b>
<p/>
{% endif %}

{% if gigbargain.state == 'complete_proposed_to_venue' %}
<p>
  <b>Bands, this bargain has been submitted to {{ gigbargain.venue.name }}, you have to wait for them to reply.</b>
  <br/>
  <b>Venue, you may either <a href="{% url gigbargain:gigbargain-venue-conclude gigbargain.pk %}">accept and conclude</a> this bargain or <a href="{% url gigbargain:gigbargain-venue-enter gigbargain.pk %}">negociate the terms</a> or <a href="{% url gigbargain:gigbargain-venue-decline gigbargain.pk %}">completely decline</a> this proposal.</b>
<p/>
{% endif %}

{% if gigbargain.state == 'incomplete_proposed_to_venue' %}
<p>
<b>Venue, you can either <a href="{% url gigbargain:gigbargain-venue-enter gigbargain.pk %}">accept to enter the negociations</a> or <a href="{% url gigbargain:gigbargain-venue-decline gigbargain.pk %}">refuse to bargain</a> with these bands.</b>
<p/>
{% endif %}

{% if gigbargain.state == 'declined' %}
<p>
<b>This bargain was declined by the venue : it's dead, you VERY LOOSE.</b>
</p>
{% endif %}

{% if gigbargain.state == 'canceled' %}
<p>
<b>This bargain was canceled by the organizer : it's dead, you LOOSE.</b>
</p>
{% endif %}
-->
</div>

  <div class="grid_11 alpha omega" style="text-align: right; margin-bottom: 10px; display: inline-block;">
    {% if is_venue_managed %}

    {% if gigbargain.state == 'band_ok' %}
    <a href="{% url gigbargain:gigbargain-venue-conclude gigbargain.pk %}" class="button-tip minibutton btn-download" title="Accept the terms"><span><span class="icon"></span>Conclude</span></a>    
    <a href="{% url gigbargain:gigbargain-venue-renegociate gigbargain.pk %}" class="button-tip minibutton btn-download" title="Restart the negociations"><span><span class="icon"></span>Renegociate</span></a>    
    <a href="{% url gigbargain:gigbargain-venue-decline gigbargain.pk %}" class="button-tip minibutton btn-download" title="Refuse and close this bargain"><span><span class="icon"></span>Decline</span></a>    
    {% endif %}

    {% if gigbargain.state == 'complete_proposed_to_venue' %}
    <a href="{% url gigbargain:gigbargain-venue-conclude gigbargain.pk %}" class="button-tip minibutton btn-download" title="Accept the terms"><span><span class="icon"></span>Accept</span></a>    
    <a href="{% url gigbargain:gigbargain-venue-enter gigbargain.pk %}" class="button-tip minibutton btn-download" title="Enter the negociations"><span><span class="icon"></span>Negotiate</span></a>    
    <a href="{% url gigbargain:gigbargain-venue-decline gigbargain.pk %}" class="button-tip minibutton btn-download" title="Refuse and close this bargain"><span><span class="icon"></span>Refuse</span></a>    
    {% endif %}

    {% if gigbargain.state == 'need_venue_confirm' %}
    <a href="{% url gigbargain:gigbargain-venue-confirm-bands gigbargain.pk %}" class="button-tip minibutton btn-download" title="Go on with the bands that have accepted"><span><span class="icon"></span>Begin negociations</span></a>    
    <a href="{% url gigbargain:gigbargain-venue-cancel gigbargain.pk %}" class="button-tip minibutton btn-download" title="Refuse and close this bargain"><span><span class="icon"></span>Abort</span></a>    
    {% endif %}


    {% endif %}

    {% if managed_bands|length %}
    {% if gigbargain.state == 'draft_ok' %}
    <a href="{% url gigbargain:gigbargain-band-draft-renegociate gigbargain.pk %}" class="button-tip minibutton btn-download" title="Restart negociations"><span><span class="icon"></span>Renegociate</span></a>
    <a href="{% url gigbargain:gigbargain-band-submit-to-venue gigbargain.pk %}" class="button-tip minibutton btn-download" title="Send this proposal to the venue"><span><span class="icon"></span>Submit to {{ gigbargain.venue.name }}</span></a>
    {% endif %}
    
    {% endif %}


    {% for band in managed_bands %}

    {% if band.state == 'waiting' %}
    <a href="{% url gigbargain:gigbargain-band-enter gigbargain.pk band.band.slug %}" class="button-tip minibutton btn-download" title="Accept to bargain with {{ gigbargain.venue.name }}"><span><span class="icon"></span>{{ band.band.name }}: Enter negociations</span></a>
    <a href="{% url gigbargain:gigbargain-band-refuse gigbargain.pk band.band.slug %}" class="button-tip minibutton btn-download" title="Refuse to negociate with {{ gigbargain.venue.name }}"><span><span class="icon"></span>{{ band.band.name }}: Refuse proposition</span></a>
    {% endif %}

    {% if gigbargain.state == 'band_nego' or gigbagain.state == 'band_ok' or gigbargain.state == 'draft' or gigbargain.state == 'draft_ok' %}
    {% if band.state == 'negociating' %}
    <a href="{% url gigbargain:gigbargain-band-part-lock gigbargain.pk band.band.slug %}" class="button-tip minibutton btn-download" title="Lock the terms related to your band"><span><span class="icon"></span>{{ band.band.name }}: Lock your part</span></a>
    {% else %} {% if band.state == 'part_validated' %}
    <a href="{% url gigbargain:gigbargain-band-part-unlock gigbargain.pk band.band.slug %}" class="button-tip minibutton btn-download" title="Unlock the terms related to your band"><span><span class="icon"></span>{{ band.band.name }}: Unlock your part</span></a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- <a href="{% url gigbargain:gigbargain-band-kick gigbargain.pk 'lymbago' %}" class="minibutton btn-kick"><span><span class="icon"></span>Kick</span></a> -->
  </div>


  <div class="grid_11 alpha omega" style="margin-bottom: 10px">

<!-- State : {{ gigbargain.state }} -->
    
    <ul id="mainNav" class="fiveStep">
      <li class="done"><a style="cursor: help" title="Yeah yeah, draft"><em>Draft</em></a></li>
      <li class="lastDone"><a style="cursor: help" title=""><em>Draft ok</em></a></li>
      <li class="current"><a title=""><em>Submitted</em></a></li>
      <li><a title=""><em>Negociation</em></a></li>
      <li class="mainNavNoBg"><a title=""><em>Finished</em></a></li>
    </ul>
  </div>
  
  </div>
<div class="grid_6 alpha">
  <div class="ui-corner-all bargainbox">

    <img src="{{ MEDIA_URL }}/images/tmp_where.png" style="vertical-align: middle; " width="25"/>
    <h3 style="display: inline; vertical-align: middle; ">Where and When</h3>
    <div style="display: inline; margin-left: 20px; vertical-align: middle; ">
      <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.pk 'whenwhere' %}"><img width="20px" src="{{ MEDIA_URL }}/images/blurp_comment.png" alt="Comment on section timeline" style="vertical-align: middle"/></a>
      <span style="font-size: small">0</span>
      {% if is_venue_managed %}
      {% if gigbargain.state == 'new' or gigbargain.state == 'need_venue_confirm' or gigbargain.state == 'band_nego' or gigbargain.state == 'band_ok' %}
      <a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.pk %}" class="minibutton btn-download"><span><span class="icon"></span>Edit</span></a>  
      {% endif %}
      {% endif %}
    </div>

    <div class="clear" style="height: 15px"></div>

    {% with gigbargain.venue as venue %}
    <div class="vcard">
      <img id="venue-picture" width='60px' height='60px' style="float:left; margin-right:4px" src="{{ MEDIA_URL }}/images/tmp_venue.jpg" alt="picture of {{ venue.name }}" class="photo"/>
      {% if gigbargain.venue_reason %}
      <div id="venue-reason-content">{{ gigbargain.venue_reason }}</div>
      {% endif %}
      <a class="url uid" href="{{ venue.get_absolute_url }}">
	<div class="org fn">
	  <span class="organization-name">{{ venue|capfirst }}</span>
	</div>
      </a>

      <div class="adr">
	<span class="locality">Lille</span>,
	<span class="country-name">France</span>
      </div>

      <div class="tags">
	{% tags_for_object venue as venue_tags %}
	{% for tag in venue_tags %}
	 <a href="#">{{ tag }}</a>
	{% endfor %}
      </div>
    </div>
    {% endwith %}
    <br/>
    <b>When</b> : {{ gigbargain.date|date:'l'|capfirst }} {{ gigbargain.date }} (in {{ gigbargain.date|timeuntil }})<br/>
    <b>Opens</b> : {{ gigbargain.opens_at }}, <b>Closes</b> : {{ gigbargain.closes_at }}<!-- [<a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.pk %}">Venue, change that</a>] --><br/>
    
  </div>

</div>

<div class="grid_5 omega">
  <div class="ui-corner-all bargainbox">
    <img src="{{ MEDIA_URL }}/images/tmp_access.png" style="vertical-align: middle; " width="25"/>
    <h3 style="display: inline; vertical-align: middle; ">Access</h3>
    <div style="display: inline; margin-left: 20px; vertical-align: middle; ">
      <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.pk 'access' %}"><img width="20px" src="{{ MEDIA_URL }}/images/blurp_comment.png" alt="Comment on section timeline" style="vertical-align: middle"/></a>
      <span style="font-size: small">2</span>
      {% if is_venue_managed %}
      {% if gigbargain.state == 'new' or gigbargain.state == 'need_venue_confirm' or gigbargain.state == 'band_nego' or gigbargain.state == 'band_ok' %}
      <a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.pk %}" class="minibutton btn-download"><span><span class="icon"></span>Edit</span></a>  
      {% endif %}
      {% endif %}
    </div>

    <div class="clear" style="height: 15px"></div>


    
    {% if gigbargain.access %}
    Entrance : {{ gigbargain.get_access_display }}<br/>
    {% else %}
    Entrance is not set.
    {% endif %}
    
    {% if gigbargain.access == 'FEES' %}
    Fee amount : {{ gigbargain.fee_amount }}
    {% endif %}
    
    {% if gigbargain.access == 'DRNK' %}
    Number of drinks : {{ gigbargain.fee_amount }}
    {% endif %}

    {% if gigbargain.access == 'FREE' %}
    <p>
      <br/>
    <em>Free access means that people can attend the gigs without paying.</em>
    </p>
    {% endif %}
  </div>
</div>


<div class="grid_11 alpha omega">
  <div class="ui-corner-all bargainbox">
    
    <div style="margin-bottom: 15px;">
    <img src="{{ MEDIA_URL }}/images/tmp_bands.png" style="vertical-align: middle; " width="25"/>
      <h4 style="display: inline;">Bands ({{ gigbargain.gigbargainband_set.concurring.count }})</h4>
      <!-- Action buttons for bands -->
      <div style="display: inline; float: right">
	{% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' %}
	{% if managed_bands|length %}
	<a href="{% url gigbargain:gigbargain-band-invite-band gigbargain.pk %}" class="minibutton btn-fork"><span><span class="icon"></span>Invite band</span></a>
	{% endif %}
	{% endif %}

	{% if is_venue_managed %}
	{% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' or gigbargain.state == 'new' %}
	<a href="{% url gigbargain:gigbargain-venue-invite-band gigbargain.pk %}" class="minibutton btn-fork"><span><span class="icon"></span>Venue: Invite band</span></a>
	{% endif %}
	{% endif %}
      </div>
    </div>
    
      {% for band in gigbargain.gigbargainband_set.concurring %}
    <div class="grid_5" style="margin-bottom: 15px">
      <div class="grid_5 alpha omega">
	<div class="vcard">
	  <img width='60px' height='60px' style="float:left; margin-right:4px" src="{{ band.band.avatar_url }}" alt="picture of {{ venue.name }}" class="photo"/>
	  <a class="url uid" href="{{ band.band.get_absolute_url }}">
	    <div class="org fn">
	      <span class="organization-name">{{ band|capfirst }}</span>
	    </div>
	  </a>
	  {% if band.band.presskit %}
	  (<a href="{{ band.band.presskit.get_absolute_url }}">PressKit</a>)
	  {% endif %}
	  
	  <div class="adr">
	    <span class="locality">Lille</span>,
	    <span class="country-name">France</span>
	  </div>
	  
	  <div class="tags">
	    {% tags_for_object band.band as band_tags %}
	    {% for tag in band_tags %}
	    <a href="#">{{ tag }}</a>{% if not forloop.last %},{% endif %}
	    {% endfor %}
	  </div>
	</div>
	<div class="grid_5 alpha omega" style="background-color:
	  {% if band.state == 'negociating' %}
	  yellow
	  {% endif %}
	  {% if band.state == 'part_validated' %}
	  lightgreen
	  {% else %}{% if band.state == 'waiting' %}
	  purple
	  {% else %}{% if band.state == 'refused' %}
	  red
	  {% else %}{% if band.state == 'accepted' %}
	  green
	  {% endif %}
	  {% endif %}
	  {% endif %}
	  {% endif %}
	  ;">
	  {{ band.state }}
	</div>

      </div>

    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="clear"></div>
    {% endif %}
    {% endfor %}

    <div class="grid_10 alpha omega" style="font-size: 0.8em;">
      No more concurring :
      {% for gigbargainband in gigbargain.gigbargainband_set.not_concurring %}
      <span class="comment-tip" title="<b>Reason</b>: {{ gigbargainband.reason }}"><a href="{{ gigbargainband.band.get_absolute_url }}">{{ gigbargainband.band.name }}</a><span>
      {% endfor %}
    </div>

    <div class="clear"></div>
  </div>
</div>

<div class="grid_11 alpha omega">
  <div class="ui-corner-all bargainbox">
    
    <img src="{{ MEDIA_URL }}/images/tmp_timeline.png" style="vertical-align: middle; " width="25"/>
    <h3 style="display: inline; vertical-align: middle; ">Timeline</h3>
    <div style="display: inline; margin-left: 20px; vertical-align: middle; ">
      <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.pk 'timeline' %}"><img width="20px" src="{{ MEDIA_URL }}/images/blurp_comment.png" alt="Comment on section timeline" style="vertical-align: middle"/></a>
      <div style="display: inline; float: right">
	{% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' %}
	{% for band in managed_bands %}
	{% if band.state == 'negociating' %}
	<a href="{% url gigbargain:gigbargain-band-part-edit gigbargain.pk band.band.slug %}" class="minibutton btn-fork"><span><span class="icon"></span>{{ band.band.name }}: Edit</span></a>
	{% endif %}
	{% endfor %}
	{% endif %}
      </div>

      <span style="font-size: small"><font color="red">3</font></span>
    </div>

    <div class="clear" style="height: 15px"></div>

    <div class="grid_10 alpha omega clearfix" style="margin-bottom: 20px">
        <ul class="events">
	  {% for gig in timeline.bands %}
          <li style="width: {% widthratio gig.duration.seconds timeline.global.duration.seconds 100 %}%; left: {% widthratio gig.delta_start.seconds timeline.global.duration.seconds 100 %}%;">{{ gig.band.name }} - <em>{{ gig.duration|timedelta }}</em></li>
	  {% endfor %}
        </ul> <!-- end .events -->

	<ul class="intervals">
	  {% for step in timeline.global.steps %}
          <li style="border-{% cycle 'top' 'bottom' %}: 1px black solid; width: {% widthratio 1800 timeline.global.duration.seconds 100 %}%;">{{ step|time:"H:i" }}</li>
	  {% endfor %}
        </ul> <!-- end .intervals -->

    </div> <!-- end .timeline -->

    <div class="vcalendar grid_11 alpha omega">
      <ul>
	{% for gig in timeline.bands %}
	<li>
	  <span class="vevent">
	    <abbr class="dtstart" title="{{ gig.start|date:'c' }}">{{ gig.start }}</abbr> --
	    <abbr class="dtend" title="{{ gig.end|date:'c' }}">{{ gig.end }}</abbr> :
	    <span class="summary">{{ gig.band.name }} plays during</span>
	    <abbr class="duration" title="{{ gig.duration|iso8601 }}">{{ gig.duration|timedelta }}</abbr>
	  </span>
	</li>
	{% endfor %}
      </ul>

     {% if not timeline.bands|length %}
      No band have already set when they play.
      {% endif %}
    
    {% for gig in timeline.bands %}
      {% if not forloop.first %}
      {% if gig.time_before_previous.seconds < 600 %}
        <font color="red">Warning : {{ gig.band.name }} has less than 10 minutes to setup its scene !</font>
      {% endif %} {% endif %}
    {% endfor %}

    </div>

    <div class="clear"></div>
  </div>

</div>


<div class="grid_6 alpha">
  <div class="ui-corner-all bargainbox">

    <img src="{{ MEDIA_URL }}/images/tmp_remuneration.png" style="vertical-align: middle; " width="25"/>
    <h3 style="display: inline; vertical-align: middle; ">Remuneration</h3>
    <div style="display: inline; margin-left: 20px; vertical-align: middle; ">
      <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.pk 'remuneration' %}"><img width="20px" src="{{ MEDIA_URL }}/images/blurp_comment.png" alt="Comment on section timeline" style="vertical-align: middle"/></a>
      <span style="font-size: small">0</span>

      <div style="display: inline; float: right">
	{% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' %}
	{% for band in managed_bands %}
	{% if band.state == 'negociating' %}
	<a href="{% url gigbargain:gigbargain-band-part-edit gigbargain.pk band.band.slug %}" class="minibutton btn-fork"><span><span class="icon"></span>{{ band.band.name }}: Edit</span></a>
	{% endif %}
	{% endfor %}
	{% endif %}
      </div>

    </div>

    <div class="clear" style="height: 15px"></div>

    
    {% if not gigbargain.remuneration %}
    Remuneration type is not set [<a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.pk %}">Venue, set it</a>].
    {% else %}
    Type of remuneration : {{ gigbargain.get_remuneration_display }}
    {% endif %}
    
    <script type="text/javascript">
      $(document).ready(function() {
      var pieChart = new $jit.PieChart({  
      //Where to inject the canvas. Any div container will do.  
      injectInto:'infovis',  
      //width and height for canvas.  
         //Default's to the container offsetWidth and Height.  
      offset: 15,
        sliceOffset: 0,
        labelOffset: 20,
        type: 'stacked:gradient',
        hoveredColor: '#9fd4ff',
Tips: {  
     enable: true,  
     onShow: function(tip, elem) {  
      {% if gigbargain.remuneration == 'PERC' %}
       tip.innerHTML = "<b>" + elem.label + "</b>: " + elem.value + "%";  
      {% else %}
       tip.innerHTML = "<b>" + elem.label + "</b>: $" + elem.value;  
      {% endif %}
     }
   },
   Label: { type: 'HTML', color: '#000', size: 11 },


   });  


var json = {  
     'values': [  
  {% for band in gigbargain.gigbargainband_set.all %}
     {  
       'label': '<a href="{{ band.band.get_absolute_url }}">{{ band.band.name }}</a>',  
       {% if gigbargain.remuneration == 'PERC' %}
       'values': [ {{ band.percentage }} ],
       {% else %}
       'values': [ {{ band.amount }} ],
       {% endif %}
     },
  {% endfor %}
]}

  pieChart.loadJSON(json);

});
    </script>

    <div id="infovis" style="margin-left: 50px; width: 80%; height: 230px"></div>

  </div>
</div>

<div class="grid_5 omega">

  <div class="ui-corner-all bargainbox">

    <img src="{{ MEDIA_URL }}/images/tmp_defrayment.png" style="vertical-align: middle; " width="25"/>
    <h3 style="display: inline; vertical-align: middle; ">Defrayments</h3>
    <div style="display: inline; margin-left: 20px; vertical-align: middle; ">
      <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.pk 'defrayments' %}"><img width="20px" src="{{ MEDIA_URL }}/images/blurp_comment.png" alt="Comment on section timeline" style="vertical-align: middle"/></a>
      <span style="font-size: small"><font color="red">1</font></span>
      <div style="display: inline; float: right">
	{% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' %}
	{% for band in managed_bands %}
	{% if band.state == 'negociating' %}
	<a href="{% url gigbargain:gigbargain-band-part-edit gigbargain.pk band.band.slug %}" class="minibutton btn-fork"><span><span class="icon"></span>{{ band.band.name }}: Edit</span></a>
	{% endif %}
	{% endfor %}
	{% endif %}
      </div>

    </div>

    <div class="clear" style="height: 15px"></div>


<div id="defrayments_graph" style="margin-left: 20px; width: 80%; height: 246px;"></div>

<script type="text/javascript">
  var json = {
    label: ['$'],
  values: [
  {% for gigbargainband in gigbargain.gigbargainband_set.all %}
  {
    label: '<a href="{{ gigbargainband.band.get_absolute_url }}">{{ gigbargainband.band.name }}</a>',
    values: [{{ gigbargainband.defrayment }},],
  },
  {% endfor %}
  ]
};

  $(document).ready(function() {
  var barChart = new $jit.BarChart({  
     //id of the visualization container  
    injectInto: 'defrayments_graph',  
     //whether to add animations  
    animate: true,  
     //horizontal or vertical barcharts  
     orientation: 'vertical',  
     //bars separation  
     barsOffset: 20,  
     //visualization offset  
     offset: 10,  
     //labels offset position  
     labelOffset: 5,  
     //bars style  
     type: 'stacked:gradient',
     //whether to show the aggregation of the values  
     showAggregates:true,  
     //whether to show the labels for the bars  
     showLabels:true,  
  filterOnClick: true,  
  restoreOnRightClick:true  ,
     //labels style  
     Label: {  
       type: 'HTML', //Native or HTML  
       size: 13,  
       family: 'Arial',
       color: 'black'  
     },  
     //add tooltips  
     Tips: {  
       enable: true,  
       onShow: function(tip, elem) {  
         tip.innerHTML = "<font color='white'><b>" + elem.name + "</b>: " + elem.value + "</font>";  
       }  
     }  
   });  
   //load JSON data.  
   barChart.loadJSON(json);  
});
</script>

<noscript>
  <ul>
    {% for gigbargainband in gigbargain.gigbargainband_set.all %}
    <li>{{ gigbargainband.band.name }} asks ${{ gigbargainband.defrayment }}</li>
    {% endfor %}
  </ul>
</noscript>
    
  </div>
</div>


</div>

<div class="grid_3 omega" style="font-size: 11px">

<!--  <div class="grid_3 alpha omega" style="font-size: 0.9em; font-style: italic; background-color: #ffffb0">
    <div style="border: 1px #eee solid; padding: 10px; padding-top: 10px;">
      <b>What to do now ?</b>
      You can change whatever you want and then click on the Validate button.
    </div>
  </div>
-->
  <div class="grid_3 alpha omega" style="margin-top: 80px">
    <h3 style="font-size: medium">Latest changes</h3>

    <ul>
      {% for old_version in old_versions %}
      {% with old_version.revision as revision %}
      <li>{{ revision.date_created }} - {{ revision.comment }}, by <a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a></li>
      {% endwith %}
      {% endfor %}
    </ul>
  </div>


  <div class="grid_3 alpha omega">
    {% get_comment_count for gigbargain as comment_count %}
    
    <h3 style="font-size: medium">Latest comments ({{ comment_count }})</h3>
    {% get_comment_list for gigbargain as comments %}
    
    <ul>
      {% for comment in comments|fill_tree|annotate_tree %}
      
      <li><a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_full_name|default:comment.user.username }}</a> said : {{ comment.comment }}</li>
      
      {% endfor %}
    </ul>
    
    <div id="comment_form">
      {# {% render_comment_form for gigbargain %} #}
    </div>
  </div>
</div>

{% endblock %}
