{% load tagging_tags %}
{% load i18n %}
{% load django_static %}
{% load comments %}

<div class="header">
  <img src="{% staticfile '/images/gigbargain/whereandwhen_ico.png' %}" alt="When and Where"/>

  <h2>{% trans "Where and When" %}</h2>

  <a class="comment-thread" href="{% url gigbargain:gigbargain-comments-section-display gigbargain.uuid 'whenwhere' %}">
    {% get_comment_count for comments.whenwhere as comment_count %}
      {% if comment_count %}
	{% staticfile '/images/bargain/comments_on.png' as comments_img %}
      {% else %}
	{% staticfile '/images/bargain/comments_off.png' as comments_img %}
      {% endif %}
    <img class="comments" src="{{ comments_img }}" alt="Comments for When where section"/>
  </a>

  {% if is_venue_managed %}
    {% if gigbargain.state == 'new' or gigbargain.state == 'need_venue_confirm' or gigbargain.state == 'band_nego' or gigbargain.state == 'band_ok' %}
      <a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.uuid %}" class="minibutton btn-download"><span><span class="icon"></span>Venue: Edit</span></a>  
    {% endif %}
  {% endif %}

  {% if gigbargain.state == 'band_nego' or gigbargain.state == 'band_ok' %}      
    {% for gigbargainband in gigbargain.gigbargainband_set.concurring %}
      <a href="{% url gigbargain:gigbargain-band-common-edit gigbargain.uuid gigbargainband.band.slug %}" class="minibutton btn-download"><span><span class="icon"></span>{{ gigbargainband.band.name }}: Edit</span>
      </a> 
    {% endfor %}
  {% endif %}

</div>

<div class="separator"></div>

<div class="content">

  {% with gigbargain.venue as venue %}

    <h3>{% trans "Where" %}</h3>

    <div class="grid_7 alpha omega">
    <!-- Venue vcard -->
    <div id="venue" class="vcard {% if gigbargain.macro_state == 'draft' or gigbargain.macro_state == 'draft_ok' %}notwarned{%else%}ready{%endif%}">
      {% staticfile '/images/venue/no_picture.png' as no_picture %}
      <img id="venue-picture" width='80px' height='80px' src="{{ venue.pictures.avatar.avatar_image.url|default:no_picture }}" alt="picture of {{ venue.name }}" class="photo"/>

      {% if gigbargain.venue_reason %}
	<div id="venue-reason-content">{{ gigbargain.venue_reason }}</div>
      {% endif %}

      <a class="url uid fancybox" href="{{ venue.get_absolute_url }}">
	<div class="org fn">
	  <span class="organization-name">{{ venue|capfirst }}</span>
	</div>
      </a>

      <div class="adr">
	<span class="locality">{{ venue.city }}</span>
	<span class="country-name">{{ venue.country.name }}</span>
      </div>

      <div class="tags">
	{% tags_for_object venue as venue_tags %}
	  {{ venue_tags|join:", " }}
      </div>
    </div>
    </div>
  {% endwith %}

  <div class="clear"></div>

  <h3>{% trans "When" %}</h3>
  <strong>{{ gigbargain.date|date:'l'|capfirst }} {{ gigbargain.date }}</strong> 
  {% blocktrans with gigbargain.date|timeuntil as time_left %}(in {{ time_left }}){% endblocktrans %}<br/>
  <!-- {% trans "Opens at:" %} {{ gigbargain.opens_at|default:"??" }}, {% trans "Closes at:" %} {{ gigbargain.closes_at|default:"??" }} 
  [<a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.uuid %}">Venue, change that</a>] -->

</div>

