{% extends "base.html" %}

{% load django_static %}
{% load uni_form_tags %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
	$('#id_date').datepicker({dateFormat: 'yy-mm-dd'});
    });
  </script>

{% endblock %}

{% block content %}

<div id="text">

<h1>Initiate a new gig bargain</h1>

<form method='POST' action='{{ request.path }}' class="uniForm">
  <fieldset>
    <legend>Where and when</legend>

    {{ gigbargain_form|as_uni_form }}

  </fieldset>

  <fieldset>
    <legend>My band : {{ band.name }}</legend>

    {{ gigbargain_myband_form|as_uni_form }}

  </fieldset>
  
    <input type="submit" name="create_draft" value="Create a draft">
  </form>

</div>

{% endblock %}
