{% load i18n %}
{% load django_static %}

<div class="header">
  <img src="{% staticfile '/images/gigbargain/remuneration_ico.png' %}" alt="remuneration"/>
  <h2>{% trans "Remuneration" %}</h2>

  <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.uuid 'remuneration' %}">
    <img class="comments" src="{% staticfile '/images/bargain/comments_off.png' %}" alt="Comments for remuneration section"/>
  </a>

  {% if gigbargain.state == 'draft' or gigbargain.state == 'band_nego' %}
    {% for band in managed_bands %}
      {% if band.state == 'negociating' %}
	<a href="{% url gigbargain:gigbargain-band-part-edit gigbargain.uuid band.band.slug %}" class="minibutton btn-fork"><span><span class="icon"></span>{{ band.band.name }}: Edit</span></a>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<div class="separator"></div>

<div class="content">

    
    {% if not gigbargain.remuneration %}
      Remuneration type is not set [<a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.uuid %}">Venue, set it</a>].
    {% else %}
      {% trans "Type of remuneration:" %} {{ gigbargain.get_remuneration_display }}
    {% endif %}
    

    <div id="remuneration-graph" style="margin-left: 50px; width: 80%; height: 200px;"></div>

</div>