{% load i18n %}
{% load django_static %}

<div class="header">
  <img src="{% staticfile '/images/gigbargain/access_ico.png' %}" alt="Access"/>

  <h2>{% trans "Access" %}</h2>
  <a href="{% url gigbargain:gigbargain-comments-section-display gigbargain.uuid 'access' %}">
      <img class="comments" src="{% staticfile '/images/bargain/comments_off.png' %}" alt="Comments for Access section"/>
  </a>

    {% if is_venue_managed %}
      {% if gigbargain.state == 'new' or gigbargain.state == 'need_venue_confirm' or gigbargain.state == 'band_nego' or gigbargain.state == 'band_ok' %}
	<a href="{% url gigbargain:gigbargain-venue-common-edit gigbargain.uuid %}" class="minibutton btn-download"><span><span class="icon"></span>Edit</span></a>  
      {% endif %}
    {% endif %}

</div>

<div class="separator"></div>

<div class="content">

  {# Display access type #}

  {% if gigbargain.access %}
    {% trans "Entrance:" %} {{ gigbargain.get_access_display }}<br/>
  {% else %}
    {% trans "Entrance is not set." %}
  {% endif %}

  {% if gigbargain.access == 'FEES' %}
    {% trans "Fee amount:" %} {{ gigbargain.fee_amount }}
  {% endif %}

  {% if gigbargain.access == 'DRNK' %}
    {% trans "Number of drinks:" %} {{ gigbargain.fee_amount }}
  {% endif %}

  {% if gigbargain.access == 'FREE' %}
    {% trans "Free access means that people can attend the gigs without paying." %}
  {% endif %}

</div>