{% extends "bands/base.html" %}


{% block band_content %}

<h2>Members in {{ band.name }}</h2>
<ul>
  {% for bandmember in bandmember_list %}
  <li><a href="{{ bandmember.user.get_profile.get_absolute_url }}">{{ bandmember.user.get_full_name|default:bandmember.user.username }}</a> - 
    {{ bandmember.roles.all|join:", " }}
    [<a href="{% url band:membership-remove band.slug bandmember.user.id %}">X</a>]
  </li>
  {% endfor %}
</ul>

<a href="{% url band:membership-add band.slug %}">Add Member</a>

{% endblock %}


