{% extends "bands/base.html" %}

{% load django_static %}
{% load i18n %}
{% load avatar_tags %}

{% block title %}
  {{ band.name }} &raquo; {% trans "manage members" %}
{% endblock %}

{% block band_section %}
  {% trans "Members" %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fuzzyform.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/band.css" media="screen, projection" />
{% endblock %}

{% block band_content %}

<div id="band-management">
  <div id="bandmembers" class="grid_7 alpha">
    <h3>{% trans "Current members" %}</h3>
    
    {#<a href="{% url band:membership-add band.slug %}" class="button-tip minibutton btn-download" title="Add member"><span><span class="icon"></span>{% trans "Add member" %}</span></a>#}
    
    <ul>
      {% for bandmember in bandmember_list %}
	<li style="height: 80px;">
	  {% avatar bandmember.user 80 %}
	  
	  <a href="{{ bandmember.user.get_profile.get_absolute_url }}">{{ bandmember.user.get_full_name|default:bandmember.user.username }}</a> ({{ bandmember.user.username }})
	  <span class="bandmember_role" title="{{ member.roles.all|join:', ' }}">{{ bandmember.roles.all|join:', ' }}</span>  
	  <a href="{% url band:membership-remove band.slug bandmember.user.id %}" class="button-tip minibutton btn-download" title="remove member"><span><span class="icon"></span>{% trans "Remove" %}</span></a>
	</li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="addmember" class="grid_7 omega">
    <h3>{% blocktrans with band.name as band_name %}Add a member to {{ band_name }}{% endblocktrans %}</h3>
    
    <form method='POST' action='{% url band:membership-add band.slug %}' class="fuzzyform">
      {% csrf_token %}
      {{ memberadd_form.as_p }}
      <input type='submit' value="{% trans "Add member" %}">
      </form>
      
    </div>

    <div class="clear"></div>
</div>

{% endblock %}


