{% load django_static %}
{% load i18n %}

<script type="text/javascript">
$(document).ready(function() {
    $(".faded").fadeTo(0, 0.7);

    $('a.tip').tipsy({gravity: 'n'});
});
</script>

<div class="timeline_top">

  <!-- PAST -->
  <ul class="timeline_list faded">
    {% for event in past_events reversed %}
    <li>
      <div class="timeline_past">
	
	<div class="timeline_time_past">{{ event.event_date|timesince }}</div>
	
	<div class="timeline_infos">
	  
	  <div class="timeline_date_past">
	    <a href="{{ event.get_absolute_url }}">{{ event.event_date|date:'D'|capfirst }} {{ event.event_date.day }} {{ event.event_date|date:'F'|capfirst }} {{ event.event_date.year }}
	    {% if event.start_time %}
	      - {{ event.start_time }}
	    {% endif %}
	    </a>
	  </div>

	  {% with event.venue as venue %}
	    <div class="timeline_localisation"><a href="{% url venue:detail venue.slug %}">{{ venue.name }}</a>, {{ venue.city }}{% if venue.country %}, <img src="{{ venue.country.flag }}" alt="{{ venue.country.name }}" title="{{ venue.country.name }}"/>{% endif %}</div>
	  {% endwith %}

	  <div class="timeline_bands">
	    <ul>
	      {% staticfile '/images/band/no_picture.png' as default_pic %}
	      {% for band in event.bands.all %}
		<li>
		  <a class="tip" href="{% url band:detail band.slug %}" title="{{ band.name }}">
		    <img src="{{ band.pictures.avatar.avatar_image.url|default:default_pic }}" />
		  </a>
		</li>
	      {% endfor %}
	    </ul>				
	  </div>
	  
	</div>
	
      </div>
    </li>
    {% empty %}
    <li>
      <div class="timeline_no_past">
	  <div class="timeline_no_entry">{% trans "No past gig" %}</div>
      </div>
    </li>
    {% endfor %}
  </ul>

  
</div>





<div class="timeline">

  
  <!-- PRESENT -->	
  

  <div class="timeline_present">
    
    <div class="timeline_present_block">
      <div class="timeline_present_today">{% trans "Today" %}</div>
      <div class="timeline_present_date">{% now "D d F Y" %}</div>		
    </div>
    
  </div>

  
  <!-- FUTURE -->
  
  <ul class="timeline_list">
    {% for event in future_events %}
    <li>
      <div class="timeline_future">
	
	<div class="timeline_time">{{ event.event_date|timeuntil }}</div>
	
	<div class="timeline_infos">

	  <div class="timeline_date">
	    <a href="{{ event.get_absolute_url }}">{{ event.event_date|date:'D'|capfirst }} {{ event.event_date.day }} {{ event.event_date|date:'F'|capfirst }} {{ event.event_date.year }}
	    {% if event.start_time %}
	      - {{ event.start_time }}
	    {% endif %}
	    </a>
	  </div>

	  {% with event.venue as venue %}
	    <div class="timeline_localisation"><a href="{% url venue:detail venue.slug %}">{{ venue.name }}</a>, {{ venue.city }}{% if venue.country %}, <img src="{{ venue.country.flag }}" alt="{{ venue.country.name }}" title="{{ venue.country.name }}"/>{% endif %}</div>
	  {% endwith %}

	  <div class="timeline_bands">					
	    <ul>
	      {% staticfile '/images/band/no_picture.png' as default_pic %}
	      {% for band in event.bands.all %}
		<li>
		  <a class="tip" href="{% url band:detail band.slug %}" title="{{ band.name }}">
		    <img src="{{ band.pictures.avatar.avatar_image.url|default:default_pic }}" />
		  </a>
		</li>
	      {% endfor %}
	    </ul>				
	  </div>
	</div>
      </div>
    </li>
    {% empty %}
    <li>
      <div class="timeline_no_past">
	  <div class="timeline_no_entry">{% trans "No scheduled gig" %}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
  
  <div class="timeline_end"></div>
  
</div>

