{% extends 'base.html' %}

{% load uni_form_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/css/jquery/autocomplete/jquery.autocomplete.css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.autocomplete.js"></script>
{% endblock %}

{% block content %}

<h1>New gig</h1>

<form method='POST' action='' class="uniForm">{% csrf_token %}
  {{ gigform|as_uni_form }}
  <input type="submit">
</form>
{% endblock %}
