{% extends 'base.html' %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jit.js"></script>
{% endblock %}

{% block content %}

<h1>Gigbargain fuckin' dashboard of awesome for {{ band.name }}</h1>

<h2>Notices</h2>

<table border=1>
  <tr>
    <th>When</th>
    <th>What</th>
    <th>New</th>
  </tr>

{% for notice in notices_new %}
  <tr>
    <td>{{ notice.added }}</td>
    <td>{{ notice.message }}</td>
    <td>{{ notice.unseen|yesno }}</td>
  </tr>
{% endfor %}

</table>


<h2>Bargains</h2>

<h3>New</h3>
<ul>
{% for gigbargain in new_gigbargains %}
<li>{{ gigbargain }}</li>
{% endfor %}
</ul>

<h3>In progress</h3>
<ul>
{% for gigbargain in inprogress_gigbargains %}
<li>{{ gigbargain }}</li>
{% endfor %}
</ul>

<h3>Concluded</h3>
<ul>
{% for gigbargain in concluded_gigbargains %}
<li>{{ gigbargain }}</li>
{% endfor %}
</ul>


<h2>Monthly stats</h2>

<h3>Calendar</h3>
{{ monthly_calendar.toHTML|safe }}

<h3>Repartition</h3>

<div id="monthly_repartition" style="background-color: black; width: 300px; height: 200px;"></div>

<script type="text/javascript">
  $(document).ready(function() {
   var pieChart = new $jit.PieChart({  
        //Where to inject the canvas. Any div container will do.  
        injectInto: 'monthly_repartition',  
         //width and height for canvas.  
         //Default's to the container offsetWidth and Height.  
         width: 300,  
         height:200,
        offset: 25,
        sliceOffset: 1,
        labelOffset: 15,
        type: 'stacked:gradient',
        hoveredColor: '#9fd4ff',
Tips: {  
     enable: true,  
     onShow: function(tip, elem) {  
       tip.innerHTML = "<font color='white'><b>" + elem.label + "</b>: " + elem.value + "</font>";  
     }
   },
   Label: { type: 'HTML', color: '#fff', size: 11 },

   });  


var json = {  
     'values': [  
     {  
       label: 'New',  
       values: [{{ monthly_stats.new }}],
     },
     {  
       label: 'In progress',  
       values: [{{ monthly_stats.inprogress }}],
     },
     {  
       label: 'Concluded',  
       values: [{{ monthly_stats.concluded }}],
     },
]}

  pieChart.loadJSON(json);

});
</script>

Total = {{ monthly_stats.total }}<br>
New = {{ monthly_stats.new }}<br>
In progress = {{ monthly_stats.inprogress }}<br>
Concluded = {{ monthly_stats.concluded }}

<h3>Connections</h3>

<h4>Bands</h4>
<ul>
{% for band in monthly_connections.bands %}
<li><a href="{{ band.get_absolute_url }}">{{ band }}</a></li>
{% endfor %}
</ul>

<h2>Global stats</h2>

<div id="yearly_stats" style="background-color: black; width: 90%; height: 300px;"></div>

<script type="text/javascript">
  var json = {
    label: ['New', 'In progress', 'Concluded'],
  values: [
  {% for month, data in yearly_values.items %}
  {
    label: '{{ data.label|date:"M" }}',
    values: [{{ data.new }}, {{ data.inprogress }}, {{ data.concluded }}]
  },
  {% endfor %}
  ]
};

  $(document).ready(function() {
  var barChart = new $jit.BarChart({  
     //id of the visualization container  
    injectInto: 'yearly_stats',  
     //whether to add animations  
    animate: true,  
     //horizontal or vertical barcharts  
     orientation: 'vertical',  
     //bars separation  
     barsOffset: 20,  
     //visualization offset  
     offset: 10,  
     //labels offset position  
     labelOffset: 5,  
     //bars style  
     type: 'stacked:gradient',
     //whether to show the aggregation of the values  
     showAggregates:true,  
     //whether to show the labels for the bars  
     showLabels:true,  
  filterOnClick: true,  
  restoreOnRightClick:true  ,
     //labels style  
     Label: {  
       type: 'HTML', //Native or HTML  
       size: 13,  
       family: 'Arial',
       color: 'white'  
     },  
     //add tooltips  
     Tips: {  
       enable: true,  
       onShow: function(tip, elem) {  
         tip.innerHTML = "<font color='white'><b>" + elem.name + "</b>: " + elem.value + "</font>";  
       }  
     }  
   });  
   //load JSON data.  
   barChart.loadJSON(json);  
});
</script>

{% endblock %}
