{% extends "base.html" %}

{% load threadedcomments_tags %}
{% load comments %}

{% block css %}

<link rel="profile" href="http://microformats.org/profile/hcalendar">

{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" charset="utf-8">
function bindPostCommentHandler() {
    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#comment_form form').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#comment_form form').replaceWith(html);
                bindPostCommentHandler();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostCommentHandler();
});
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jit.js"></script>


{% endblock %}

{% block content %}

<h2>Gig Bargain</h2>

State : {{ gigbargain.state }}

{% if gigbargain.state == 'draft' %}
<p>
<b>Bands, this is a draft. You should negociate all together until you agree, then you'll be able to submit it to the venue. You can still <a href="{% url event:gigbargain-band-invite-band gigbargain.pk %}">invite other bands</a></b>.
<p/>
{% endif %}

{% if gigbargain.state == 'draft_ok' %}
<p>
<b>Bands, this draft has been validated by all of you. If you are the bargain initiator, you may consider <a href="{% url event:gigbargain-band-submit-to-venue gigbargain.pk %}">submitting this bargain to the venue ({{ gigbargain.venue.name }})</a> or <a href="{% url event:gigbargain-band-draft-renegociate gigbargain.pk %}">restart the negociations</a> if something is incorrect.</b>
<p/>
{% endif %}


{% if gigbargain.state == 'need_venue_confirm' %}
<p>
<b>Venue, you need to <a href="{% url event:gigbargain-venue-confirm-bands gigbargain.pk %}">confirm</a> that you want to go on bargaining, even if all bands didn't accept to bargain. You can also <a href="{% url event:gigbargain-venue-invite-band gigbargain.pk %}">invite another band</a> or <a href="{% url event:gigbargain-venue-cancel gigbargain.pk %}">cancel this bargain</a> if it doesn't meet anymore your requirements.</b>
</p>
{% endif %}

{% if gigbargain.state == 'band_nego' %}
<p>
The bands are negociating.<br>
<b>Venue, you can <a href="{% url event:gigbargain-venue-invite-band gigbargain.pk %}">invite another band</a> if you wish to</b>
</p>
{% endif %}

{% if gigbargain.state == 'band_ok' %}
<p>
<b>Venue, you may either <a href="{% url event:gigbargain-venue-conclude gigbargain.pk %}">conclude</a> this bargain, ask one or more bands to change their terms (by letting a comment), <a href="{% url event:gigbargain-venue-renegociate gigbargain.pk %}">restart the negociations</a> or <a href="{% url event:gigbargain-venue-decline gigbargain.pk %}">decline it completely</a>.</b>
<p/>
{% endif %}

{% if gigbargain.state == 'complete_proposed_to_venue' %}
<p>
  <b>Bands, this bargain has been submitted to {{ gigbargain.venue.name }}, you have to wait for them to reply.</b>
  <br/>
  <b>Venue, you may either <a href="{% url event:gigbargain-venue-conclude gigbargain.pk %}">accept and conclude</a> this bargain or <a href="{% url event:gigbargain-venue-enter gigbargain.pk %}">negociate the terms</a> or <a href="{% url event:gigbargain-venue-decline gigbargain.pk %}">completely decline</a> this proposal.</b>
<p/>
{% endif %}

{% if gigbargain.state == 'incomplete_proposed_to_venue' %}
<p>
<b>Venue, you can either <a href="{% url event:gigbargain-venue-enter gigbargain.pk %}">accept to enter the negociations</a> or <a href="{% url event:gigbargain-venue-decline gigbargain.pk %}">refuse to bargain</a> with these bands.</b>
<p/>
{% endif %}

{% if gigbargain.state == 'declined' %}
<p>
<b>This bargain was declined by the venue : it's dead, you VERY LOOSE.</b>
</p>
{% endif %}

{% if gigbargain.state == 'canceled' %}
<p>
<b>This bargain was canceled by the organizer : it's dead, you LOOSE.</b>
</p>
{% endif %}

<h3>When and Where [<a href="{% url event:gigbargain-comments-section-display gigbargain.pk 'whenwhere' %}">comments</a>]</h3>

When: {{ gigbargain.date }} (in {{ gigbargain.date|timeuntil }})<br/>
Opens: {{ gigbargain.opens_at }}, Closes: {{ gigbargain.closes_at }} [<a href="{% url event:gigbargain-venue-common-edit gigbargain.pk %}">Venue, change that</a>]<br>

{% with gigbargain.venue as venue %}
Venue : <a href="{{ venue.get_absolute_url }}">{{ venue }}</a>
{% endwith %}

<h3>Access [<a href="{% url event:gigbargain-comments-section-display gigbargain.pk 'access' %}">comments</a>]</h3>

<p>
{% if gigbargain.access %}
Entrance : {{ gigbargain.get_access_display }}<br>
{% else %}
Entrance is not set [<a href="{% url event:gigbargain-venue-common-edit gigbargain.pk %}">Venue, set it</a>]
{% endif %}

{% if gigbargain.access == 'FEES' %}
Fee amount : {{ gigbargain.fee_amount }}
{% endif %}

{% if gigbargain.access == 'DRNK' %}
Number of drinks : {{ gigbargain.fee_amount }}
{% endif %}
</p>

<h4>Bands</h4>

<ul>
  {% for band in gigbargain.gigbargainband_set.all %}
  <li><a href="{{ band.band.get_absolute_url }}">{{ band.band.name }}</a> ({{ band.band.genres }}). <i>State : {{ band.state }}</i> [<a href="{% url event:gigbargain-band-part-display gigbargain.pk band.band.slug %}">Show my part</a>] -- [<a href="{% url event:gigbargain-band-kick gigbargain.pk band.band.slug %}">kick</a>]</li>
  {% endfor %}
</ul>


<h4>Remuneration [<a href="{% url event:gigbargain-comments-section-display gigbargain.pk 'remuneration' %}">comments</a>]</h4>

{% if not gigbargain.remuneration %}
Remuneration type is not set [<a href="{% url event:gigbargain-venue-common-edit gigbargain.pk %}">Venue, set it</a>].
{% else %}
Type of remuneration : {{ gigbargain.get_remuneration_display }}
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
   var pieChart = new $jit.PieChart({  
        //Where to inject the canvas. Any div container will do.  
        injectInto:'infovis',  
         //width and height for canvas.  
         //Default's to the container offsetWidth and Height.  
         width: 300,  
         height:300,
        offset: 25,
        sliceOffset: 1,
        labelOffset: 15,
        type: 'stacked:gradient',
        hoveredColor: '#9fd4ff',
Tips: {  
     enable: true,  
     onShow: function(tip, elem) {  
      {% if gigbargain.remuneration == 'PERC' %}
       tip.innerHTML = "<b>" + elem.label + "</b>: " + elem.value + "%";  
      {% else %}
       tip.innerHTML = "<b>" + elem.label + "</b>: $" + elem.value;  
      {% endif %}
     }
   },
   Label: { type: 'HTML', color: '#000', size: 11 },


   });  


var json = {  
     'values': [  
  {% for band in gigbargain.gigbargainband_set.all %}
     {  
       'label': '<a href="{{ band.band.get_absolute_url }}">{{ band.band.name }}</a>',  
       {% if gigbargain.remuneration == 'PERC' %}
       'values': [ {{ band.percentage }} ],
       {% else %}
       'values': [ {{ band.amount }} ],
       {% endif %}
     },
  {% endfor %}
]}

  pieChart.loadJSON(json);

});
</script>

<div id="infovis" style="width: 300px; height: 300px;"></div>

<h3>Defrayments [<a href="{% url event:gigbargain-comments-section-display gigbargain.pk 'defrayments' %}">comments</a>]</h3>

<ul>
{% for gigbargainband in gigbargain.gigbargainband_set.all %}
<li>{{ gigbargainband.band.name }} asks ${{ gigbargainband.defrayment }}</li>
{% endfor %}
</ul>

<h3>Timeline [<a href="{% url event:gigbargain-comments-section-display gigbargain.pk 'timeline' %}">comments</a>]</h3>

<div class="vcalendar">
  <!-- Venue opening -->
  <div class="vevent">
    <abbr title="{{ gigbargain.date }}T16:0000" class="dtstart">{{ gigbargain.date }}</abbr> – <abbr title="{{ gigbargain.date }}T16:30" class="dtend">{{ gigbargain.opens_at }}</abbr> : <span class="summary">{{ gigbargain.venue.name }} opens</span>
  </div>
  <!-- Events -->
  {% for gigbargainband in gigbargain.gigbargainband_set.all %}
  <div class="vevent">
    <abbr title="{{ gigbargain.date }}T16:0000" class="dtstart">{{ gigbargain.date }}</abbr> – <abbr title="{{ gigbargain.date }}T16:30" class="dtend">{{ gigbargainband.starts_at }}</abbr> :  <span class="summary">{{ gigbargainband.band.name }} starts playing (set duration : {{ gigbargainband.set_duration }})</span>
  </div>
  {% endfor %}
  <!-- Venue closing -->
  <div class="vevent">
    <abbr title="{{ gigbargain.date }}T16:0000" class="dtstart">{{ gigbargain.date }}</abbr> – <abbr title="{{ gigbargain.date }}T16:30" class="dtend">{{ gigbargain.closes_at }}</abbr> : <span class="summary">{{ gigbargain.venue.name }} closes</span>
  </div>
</div>

<!-- XX: faked generation of hcal -->

<h3>Recent changes</h3>

<ul>
  {% for old_version in old_versions %}
  {% with old_version.revision as revision %}
  <li>{{ revision.date_created }} - {{ revision.comment }}, by <a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a></li>
  {% endwith %}
  {% endfor %}
</ul>


{% get_comment_count for gigbargain as comment_count %}

<h3>Comments ({{ comment_count }})</h3>
{% get_comment_list for gigbargain as comments %}

<ul>
{% for comment in comments|fill_tree|annotate_tree %}

<li><a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_full_name }}</a> said : {{ comment.comment }}</li>

{% endfor %}
</ul>

<div id="comment_form">
{% render_comment_form for gigbargain %}
</div>

{% endblock %}
