{% extends "base.html" %}

{% block content %}

<h3>Date, Lieu</h3>
Date: {{ contract.terms.gigbargain.date }}. Opens: {{ contract.terms.gigbargain.opens_at }}, Closes: {{ contract.terms.gigbargain.closes_at }}<br>

{% with contract.terms.gigbargain.venue as venue %}
Venue : <a href="{{ venue.get_absolute_url }}">{{ venue }}</a>
{% endwith %}

<h4>Groupes</h4>

<ul>
  {% for band in contract.terms.gigbargain.gigbargainband_set.all %}
  <li><a href="{{ band.band.get_absolute_url }}">{{ band.band.name }}</a> ({{ band.band.genres }}) -- ({{ band.starts_at }} - {{ band.ends_at }})</li>
  {% endfor %}
</ul>

<h3>Recent changes</h3>

{% for field, value in changes.items %}
  {{ field }} - {% for v in value %} {{ v }} {% endfor %}
{% empty %}
Nothing was changed
{% endfor %}


{% endblock %}
