{% extends "base.html" %}

{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/css/jquery/autocomplete/jquery.autocomplete.css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.autocomplete.js"></script>
{{ form.media.js }}
{% endblock %}


{% block content %}

{% load uni_form_tags %}

<div class="alpha grid_16 omega">
  <h1>Propose a gig</h1>
</div>

<div class="alpha grid_10">

  <form method="POST" class="uniForm">

    <h2>When and Where ?</h2>
    {{ form|as_uni_form }}

    <h2>Bands</h2>

    {{ formset.management_form }}
    {% for form in formset.forms %}
    <h3>{{ forloop.counter|ordinal }} band</h3>
    {{ form|as_uni_form }}
    {% endfor %}

    <input type="submit">
  </form>
</div>

<div class="grid_4 omega">
  Lorem ipsum fuck dorbidien
</div>


{% endblock %}
