<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load django_static %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ request.LANGUAGE_CODE }}" lang="{{ request.LANGUAGE_CODE }}" dir="ltr">
  
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <title>SpreadBand | {% block title %}Home{% endblock %}</title>

    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-language" content="{{ request.LANGUAGE_CODE }}" />

    <meta name="google-site-verification" content="fNFGyJ0AtZMI-dNQp8plDGsJAjjtQDRmBqoWad31vjc" />

    <meta name="keywords" content="band, gig, groupe, musique, music, musicien, indépendant, bar, concert, booking, show, tourneur, equitable" />
    <meta name="description" content="Plate-forme web d'outils et de services pour les musiciens indépendants" />
    <meta name="Robots" content="All, index, follow, archive" />

    {% block head %}
    {% endblock %}

    <!--[if !IE]>CSS by media or page type<![endif]-->
    {% slimall %}
    <link rel="stylesheet" type="text/css" href="/css/reset_of_death.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/960.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/textpage.css" media="screen, projection" />
    {% endslimall %}

    {% slimall %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/support-panel.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/ui.notify.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/niceforms.css" />
    {% endslimall %}

    {% staticall %}
    {% block css %}
  {% endblock %}
  {% endstaticall %}

  <link rel="shortcut icon" type="image/x-icon" href="{% staticfile '/images/favicon.ico' %}" />
  <link rel="icon" type="image/png" href="{% staticfile '/images/favicon.png' %}" />
  {# <link rel="apple-touch-icon" href="{% staticfile '/iphone_icon.png' %}" /> #}

  <!--[if !IE]>Digest links<![endif]-->
  <link rel="index" title="Actualité" href="#" />
  <link rel="help" title="Aide" href="#" />
  <link rel="glossary" title="Plan du site" href="#" />

  {# <!--[if !IE]>Media rss of the current section<![endif]--> #}
  {# <link rel="alternate" title="titre de la section" href="#" type="application/rss+xml" /> #}

  <!--[if !IE]>scripts library<![endif]-->
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.js"></script>

  {% staticall %}
  <script type="text/javascript" src="/js/jquery/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.jeditable.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.slidePanel.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.notify.js"></script>
  {% endstaticall %}


  <script type="text/javascript" src="/js/jquery/jquery.jplayer.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.uni-form.js"></script>

  <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.nicejforms2.js"></script>

  <!--[if !IE]>scripts behaviours<![endif]-->
  <script type="text/javascript">
    $(document).ready(function() {  
	$('.niceform').NiceJFormer({imagesPath: '/site_media/images/niceforms/'});  
    });  
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
	// custom settings
	$('#feedback').slidePanel({
	    triggerName: '#feedback-trigger',
	    position: 'fixed',
	    triggerTopPos: '150px',
	    panelTopPos: '0px',
	    ajax: true,
	    ajaxSource: '{% url backcap:feedback-tab %}?referer={{ request.get_full_path }}'
	});
	
    });
  </script>

  <!--[if lte IE 6]>
      <script type="text/javascript" src="{% slimfile '/js/supersleight.js' %}"></script>
      <![endif]-->


  <!-- <script type="text/javascript"> -->
    <!-- $(document).ready(function() { -->
					<!--     // Local copy of jQuery selectors, for performance. -->
					<!--     var jpPlayTime = $("#jplayer_play_time"); -->
					<!--     var jpTotalTime = $("#jplayer_total_time"); -->

					<!--     $("#audio_player").jPlayer({ -->
									      <!-- 	oggSupport: true, -->
									      <!-- 	nativesupport: true, -->
									      <!-- 	preload: 'auto', -->
									      <!-- 	swfPath: '{{ MEDIA_URL }}/flash/', -->
									      <!--     }) -->
					<!-- 	.jPlayer("onProgressChange", function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) { -->
																					  <!-- 	    jpPlayTime.text($.jPlayer.convertTime(playedTime)); -->
																					  <!-- 	    jpTotalTime.text($.jPlayer.convertTime(totalTime)); -->

																					  <!-- 	}) -->
					<!-- 	.jPlayer("onSoundComplete", function() { -->
											 <!-- 	    this.element.jPlayer("play"); -->
											 <!-- 	}); -->

					<!-- }); -->
  <!-- </script> -->

  <script type="text/javascript">
    //$(document).ready(function() {
    //    $('a').click(function() {
    //      $('#content').load(this.href + '#content');
    //      return false;
    //});

    //});

  </script>

  {% block javascript %}

{% endblock %}
</head>
<body>

  {% if messages %}
    <div id="message-container" style="display:none">
      <div id="withIcon">
	<a class="ui-notify-close ui-notify-cross" href="#">x</a>
	<div style="float:left;margin:0 10px 0 0"><img src="#{icon}" alt="warning" /></div>
	<p>#{text}</p>
      </div>
      

      <div id="basic-template">
	<a class="ui-notify-cross ui-notify-close" href="#">x</a>
	<p>#{text}</p>
      </div>

      <script type="text/javascript">
	$(document).ready(function() { $('#message-container').notify(); } );
      </script>

      {% for message in messages %}
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#message-container').notify('create', 'withIcon',
					   { text: '{{ message }}',
					     icon: '{{ MEDIA_URL }}/images/face-monkey.png',
					   }
              				  );
	});
      </script>
    {% endfor %}

    </div>
  {% endif %}


  <!--[if IE 6]><div id="IE6"><![endif]-->
  <!--[if IE 7]><div id="IE7"><![endif]-->
  <!--[if (IE) & (!IE 6) & (!IE 7)]><div id="IE"><![endif]-->
  <!--[if !IE]>--><div id="NOTIE"><!--<![endif]-->

{% if not request.is_ajax %}    
    <div id="header">
      <div class="container_16">
	<div class="grid_16 alpha omega">
	  <h1><a href="{% url home %}"><img src="{% staticfile '/images/structure/sb_header.png' %}" alt="SpreadBand" width="400" height="81" /></a></h1>
	  {% if not user.is_authenticated %}
	    <ul>
	      <li><a href="{% url django.contrib.flatpages.views.flatpage url="features/band/" %}">+ Groupes</a><span>Plus de shows et de fans</span></li>
	      <li><a href="{% url django.contrib.flatpages.views.flatpage url="features/venue/" %}">+ Bars</a><span>Booking éclair</span></li>
	    </ul>
	  {% else %}
	    <ul>
	      <li><a href="{% url account:auth_logout %}">Logout</a></li>
	    </ul>
	  {% endif %}
	    
	  {# <div id="player"><img src="{% staticfile '/images/_TEMP/player.png' %}" alt="replace with the good player ;)" /></div> #}
	</div>
      </div>
    </div>
{% endif %} {# Ajax request #}

    <!-- Content -->
    <div id="content" class="clearfix">
      <div class="container_16">
	<div class="grid_16 alpha omega">
	  <div id="text-wrapper">
	    <div id="text">
	      {% block content %}
	    {% endblock %}
	    </div>
	  </div>
      </div>
    </div>

{% if not request.is_ajax %}    
    <div id="footer">
      <div class="container_16">

	<div class="grid_4">
	  <h5>Aide</h5>

	  <ul>
	    <li><a href="{% url faq:faq %}">FAQ</a></li>
	    <li><a href="{% url backcap:feedback-list %}">Centre d'aide</a></li>
	  </ul>

	</div>

	<div class="grid_4">
	  <h5>Découvrir SpreadBand</h5>
	  <ul>
	    <li><a href="{% url django.contrib.flatpages.views.flatpage '/pages/features/band/' %}">Groupes, Artistes solo</a></li>
	    <li><a href="{% url django.contrib.flatpages.views.flatpage '/pages/features/venue/' %}">Bars, Lieux de concerts</a></li>
	  </ul>
	</div>

	<div class="grid_4">
	  <h5>Nébuleuse SpreadBand</h5>

	  <ul>
	    <li><a href="http://blog.spreadband.com">Blog</a></li>
	  </ul>
	</div>

	<div class="grid_4">
	  <h5>Admins</h5>
	  <ul>
	    <li><a href="{% url account:auth_login %}">Login</a></li>
	  </ul>
	</div>
	

	<div class="clear"></div>

	<div class="grid_16 legals">
	  <strong>SpreadBand</strong>, par <a href="http://fuzzyfrequency.com">FuzzyFrequency</a> - &copy; 2010
	</div>

      </div>
    </div>
  
    {% if user.is_authenticated %}
      <div>
	<a href="#" id="feedback-trigger" class="trigger right">Support</a>
	<div id="feedback" class="panel right"></div>
      </div>
    {% endif %}

  </div>
{% endif %} {# ajax request #}
</body>
</html>