<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/css/text.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/css/960.css" />

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/css/smoothness/jquery-ui-1.7.2.custom.css" />

    {% block css %}
    {% endblock %}


    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery-ui.min.js"></script>

    {% block javascript %}
    {% endblock %}

    <title>Booking</title>
  </head>
  <body>
    <h1>Booking</h1>
    
    {% block content %}
    {% endblock %}
    
  </body>
</html>
