{% extends "base.html" %}

{% load i18n %}
{% load django_static %}

{% block javascript %}
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.featureList-1.0.0.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
	$('#feature-tabs li a').featureList({
            output		: '#feature-output li',
	    start_item	: 1
	});
    });
  </script>

{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/featurelist/featurelist.css" />
{% endblock %}

{% block content %}


  <div class="alpha grid_16 omega">
    <div id="main">
      <div id="main-top">
	<img src="{% staticfile '/images/structure/baseline.png' %}" alt="Spreadband is a place for music addicts" width="377" height="35" id="baseline" />
	<form id="authentication" action="{% url account:auth_login %}" method="post">
	  <a href="#" id="lost-password">Lost password ?</a>

	  {{ auth_form.as_p }}
	  <input type="submit" id="submit-login" value="OK" />
	</form>
      </div>

      <div id="feature_list" class="grid_12">
	<ul id="feature-tabs">
	  <li>
	    <a href="javascript:;">
	      <img src="{% staticfile '/images/featurelist/band_icon.png' %}" alt="Bands"/>
	      <h3>Learn More</h3>
	      <span><em>Never miss a gig, discover new bands</em></span>
	    </a>
	  </li>
	  <li>
	    <a href="javascript:;">
	      <img src="{% staticfile '/images/featurelist/venue_icon.png' %}" alt="Bands"/>
	      <h3>Bands</h3>
	      <span><em>more fans, more gigs</em></span>
	    </a>
	  </li>
	  <li>
	    <a href="javascript:;">
	      <img src="{% staticfile '/images/featurelist/fan_icon.png' %}" alt="Bands"/>
	      <h3>Venues</h3>
	      <span><em>more fans, more gigs</em></span>
	    </a>
	  </li>
	</ul>

	<ul id="feature-output">
	  <li>
	    <img src="{% staticfile '/images/_TEMP/video.png' %}" alt="replace with the good video ;)" />
	  </li>
	  <li>
	    <img src="{% staticfile '/images/featurelist/band.jpg' %}" alt="replace with the good video ;)" />
	  </li>
	  <li>
	    <img src="{% staticfile '/images/featurelist/venue.jpg' %}" alt="replace with the good video ;)" />
	  </li>
	</ul>
	
	<div id="subscribe">
	  <a href="{% url account:registration_register %}"><img src="{% staticfile '/images/structure/subscribe.png' %}" alt="Join Us !" width="250" height="86" /></a>
	</div>
      </div>
    </div>
  
  <div class="prefix_2 grid_12 suffix_2">
    <div id="last-news" class="grid_6 alpha">
      <div class="sectionbox bright">
	<div class="header">
	  <h2>Lastest News</h2>
	</div>

	<div class="separator">
	</div>

	<div class="content">
	  <ul>
	  <li>
	    <em>2010-08-03 <span>:</span></em>
	    <p>SpreadBand compte maintenant plus de 300 groupes !</p>
	  </li>
	  <li>
	    <em>2010-08-03 <span>:</span></em>
	    <p>Un mouton à 2 têtes et 31 pattes au canada !</p>
	  </li>
	  <li>
	    <em>2010-08-03 <span>:</span></em>
	    <p>Ma mère a fait des crêpes !</p>
	  </li>
	  </ul>
	</div>
      </div>
    </div>

    <div id="new-members" class="grid_6 omega">
      <div class="sectionbox bright">
	<div class="header">
	  <h2>New members</h2>
	</div>
	<div class="separator">
	</div>
	
	<div class="content">
	  <ul>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	    <li>
	      <em>2010-08-03 <span>:</span></em>
	      <strong>Lymbago, Lille</strong>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
