{% load comments %}
{% load voting_tags %}

<h3>Show feedback</h3>

<h4>{{ feedback.title }} {% ifequal feedback.kind 'Q' %} ? {% endifequal %}</h4>
A {{ feedback.get_kind_display|lower }} submitted by {{ feedback.user.get_full_name }} ({{feedback.user.username}}) at {{ feedback.created_on }}.

<hr/>
{% score_for_object feedback as score %}
{{ score.score }} point{{ score.score|pluralize }}
after {{ score.num_votes }} vote{{ score.num_votes|pluralize }}

{% vote_by_user request.user on feedback as vote %}
<br>
{{ vote }}

<hr/>

<p>description: {{ feedback.text }}</p>

<hr/>

<h4>Comments</h4>
<ul>
{% get_comment_list for feedback as feedback_comments %}
{% for comment in feedback_comments %}
<li>{{ comment.user.get_full_name }} said "{{ comment.comment }}"</li>
{% endfor %}
</ul>

<h5>Add a new comment</h5>
{% get_comment_form for feedback as feedback_comment_form %}
<form action="{% comment_form_target %}" method="post">
  {{ feedback_comment_form.as_p }}
  <input type="hidden" name="next" value="{% url backcap:feedback-detail feedback.id %}" >
  <input type="submit" name="preview" class="submit-post" value="Preview">
</form>


<hr/>

<p>This issue is {{ feedback.get_status_display|lower }}. <a href="{% url backcap:feedback-close feedback.id %}">Close it</a></p>

<p>Reported from: <a href="http://{{ request.get_host }}{{ feedback.referer }}">http://{{ request.get_host }}{{ feedback.referer }}</a></p>

<p>Admin: <a href="{% url backcap:feedback-update feedback.id %}">edit</a></p>

<a href="{% url backcap:feedback-list %}">See all feedbacks</a>
