<script type="text/javascript">
  function lookup(inputString) {
		if(inputString.length < 3) {
			$('#feedback-tab-suggestions-results').hide();
			$('#feedback-tab-no-suggestions-noresult').show();
		} else {
			$.get("{% url backcap:feedback-search %}", {q: ""+inputString+""}, function(data){
				if(data.length >0) {
					$('#feedback-tab-suggestions-results').html(data); 
					$('#feedback-tab-suggestions-noresult').hide();
					$('#feedback-tab-suggestions-results').show();

				}
			});
		}
}
 
$(document).ready(function() {
        $("#feedback-tab-suggestions-results").hide();
	$("#feedback-tab-new #id_title").keyup(function() {
		lookup($(this).val()) 
	});
});
</script>
<div id="feedback-tab" class="alpha omega grid_10">
  <div id="feedback-tab-new" class="alpha grid_6">
    {% include 'backcap/feedback_new.html' %}
  </div>
  <div id="feedback-tab-suggestions" class="omega grid_4">
    <h4>Suggestions</h4>
    <div id="feedback-tab-suggestions-noresult">
      Start typing a title
    </div>
    <div id="feedback-tab-suggestions-results">
    </div>
  </div>
  <div class="clear"></div>
  <div class="grid_10 alpha omega">
    <a href="{% url backcap:feedback-list %}">View all feedbacks</a>
  </div>
</div>
