{% extends "account/base.html" %}
{% load i18n avatar_tags %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    $(document).ready(function() {
	$("#avatar-choice img").click(function() {
	    $("#avatar-choice img").removeClass("selected");
	    $(this).addClass("selected");
	});

	$("#avatar-choice input[type='radio']:checked").parents().children("img").addClass("selected");
    });
  </script>
{% endblock %}

{% block account_content %}

  <div id="forms" class="grid_8 alpha">
    <div id="avatars" class="grid_8 alpha omega">
      {% if not avatars %}
      {% avatar request.user %}
      <p>
	{% blocktrans %}
      You haven't uploaded an avatar yet. We are therefore using one coming from the <a href="http://gravatar.com">Gravatar</a> service.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans %}
      You can either upload one now below or <a href="http://gravatar.com/gravatars/new">change your avatar on Gravatar</a>.
      {% endblocktrans %}
      </p>
      {% else %}
        <form method="POST" action="{% url avatar_change_crop_delete %}">
	  <div id="avatar-choice" class="grid_8 alpha omega">
	    {{ primary_avatar_form.as_ul }}
	  </div>
	  {% csrf_token %}
	  <input type="submit" name="change" value="{% trans "Use this avatar" %}" />
	  <input type="submit" name="crop" value="{% trans "Crop this avatar" %}" />
	  <input type="submit" name="delete" value="{% trans "Delete this avatar" %}" />
        </form>
      {% endif %}
    </div>

    <div id="upload-new" class="grid_8 alpha omega">
      <h3>{% trans "Upload a new avatar" %}</h3>
      <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">
        {{ upload_avatar_form.as_p }}
	<input type="hidden" name="next" value="{% url avatar_change %}"/>
        {% csrf_token %}
	<input type="submit" value="{% trans "Upload New Avatar" %}" />
      </form>
    </div>

  </div>

  <div id="sidebar" class="grid_4 prefix_1 omega">
    <h2>{% trans "Your avatars" %}</h2>
    <p>
    {% blocktrans %}
      Select the avatar you want to use. If you'd like to crop an avatar, select it, then hit "Crop". You can also add or delete avatars by clicking on the buttons below them.
    {% endblocktrans %}
    </p>

    <h3>{% trans "Gravatar support" %}</h3>
    <p>
    {% blocktrans %}
    If you don't have any avatar defined, we'll try to use the Gravatar (<strong>G</strong>lobally <strong>R</strong>ecognized <strong>AVATAR</strong>) service with your email address. <a href="http://gravatar.com">Learn more about Gravatar &raquo;</a>
    {% endblocktrans %}
    </p>
  </div>
{% endblock %}
