{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/textpage.css" media="screen, projection" />
{% endblock %}

{% block content %}

<div class="grid_16">

  <div id="text">
    <h2>Oops ! Il semblerait que le serveur soit en train d'emprunter l'escalier du paradis.</h2>
    <h3>Veuillez l'excuser, nous sommes partis le rattraper.</h3>

    <div align="center">
      <img src="{{ STATIC_URL }}images/crash.jpg" alt="crash"/>
    </div>

    <p>Vous pouvez essayer de revenir en arrière ou de recharger la page.</p>
    <p>Si ça ne fonctionne pas mieux, vous pouvez toujours en attendant envoyer des emails d'insultes à Laurent pour cet horrible dessin. Merci pour lui.</p>

  </div>

</div>

{% endblock %}