{% load django_static %}

<html>
  <head>
    {% staticall %}
    <script type="text/javascript" src="/js/XMLHttpRequest.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.ba-serializeobject.js"></script>
    {% endstaticall %}

    <script type="text/javascript" src="{% staticfile "/js/dajaxice.core.js" %}"></script>

    {% staticall %}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/uni_form/default.uni-form.css" />
    {% endstaticall %}

    {% block js %}
  {% endblock %}

  </head>
  
  <body>
  
  {% block content %}
  
  {% endblock %}
  
  </body>
</html>