<html>
  <head>
    <script type="text/javascript" src="{{ STATIC_URL }}js/XMLHttpRequest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ba-serializeobject.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/dajaxice.core.js"></script>

    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/uni_form/default.uni-form.css" />

    {% block js %}
  {% endblock %}

  </head>
  
  <body>
  
  {% block content %}
  
  {% endblock %}
  
  </body>
</html>