<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load django_static %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% load avatar_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ request.LANGUAGE_CODE }}" lang="{{ request.LANGUAGE_CODE }}" dir="ltr">
  
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <title>SpreadBand | {% block title %}Home{% endblock %}</title>

    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-language" content="{{ request.LANGUAGE_CODE }}" />

    <meta name="google-site-verification" content="fNFGyJ0AtZMI-dNQp8plDGsJAjjtQDRmBqoWad31vjc" />

    <meta name="keywords" content="groupe, bar, musique, booking, concert, musicien, indépendant, tourneur, equitable" />
    <meta name="description" content="Outil intelligent et équitable de booking pour musiciens indépendants et bars-concerts" />
    <meta name="Robots" content="All, index, follow, archive" />

    {% block head %}
    {% endblock %}

    <!--[if !IE]>CSS by media or page type<![endif]-->
    {% slimall %}
    <link rel="stylesheet" type="text/css" href="/css/reset_of_death.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/960.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/textpage.css" media="screen, projection" />

    <link rel="stylesheet" type="text/css" href="/css/ghbuttons.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/announcements.css" media="screen, projection" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/support-panel.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/backcap.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/ui/ui-darkness/jquery-ui-1.8.4.custom.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/ui.notify.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/niceforms.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/uni_form/uni-form.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/uni_form/default.uni-form.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/jquery/boxy.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/jquery/tipsy.css" /> 
    {% endslimall %}

    {% staticall %}
    {% block css %}{% endblock %}
    {% endstaticall %}

  <link rel="shortcut icon" type="image/x-icon" href="{% staticfile '/images/favicon.ico' %}" />
  <link rel="icon" type="image/png" href="{% staticfile '/images/favicon.png' %}" />
  {# <link rel="apple-touch-icon" href="{% staticfile '/iphone_icon.png' %}" /> #}

  <!--[if !IE]>Digest links<![endif]-->
  <link rel="index" title="Actualité" href="#" />
  <link rel="help" title="Aide" href="#" />
  <link rel="glossary" title="Plan du site" href="#" />

  {# <!--[if !IE]>Media rss of the current section<![endif]--> #}
  {# <link rel="alternate" title="titre de la section" href="#" type="application/rss+xml" /> #}

  <!--[if !IE]>scripts library<![endif]-->
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.js"></script>

  {% staticall %}
  <script type="text/javascript" src="/js/jquery/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.jeditable.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.slidePanel.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.notify.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.uni-form.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.boxy.js"></script>

  <script type="text/javascript" src="/js/XMLHttpRequest.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.ba-serializeobject.js"></script>
  <script type="text/javascript" src="/js/dajax/jquery.dajax.core.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.maskedinput-1.2.2.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.oauthpopup.js"></script>
  
  <script type="text/javascript" src="/js/jquery/jquery.tipsy.js"></script>
  {% endstaticall %}

  {# Dynamically generated, should be replaced ! #}
  <script type="text/javascript" src="/js/dajax/dajaxice.core.js"></script>


  <script type="text/javascript">
    var CKEDITOR_BASEPATH = '{{ MEDIA_URL }}/js/ckeditor/';
  </script>

  <!--[if !IE]>scripts behaviours<![endif]-->

  <!-- Support panel -->
  <script type="text/javascript">
    $(document).ready(function(){
	$('#feedback').slidePanel({
	    triggerName: '#feedback-trigger',
	    position: 'fixed',
	    triggerTopPos: '150px',
	    panelTopPos: '0px',
	    ajax: false,
	    ajaxSource: '{% url backcap:feedback-tab %}?referer={{ request.get_full_path }}'
	});


	/* Drop down menus */
	$("#user-things ul.topnav > li").click(function(e) {
            var dropdown = $(this).find("ul.subnav");

	    if ( $(dropdown).is(":hidden") ) {
		/* Close all other dropdowns */
		$(this).parent().find("ul.subnav").hide();
		$(this).parent().parent().find("ul.topnav > li").removeClass("subhover");

		$(dropdown).show();
		$(this).addClass("subhover");
		$(this).children("a:first").focus();

		/* Trap clicks that are outside the menu */
		$('body').one('click', function() {
		    $(dropdown).hide();
		    $(dropdown).parent().removeClass("subhover");
		});


	    } else {
		$(dropdown).hide();
		$(this).removeClass("subhover");
	    }

	    e.stopPropagation(); 

	});

    });
  </script>

  {% block javascript %}

{% endblock %}
</head>
<body>

  {% if messages %}
    <div id="message-container" style="display:none">
      <div id="withIcon">
	<a class="ui-notify-close ui-notify-cross" href="#">x</a>
	<div style="float:left;margin:0 10px 0 0"><img src="#{icon}" alt="warning" /></div>
	<p>#{text}</p>
      </div>

      <div id="basic-template">
	<a class="ui-notify-cross ui-notify-close" href="#">x</a>
	<p>#{text}</p>
      </div>

      <script type="text/javascript">
	$(document).ready(function() { $('#message-container').notify(); } );
      </script>

      {% for message in messages %}
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#message-container').notify('create', 'withIcon',
					   { text: '{{ message }}',
					     icon: '{{ MEDIA_URL }}/images/{{ message.tags|lower }}.png',
					   },
					   { expires: 10000 }
              				  );
	});
      </script>
    {% endfor %}

    </div>
  {% endif %}


  <!--[if IE 6]><div id="IE6"><![endif]-->
  <!--[if IE 7]><div id="IE7"><![endif]-->
  <!--[if (IE) & (!IE 6) & (!IE 7)]><div id="IE"><![endif]-->
  <!--[if !IE]>--><div id="NOTIE"><!--<![endif]-->

{% if not request.is_ajax %}    
    <div id="header">
      <div class="container_16">
	<div class="grid_16 alpha omega">

	  <!-- logo -->
	  <div id="logo">
	    <h1><a href="{% url home %}"><img src="{% staticfile '/images/structure/sb_header.png' %}" alt="SpreadBand" width="332" height="89" /></a></h1>
	  </div>

	  <!-- right of the logo -->
	  <div id="menus">
	    {% if not user.is_authenticated %}
	      <ul id="features">
		<li><a href="{% url discover-band %}">+ Groupes, DJs</a><span>Jouez, Communiquez</span></li>
		<li><a href="{% url django.contrib.flatpages.views.flatpage url="features/venue/" %}">+ Bars-Concerts, Assos</a><span>Organisez, Gagnez du temps</span></li>
	      </ul>
	    {% else %}

	      <!-- User menu -->
	      <div id="user-menu">
		<img alt="" src="{% staticfile '/images/structure/usermenu/left.png' %}" width="6" height="28"/> 
		<ul>
		  <li>
		    <img class="avatar" src="{% avatar_url user 18 %}" alt="{% trans "Avatar" %}" width="18" height="18"/> 
		    <a class="username" href="{% url account:dashboard %}">{{ user.username }}</a>
		  </li>
		  <li class="separator"></li>
		  <li><a href="{% url userena_profile_edit user %}">{% trans "Settings" %}</a></li>
		  <li class="separator"></li>
		  <li><a href="{% url backcap:feedback-list %}">{% trans "Help" %}</a></li>
		  <li class="logout"><a href="{% url userena_signout %}">{% trans "Logout" %}</a></li>
		</ul>
		<img alt="" src="{% staticfile '/images/structure/usermenu/right.png' %}" width="6" height="28"/> 
	      </div>

	      <div id="user-things">
		<ul class="topnav">
		  {% staticfile '/images/band/no_picture.png' as default_avatar %}
		  {% for band in user.bands.all %}
		    <li>
		      <img class="avatar" src="{{ band.pictures.avatar.small_avatar_image.url|default:default_avatar }}" width="20" height="20" alt="band avatar"/>
		      <a href="#">{{ band.name|capfirst }}</a>
			<img src="{% staticfile '/images/structure/more.png' %}" alt="more" width="11" height="7" />

		      <ul class="subnav">
			{# <li><a href="{% url gigbargain:gigbargain-band-dashboard band.slug %}"><img src="{% staticfile '/images/gigbargain/negociation_ico.png' %}" width="16" height="16" alt="negociations" />{% trans "Negociations" %}</a></li> #}
			{# <li><a href="{% url event:band-calendar band.slug %}"><img src="{% staticfile '/images/gigbargain/calendar_ico.png' %}" width="16" height="16" alt="agenda" />{% trans "Agenda" %}</a></li> #}
			<li><a href="{% url venue:search %}"><img src="{% staticfile '/images/presskit/location_ico.png' %}" width="16" height="16" alt="search venue" />{% trans "Search a Venue" %}</a></li>
			<li><a href="{% url band:search %}"><img src="{% staticfile '/images/gigbargain/bands_ico.png' %}" width="16" height="16" alt="search bands" />{% trans "Search a Band" %}</a></li>
			<li><a href="{% url presskit:mypresskit band.slug %}"><img src="{% staticfile '/images/presskit/techsheet_ico.png' %}" width="16" height="16" alt="presskit" />{% trans "My PressKit" %}</a></li>
			<hr/>
			<li class="more"><a href="{% url band:detail band.slug %}">{% trans "Go to dashboard" %} &rarr;</a></li>
		      </ul>
		    </li>
		  {% endfor %}


		  {% for venue in user.venues.all %}
		    <li>
		      <img class="avatar" src="{{ banvenue.pictures.avatar.small_avatar_image.url|default:default_avatar }}" width="20" height="20" alt="venue avatar"/>
		      <a href="#">{{ venue.name|capfirst }}</a>
			<img src="{% staticfile '/images/structure/more.png' %}" alt="more" width="11" height="7" />

		      <ul class="subnav">
			<li><a href="{% url band:search %}"><img src="{% staticfile '/images/gigbargain/bands_ico.png' %}" width="16" height="16" alt="search venue" />{% trans "Search a Band" %}</a></li>
			<li><a href="{% url venue:myprofile venue.slug %}"><img src="{% staticfile '/images/presskit/techsheet_ico.png' %}" width="16" height="16" alt="my profile" />{% trans "My Profile" %}</a></li>
			<hr/>
			<li class="more"><a href="{% url venue:dashboard venue.slug %}">{% trans "Go to dashboard" %} &rarr;</a></li>
		      </ul>
		    </li>
		  {% endfor %}


		</ul>
	      </div>
	    {% endif %}
	  </div>
	</div>
      </div>
    </div>

{% endif %} {# Ajax request #}

    <!-- Content -->
    <div id="content" class="clearfix">
      <div class="container_16">
	<div class="grid_16 alpha omega">
	  <div id="text-wrapper" class="grid_16 alpha omega">
	    {% block content %}
	    {% endblock %}
	  </div>
	</div>
      </div>
    </div>

{% if not request.is_ajax %}    
    <div class="clear push"></div>

    <div id="footer">
      <div class="container_16">
	<div id="whatis" class="grid_4 suffix_1">
	  <h5>Qu'est ce que SpreadBand ?</h5>

	  <p>
	    SpreadBand est un outil permettant aux groupes indépendants de se mettre en relation avec des bars-concerts et de créer leur réseau musical.
	  </p>
	  
	  <p>
	    Dans une démarche équitable, l'équipe de SpreadBand fait au mieux pour mettre les musiciens au cœur des décisions et s'attache à proposer un modèle économique qui correspond au mieux aux attentes de ceux-ci.
	  </p>
	</div>


	<div class="grid_3 suffix_1">
	  <h5>Découvrez</h5>
	  <ul>
	    <li><a href="{% url discover-band %}">Groupes, Artistes solo</a></li>
	    <li><a href="{% url django.contrib.flatpages.views.flatpage '/features/venue/' %}">Bars, Lieux de concerts</a></li>
	  </ul>
	</div>

	<div class="grid_5">
	  <h5>Nébuleuse SpreadBand</h5>

	  <ul id="elsewhere">
	    <li><a target="_new" href="http://facebook.com/spreadband"><img src="{% staticfile "images/icons/32x32/facebook.png" %}" width="32px" height="32px" alt="Facebook"/></a></li>
	    <li><a target="_new" href="http://twitter.com/spreadband"><img src="{% staticfile "images/icons/32x32/twitter.png" %}" width="32px" height="32px" alt="Twitter"/></a></li>
	    <li><a target="_new" href="http://identi.ca/spreadband"><img src="{% staticfile "images/icons/32x32/identica.png" %}" width="32px" height="32px" alt="Identi.ca"/></a></li>
	    <li><a target="_new" href="http://www.last.fm/group/SpreadBand"><img src="{% staticfile "images/icons/32x32/lastfm.png" %}" width="32px" height="32px" alt="Last.fm"/></a></li>
	  </ul>

	  
	  <div id="blog">
	    <h5>En direct du Blog</h5>
	    {% load feeds %}
	    {% load cache %}
	    
	    
	    {% cache 3600 blog_feed2 %}
	    {% include_feed "http://blog.spreadband.com/feed/rss2" 3 feed_includes/spreadband_headlines.html %}
	    {% endcache %}

	  </div>

	</div>

	<div class="grid_2">
	  <h5>Aide</h5>

	  <ul>
	    <li><a href="{% url faq:faq %}">FAQ</a></li>
	    <li><a href="{% url backcap:feedback-list %}">Centre d'aide</a></li>
	  </ul>
	</div>

	<div class="grid_16 legals">
	  <strong>SpreadBand</strong>, par <a href="http://fuzzyfrequency.com">FuzzyFrequency</a> - &copy; 2010
	  
	  &nbsp;|&nbsp;
	  {% if not user.is_staff %}
	  <a href="{% url userena_signin %}">Login admin</a>
	  {% else %}
	  <a href="/admin">Administration</a>
	  {% endif %}

	</div>

	<div class="clear"></div>

      </div>
    </div>
  
    {% if user.is_authenticated %}
      <div>
	<a href="#" id="feedback-trigger" class="trigger right">{% trans "Feedback" %}</a>
	<div id="feedback" class="panel right">
	  {% include 'backcap/feedback_tab.html' %}
	</div>
      </div>
    {% endif %}

  </div>

  {# Announcements #}
    {% if site_wide_announcements %}
      <div id="site_wide_announcements">
	<ul>
	  {% for announcement in site_wide_announcements %}
            <li>
	      <span class="title">{{ announcement.title }}</span>
	      <span class="date">{{ announcement.creation_date }}</span>
	      <span class="content">{{ announcement.content }}</span>
	      <a class="announce-hide minibutton" href="{% url announcement_hide announcement.pk %}?next={{ request.path }}"><span>{% trans "Ok" %}</span></a>
	    </li>
          {% endfor %}
	</ul>
      </div>

      <script type="text/javascript">
	$(document).ready(function() {
	    new Boxy($("#site_wide_announcements"), {title: 'Psst.. we have something to tell you', modal: true, closeable: false});
	});
      </script>
    {% endif %}

{% endif %} {# ajax request #}

</body>
</html>
