{% extends "base.html" %}


{% load cache %}
{% load compress %}
{% load feeds %}
{% load i18n %}
{% load thumbnail %}

{% block title %}
  Bookez votre groupe, Créez votre réseau - version bêta
{% endblock %}

{% block javascript %}

  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.featureList-1.0.0.js"></script>
  <script src="{{ STATIC_URL }}js/jquery/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/jquery/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/jquery/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>

  <script src="{{ STATIC_URL }}js/jquery/jquery.example.js" type="text/javascript" charset="utf-8"></script>
  {% endcompress %}

  <script type="text/javascript">
    $(document).ready(function() {
	$('#feature-tabs li a').featureList({
            output		: '#feature-output li',
	    start_item	: 1
	});

        $("#id_identification").example("pseudonyme");

        $('.tip').tipsy();
    });
  </script>

  <script type="text/javascript">
    function signup_box() {
	Boxy.load('{% url userena_signup %}', {filter: '#signform',
					       modal: true,
					       title: "{% trans "Join the community now, it's free !" %}",
					       closeable: true,
					       closeText: '[{% trans 'Close' %}]',
					       afterShow: function() {
						   $('form#signup').validationEngine({isOverflown: true,
										      overfownDIV: ".inputContainer"});
                                                   $(".example").example(function() { return $(this).attr('title'); });
					       }
					      }
		 );
	return false;
    }
</script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/home.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/jquery/tipsy.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/jquery/featurelist/featurelist.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/features.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/signup.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/jquery/validationEngine.jquery.css"/>
{% endblock %}

{% block content %}

<div id="text">

  <div id="home-header">
    <h1>Trouver où et avec qui jouer ? Facile !</h1>
    <h2>SpreadBand permet aux groupes de musique de se mettre en relation avec les scènes indépendantes</h2>
  </div>

  <div id="home-auth">
    <img src="{{ STATIC_URL }}images/home/header_sb.png" alt="Spreadband is a place for music addicts" id="baseline" />

    <form id="authentication" action="{% url userena_signin %}" method="post">
      {% csrf_token %}
      <a href="{% url userena_signin %}" id="lost-password">{% trans "Login" %}</a>
      
      {{ auth_form.identification }}
      {{ auth_form.password }}
      <input type="submit" id="submit-login" value="OK" />
    </form>
  </div>
  
  <div id="home-features">
    <div id="feature_list">
      <ul id="feature-tabs">
	<li>
	  <a href="javascript:;">
	    <img src="{{ STATIC_URL }}images/elements/picto_mic.png" alt="Groupes, DJs, Artistes solo"/>
	    <h3>Groupes, DJs, ...</h3>
	    <span><em>Trouvez où et avec qui jouer</em></span>
	  </a>
	</li>
	<li>
	  <a href="javascript:;">
	    <img src="{{ STATIC_URL }}images/elements/picto_record.png" alt="Faites votre promo"/>
	    <h3>Faîtes votre promo</h3>
	    <span><em>Diffusez votre projet</em></span>
	  </a>
	</li>
	<li>
	  <a href="javascript:;">
	    <img src="{{ STATIC_URL }}images/elements/picto_bubbles.png" alt="Spreadband est une communauté"/>
	    <h3>Créez votre réseau</h3>
	    <span><em>Une communauté vous attend</em></span>
	  </a>
	</li>
      </ul>
      
      <ul id="feature-output">
	<li>
	  <img src="{{ STATIC_URL }}images/home/bands_venues.jpg" alt="Groupes et Lieux de concert" />
	</li>
	<li>
	  {% thumbnail "images/home/presskit.png" "537x240" as img %}
	  <img src="{{ img.url }}" alt="Faîtes votre promotion" width="{{ img.x }}" height="{{ img.y }}"/>
	  {% endthumbnail %}
	<li>
	  <img src="{{ STATIC_URL }}images/home/network.jpg" alt="Créez votre réseau" />
	</li>
      </ul>
      
      <div id="subscribe">
	<a onclick="return signup_box();" class="join-us" href="{% url userena_signin %}"><img src="{{ STATIC_URL }}images/structure/subscribe.png" alt="Join Us!" width="250" height="86" /></a>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  
  <div id="home-tour" class="grid_15 alpha omega">
    <div>
      Découvrez en détails <a href="{% url discover-band %}">pour les artistes</a> et <a href="{% url discover-venue %}">pour les scènes</a> &raquo;
    </div>
  </div>

  <div id="home-why">
    <div id="community" class="column grid_4 prefix_1">
      <h3>Inciter les Échanges</h3>
      <p>
	Ici, <strong>pas d'annuaire artificiel</strong> : vous trouvez un correspondant derrière chaque Scène ou Groupe.
      </p>
      <p>
	Oubliez les <strong>frontières géographiques</strong>, il ne tient qu'à vous de faire <strong>naitre des échanges</strong> inattendus.
      </p>
    </div>

    <div id="diversity" class="column column-center grid_4">
      <h3>Stimuler la Diversité Musicale</h3>
      <p>
	Marre d'entendre toujours la même soupe à la radio ? Nous aussi. Avec tant de talents dans le monde, ça n'a aucun sens.
      </p>
      <p><strong>Faites vous entendre</strong> !</p>
    </div>

    <div id="economy" class="column grid_4">
      <h3>Encourager l'Économie Locale</h3>
      <p>
	Vous imaginez votre groupe sans les scènes locales, tels que les bars-concerts&nbsp;?
      </p>
      <p>
	C'est aussi grâce à elles que le <strong>paysage musical</strong> et <strong>social</strong> s'enrichit : alors <strong>soutenons les</strong> !
      </p>
    </div>
  </div>


  <!-- social -->

  <div id="social" class="grid_15 alpha omega">
    <div id="facebook" class="grid_4 alpha prefix_1">
      <h3>Facebook</h3>
      
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fspreadband&amp;width=220&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=300" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:300px;" allowTransparency="true"></iframe>
      
    </div>

    <div id="latest-bands" class="grid_9 omega">
      <h3>Les derniers groupes inscrits</h3>

      <div>
	<ul class="pict-list">
	{% for band in latest_bands %}
	  <li><a class="tip" title="{{ band.name|capfirst }} ({{ band.city }}, {{ band.country }})" href="{{ band.get_absolute_url }}"><img src="{{ band.avatar_url }}" width="48" height="48" alt="{{ band.name }}"/></a></li>
      {% endfor %}
	</ul>
	<br/>
	<div class="clear"></div>
	<ul>
	{% for band in latest_bands %}
	  <li>
	  <span class="date">{{ band.registered_on|date:"d M" }}</span> : <a href="{{ band.get_absolute_url }}">{{ band.name|capfirst }}</a> ({{ band.genres|default:"style inconnu"|truncatewords:5 }})  {% if band.city %} de {{ band.city }}, {{ band.country }}{% endif %}</li>
	{% endfor %}
	</ul>
	<div class="clear"></div>
      </div>
    </div>

    <div class="clear"></div>
        
    <div id="blog" class="prefix_5 grid_9 omega">
      <h3>En direct du Blog</h3>

      <div>
	<img src="{{ STATIC_URL }}images/home/blogicon.jpg" width="48" height="48" alt="le blog"/>
	{% cache 1800 blog_feed_home %}
	{% include_feed "http://blog.spreadband.com/feed/rss2" 3 feed_includes/spreadband_blog_home.html %}
	{% endcache %}
      </div>
    </div>

    <div class="clear"></div>

    <div id="im" class="prefix_5 grid_9 omega">
      <h3>Twitter</h3>
      <div>
	<img src="{{ STATIC_URL }}images/home/twitter_box_orange.png" width="48" height="48" alt="Twitter"/>
	{% cache 1800 twitter %}
	{% include_feed "http://twitter.com/statuses/user_timeline/155609766.rss" 3 feed_includes/spreadband_twitter.html %}
	{% endcache %}
      </div>
    </div>

  </div>

</div>

{% endblock %}
