{% extends "venue/base.html" %}

{% load i18n %}
{% load badges_tags %}
{% load humanize %}
{% load django_static %}
{% load activity_tags %}
{% load avatar_tags %}

{% block title %}
  {{ venue.name }} - {% trans "Dashboard" %}
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript" src="{% staticfile '/js/jquery/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/jquery/jquery.cookie.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	$('a.tip').tipsy({gravity: 'n'});

	$('#tracker tbody tr').click(function(elem) {
	    window.location.href = $(this).attr('href');
	});

	{% url venue:search as venue_search_url %}
	$('#tracker').dataTable({"bPaginate": false,
				 "bInfo": false,
				 "aoColumns": [ null, null, null, null ],
				 "oLanguage": {
				     "sZeroRecords": "<strong>{% blocktrans %}You haven't received any PressKit yet!{% endblocktrans %}</strong>",
				     "sSearch": "{% trans "Search:" %}"
				 }

				});

	
	function hide_presskit_completion(speed) {
	    $('#venue-tip').animate({height:'10px'}, speed);
	    $('#venue-tip span.close a').html('&darr;');
	}

	function show_presskit_completion(speed) {	 
	    $('#venue-tip').css('height', null);
	    var new_height = $('#venue-tip').css('height');
	    $('#venue-tip').css('height', '10px');
	    $('#venue-tip').animate({height: new_height}, speed);
	    $('#venue-tip span.close a').html('&uarr;');
	}

	$('#venue-tip span.close a').click(function() {
	    if ( $.cookie("hide-presskit-completion-tip") ) {
		show_presskit_completion('slow');
		$.cookie("hide-presskit-completion-tip", null);
	    } else {
		hide_presskit_completion('slow');
		$.cookie("hide-presskit-completion-tip", true, { expires: 7 });
	    }
	});

	if ( $.cookie("hide-presskit-completion-tip") ) {
	    hide_presskit_completion(0);
	}

    });
  </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" media="screen" href="/css/calendar.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/jquery.dataTables.css" media="screen, projection" />
{% endblock %}

{% block venue_content %}

<div class="grid_15 alpha omega">

  <div class="grid_10 alpha">

   {% if not presskit_completion_badge|number_awarded:venue %}
    <div>
      <div id="venue-tip" class="grid_10 alpha omega">
	<div class="tip-header">
	  <h3>{% trans "Hey, don't forget to complete your PressKit !" %}</h3>
	  <span class="close"><a href="#">&uarr;</a></span>
	</div>
	<img src="{% staticfile '/images/venue/fill_presskit.png' %}" height="90px"/>	
	
	<div class="info">
	  <div class="progress">
	    <div class="bar">
	      <div class="accomplished" style="width: {{ presskit_completion.perc  }}%;"><span>{{ presskit_completion.perc }}%</span></div>
	    </div>

	    <div class="text">
	      <p>
		{% url venue:edit venue.slug as edit_presskit_url %}
		{% blocktrans with edit_presskit_url as edit_presskit_url %}By filling in your PressKit, you make sure the <strong>Venues will be more confident</strong>... so this is the best way <strong>to get booked</strong>&nbsp! <a href="{{ edit_presskit_url }}">Do it now</a> &raquo;{% endblocktrans %}
	      </p>
	      <p>
		{% url import_contacts as import_url %}
		<!-- {% blocktrans with import_url as url %}Extend your network, <a href="{{ url }}">invite your friends</a>.{% endblocktrans %}-->
	      </p>
	    </div>
	  </div>

	  <div class="steps">
	    <ul>
	      {% url venue:edit venue.slug as edit_presskit_url %}
	      {% if presskit_completion.check_biography %}
		<li class="done">Biography</li>
	      {% else %}
		<li class="notdone"><a href="{{ edit_presskit_url }}#id_biography">Biography</a></li>
	      {% endif %}

	      {% if presskit_completion.check_pictures %}
		<li class="done">Photos</li>
	      {% else %}
		<li class="notdone"><a href="{% url venue:venue-pictures venue.slug %}">Photos</a></li>
	      {% endif %}
		
	      {% if presskit_completion.check_tracks %}
		<li class="done">Tracks</li>
	      {% else %}
		<li class="notdone"><a href="{% url presskit:presskit-tracks venue.slug %}">Tracks</a></li>
	      {% endif %}

	      {% if presskit_completion.check_socialnets %}
		<li class="done">Social Networks</li>
	      {% else %}
		<li class="notdone"><a href="{% url venue:socialnet-edit venue.slug %}">Social Networks</a></li>
	      {% endif %}

	      {% if presskit_completion.check_techsheet %}
		<li class="done">Technical Sheet</li>
	      {% else %}
		<li class="notdone"><a href="{{ edit_presskit_url }}#id_technical_sheet">Technical Sheet</a></li>		
	      {% endif %}
	    </ul>
	  </div>
	</div>

      </div>

      <div class="clear"></div>
    </div>

    {% endif %}

    <div id="presskit-tracker">
      <div class="sectionbox">
	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/negociation_ico.png' %}" alt="bargains"/>
	  <h2>{% trans "PressKit Tracker" %}</h2>
	</div>
	<div class="separator"></div>
	<div class="fullcontent">

	  <table cellpadding="0" cellspacing="0" border="0" class="display" id="tracker">
	    <thead>
	      <tr>
		<th>{% trans "Status" %}</th>
		<th>{% trans "Band" %}</th>
		<th>{% trans "Latest activity" %}</th>
		<th>{% trans "Sent by" %}</th>
	      </tr>
	    </thead>

	    <tbody>
	      {% staticfile '/images/band/no_picture.png' as default_picture %}
	      {% for presskit_view_request in received_presskits %}
		<tr class="state-{{ presskit_view_request.state|lower }} {% cycle "odd" "even" %}" href="{% url venue:presskit-viewrequest-venue venue.slug presskit_view_request.pk %}">
		  <td class="status">
		    {% if presskit_view_request.news_for_venue %}<strong>{% endif %}
		    {{ presskit_view_request.get_state_display|capfirst }}
		    {% if presskit_view_request.news_for_venue %}</strong>{% endif %}
		  </td>
		  <td class="venue">
		    <div>
		      <img src="{{ band.avatar_url|default:default_picture }}" width="40px" height="40px"/>
		      {% if presskit_view_request.news_for_venue %}<strong>{% endif %}
		      {{ presskit_view_request.presskit.band.name }}
		      {% if presskit_view_request.news_for_venue %}</strong>{% endif %}
		    </div>
		  </td>
		  <td>
		    {% if presskit_view_request.news_for_venue %}<strong>{% endif %}
		    {% blocktrans with presskit_view_request.modified_on|timesince|capfirst as timestamp %}{{ timestamp }} ago{% endblocktrans %}
		    {% if presskit_view_request.news_for_venue %}</strong>{% endif %}
		  </td>
		  <td>
		    {% if presskit_view_request.news_for_venue %}<strong>{% endif %}
		    {{ presskit_view_request.sent_by.first_name|default:presskit_view_request.sent_by.username }}
		    {% if presskit_view_request.news_for_venue %}</strong>{% endif %}
		  </td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  
	</div>
      </div>
    </div>
  </div>

  <div class="grid_5 omega">

    <div id="search">
      <h3>{% trans "Search for Bands" %}</h3>
      <div class="search-content">
	<img src="{% staticfile '/images/band/search.png' %}" width="100px"/>
	{% blocktrans %}Recherchez des <strong>groupes</strong> en quelques clics et <strong>invitez les</strong> à jouer chez vous !{% endblocktrans %}
	<span class="go">
	  <a href="{% url band:search %}" class="button-tip minibutton btn-edit" title="{% trans "Search for Bands" %}"><span>{% trans "Search for Bands" %}</span></a>
	</span>
      </div>
    </div>

    <div id="recent-visitors">
      <h3>{% trans "Recent visitors" %}</h3>
      <ul>
	{% for visit in latest_visits %}
	  <li>
	    <a class="tip" title="{{ visit.visitor.name }}" href="{% url presskit:presskit-detail visit.visitor.slug %}"><img src="{{ visit.visitor.avatar_url }}" width="30px" height="30px" alt="{{ visit.visitor.name }}"/></a>
	  </li>
	{% empty %}
	<li>{% blocktrans %}You'll see here <strong>Bands</strong> and <strong>Venues</strong> that have visited your profile.{% endblocktrans %}</li>
	{% endfor %}
      </ul>
    </div>


    <div id="venuemembers" class="grid_5 alpha omega">
      <h3>{% trans "Members" %} ({{ venue.venue_members.count }})</h3>
      <a href="{% url venue:membership-manage venue.slug %}" class="minibutton" title="Manage members"><span><span class="icon"></span>{% trans "Manage" %}</span></a>

      <ul>
	{% for member in venue.venue_members.all %}
	<li>
	  {% avatar member.user 48 %}
	  <a href="{{ member.user.get_profile.get_absolute_url }}">{{ member.user.get_full_name|default:member.user.username }}</a> ({{ member.user.username }})
	  <span class="venuemember_role" title="{{ member.roles.all|join:', ' }}">{{ member.roles.all|join:', '|truncatewords:3 }}</span>
	</li>
	{% endfor %}
      </ul>
    </div>

    <div id="ads">
      <h3>{% trans "Advertising" %}</h3>

      <ul>
	<li>
	  <h4><a target="_blank" href="http://www.skwid-creation.fr">Skwid Création</a></h4>
	  <div class="ads-content">
	    <span class="url">www.skwid-creation.fr</span>

	    Donnez une présence Web à votre scène : Skwid Création
	    vous accompagne et réalise vos supports de communication.
	    
	  </div>
	</li>

    </div>

  </div>
</div>

{% endblock %}
