{% extends "venue/base.html" %}

{% load i18n %}
{% load django_static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" media="screen" href="/css/venue_dashboard.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/venue.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/band_vcard.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/calendar.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/gig_vevent.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/jquery/colorbox/colorbox.css" />
{% endblock %}

{% block javascript %}
  {{ block.super }}

  {% staticall %}
  <script type="text/javascript" src="/js/galleria.js"></script>
  {% endstaticall %}

  <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>

  <script type="text/javascript">
    var map;
  
    function init(){
    map = new OpenLayers.Map('map', {controls: []});
    map.addControl(new OpenLayers.Control.MouseToolbar());
    map.addControl(new OpenLayers.Control.PanZoomBar());
    
    var layer = new OpenLayers.Layer.OSM()
    map.addLayer(layer);
    
    var venue = new OpenLayers.LonLat({{ venue.place.geom.x|stringformat:"0.5f" }}, {{ venue.place.geom.y|stringformat:"0.5f" }}) // Center of the map
    .transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
    new OpenLayers.Projection("EPSG:900913"));
    
    var markers = new OpenLayers.Layer.Markers("Markers");
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(venue));
    
    map.setCenter(venue,
    14 // Zoom level
    );
    

    };
  
    $(document).ready(init);
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
	// run galleria and add some options
	Galleria.loadTheme('{{ MEDIA_URL }}/css/galleria/themes/classic/galleria.classic.js');

	$('#gallery').galleria({
            image_crop: true, // crop all images to fit
            thumb_crop: true, // crop all thumbnails to fit
            transition: 'fade', // crossfade photos
            transition_speed: 700, // slow down the crossfade
	    autoplay: true,
            data_config: function(img) {
		// will extract and return image captions from the source:
		return  {
                    title: $(img).parent().next('strong').html(),
                    description: $(img).parent().next('strong').next().html()
		};
            },
            extend: function() {
		this.bind(Galleria.IMAGE, function(e) {
                    // bind a click event to the active image
                    $(e.imageTarget).css('cursor','pointer').click(this.proxy(function() {
			// open the image in a lightbox
			this.openLightbox();
                    }));
		});
            }
	});


    });

    $(document).ready(function() {
	$('a.tip').tipsy({gravity: 'e'});
    });

    </script>


{% endblock %}


{% block venue_content %}

  <div class="grid_15 alpha omega">
    <div id="top-notice">
      {% blocktrans %}
      This is a <strong>preview</strong> of how bands and venues will see your venue. Make sure to <strong>edit all parts</strong> !
      {% endblocktrans %}
    </div>
  </div>

  <div class="clear">
    <hr/>
  </div>


  {% include "venue/profile.html" %}


{% endblock %}