{% load elsewhere_tags %}
{% load oembed_tags %}
{% load reviews_tags %}
{% load i18n %}
{% load band_tags %}
{% load avatar_tags %}

  <div id="venue-sidebar" class="grid_3 alpha">
    <div id="venueavatar" class="grid_3 alpha omega">
      {% if venue.pictures.avatar %}
	<img src="{{ venue.pictures.avatar.thumbnail_image.url }}" width="100%" alt="venue avatar" />
      {% else %}
	<img src="{{ STATIC_URL }}images/venue/no_picture.png" width="100%" alt="no venue avatar" />
      {% endif %}
    </div>
    
  
  
  <div class="encart">

  <div id="ambiance" class="">
    {% if venue.ambiance %}
      {% trans "<strong>Ambiance</strong>:" %} {{ venue.ambiance }}
    {% else %}
      {% trans "No ambiance."%}
    {% endif %}

    {% if is_managed %}
    [<a href="{% url venue:edit venue.slug %}#id_ambiance">{% trans "edit" %}</a>]
    {% endif %}
  </div>

  <div id="capacity" class="grid_3 alpha omega">
    {% trans "<strong>Capacity</strong>:" %} {{ venue.capacity|default:"??" }}
    {% if is_managed %}
    [<a href="{% url venue:edit venue.slug %}#id_capacity">{% trans "edit" %}</a>]
    {% endif %}
  </div>

  {#<div id="website" class="grid_3 alpha omega">#}
    {#{{ venue.websites.all|first|default:"??" }}#}
  {#</div>#}
  
  
  </div>

  <div id="socialnets" class="grid_3 alpha omega">
    
    <ul>
      {% for socialnetwork in venue.socialnetworks.all %}
      <li>	  
	<a href="{{ socialnetwork.url }}" target="_blank"><img src="{{ socialnetwork.network.icon_url }}" /></a>
      </li>
      {% endfor %}
    </ul>

  </div>

  <!-- Venue members -->
  <div id="venuemembers" class="grid_3 alpha omega">
    <h3>{% trans "Staff" %} ({{ venue.members.count }})</h3>
    {% if is_managed %}
      <a href="{% url venue:membership-manage venue.slug %}" class="button-tip minibutton" title="Manage"><span>{% trans "Manage" %}</span></a>
    {% endif %}

	
    {% with STATIC_URL|add:'/images/account/no_avatar.png' as default_avatar %}
    <ul>
    {% for member in venue.venue_members.all %}
	<li>
	  <img src="{% avatar_url member.user 48 %}" alt="{{ member.user.username }}" width="48px" height="48px" />
	  <a href="{% url userena_profile_detail member.user %}">{{ member.user.get_full_name|default:member.user.username }}</a>
	  <span class="venuemember_role" title="{{ member.roles.all|join:", " }}">{{ member.roles.all|join:", "|truncatewords:3 }}</span>
      </li>
    {% endfor %}
    </ul>
    {% endwith %}
	
  </div>

  <!-- Stats -->
  <div id="venuestats" class="grid_3 alpha omega">
    <h3>{% trans "Trust indexes" %}</h3>
    <ul>
      {% if response_rate < 40 %}
      <li class="red">
	{% else %}
	{% if response_rate > 80 %}<li class="green">{% endif %}
      {% endif %}
      {% trans "Response rate:" %} {{ response_rate }}%</li>
    </ul>
  </div>  
  
	<!--
	
	<div id="latest-bands" class="grid_3 alpha omega">
		<h3>{% trans "Latest Bands" %}</h3>
		<ul>
		  {% for band in latest_bands %}
			<li>{% band_vcard band %}</li>
		  {% empty %}
			{% trans "No bands have played there yet." %}
		  {% endfor %}
		</ul>
	</div>
  
	-->




</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.colorbox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.presskit-send').colorbox({href: function() { return $(this).attr('href'); },
				  width: '700px',
				  initialWidth: '100px',
				  initialHeight: '100px',
				  transition: 'elastic',
				  opacity: 0.50,
				 });
});
</script>

<div id="venue-main" class="grid_12 omega">
  <h1>{% trans "Venue" %} &raquo; <a href="{{ venue.get_absolute_url }}">{{ venue.name|capfirst }}</a> ({{ venue.city|default:"Somewhere" }}, {{ venue.country|default:"Earth" }})</h1>

  <div class="grid_9 alpha">
    <div id="description" class="">

      <div class="content">
	{% if venue.description %}
	  {{ venue.description|capfirst|linebreaksbr }}
	{% else %}
	  {% trans "No description." %}
	{% endif %}
	
	{% if is_managed %}
	  <a href="{% url venue:edit venue.slug %}#id_description" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
	{% endif %}
	
      </div>
    </div>
  </div>
  
   <div class="grid_3 omega">
     {% if not is_managed or user.is_superuser %}
     <div class="sectionbox presskit_sharing">
       <div class="venue_sharing_title">
	 <img src="{{ STATIC_URL }}images/venue/send_presskit.png" alt="{% trans "Send presskit of" %}" width="150px"/>
	 <span>{% trans "Click to propose a gig to this venue." %}</span>
       </div>
       
       <ul>
	 {% with STATIC_URL|add:'/images/band/no_picture.png' as default_picture %}
	 {% for band in user.bands.all %}
	   <a onclick="javascript: return false;" href="{% url presskit:presskit-send band.slug venue.slug %}" class="presskit-send tip" title="{% blocktrans with band.name as band_name %}Send {{ band_name }} PressKit{% endblocktrans %}">
	     <div>
	       <li class="presskit_sharing_item">
		 <img width="25px" height="25px" src="{{ band.pictures.avatar.small_avatar_image.url|default:default_picture }}" />
		 <p>{{ band.name }}</p>
	       </li>
	     </div>
	   </a>					
	 {% endfor %} 
       </ul>
       {% endwith %}
     </div>
     {% endif %}
   </div>
				
				

  <!-- Calendar -->
  <!--
  {#
  <div id="venue-calendar" class="grid_12 alpha omega">
    <div class="sectionbox">
      <div class="header">
	<img src="{{ STATIC_URL }}images/gigbargain/calendar_ico.png" alt="calendar"/>
	<h2>{% trans "Calendar" %} (WIP)</h2>
      </div>
	
      <div class="separator"></div>

      <div class="content">
	<div id="calendar" class="grid_5 alpha">
	  {{ monthly_calendar.toHTML|safe }}
	</div>
	<div class="grid_6 omega">
	  <h3>{% trans "Upcoming events" %}</h3>
	  <ul id="upcoming-events">
	    {% for event in future_events %}
	      <li class="{% cycle "odd" "even" %}">{# gig_vevent event #}</li>
	    {% empty %}
	      {% trans "No upcoming event." %}
            {% endfor %}
	  </ul>
	</div>

	<div class="grid_12 alpha omega">
	  <div class="more">
	    &rarr; <a href="{# url event:venue-calendar venue.slug #}">{% trans "See full calendar" %}</a>
	  </div>
	</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  #}
  -->

  
  <!-- Pictures -->
  <div class="grid_7 alpha">
    <div id="pictures" class="sectionbox">
      <div class="header">
	<img src="{{ STATIC_URL }}images/presskit/pictures_ico.png" alt="pictures"/>
	<h2>{% trans "Pictures" %}</h2>
	{% if is_managed %}
	  <a href="{% url venue:venue-pictures venue.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
	{% endif %}
      </div>
      <div class="separator"></div>
      <div class="content">
	<div id="gallery" style="height: 300px;">
	  {% for picture in venue.pictures.all %}
	    <a href="{{ picture.original_image.url }}">
	      <img src="{{ picture.thumbnail_image.url }}" alt="image" />
	    </a>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>

  <div class="grid_5 omega">

	  
	  <div id="video" class="sectionbox">
      <div class="header">
	<img src="{{ STATIC_URL }}images/presskit/video_ico.png" alt="video"/>
	<h2>{% trans "Video" %}</h2>
	{% if is_managed %}
	  <a href="{% url venue:edit venue.slug %}#id_video" class="modal-popup button-tip minibutton btn-edit" title="{% trans "Edit" %}"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
	{% endif %}
      </div>
      <div class="separator"></div>
      <div class="fullcontent">
	{% if venue.video %}
	  {% oembed 320x240 %}
	  {{ venue.video }}
	  {% endoembed %}
	{% else %}
	  {% trans "No video has been set." %}
	{% endif %}
      </div>
    </div>
	

	 </div>
	
	<div id="location" class="sectionbox grid_12 alpha omega">
		<div class="header">
			<img src="{{ STATIC_URL }}images/presskit/location_ico.png" alt="location"/>
			<h2>{% trans "Location" %}</h2>
			{% if is_managed %}
			<a href="{% url venue:edit venue.slug %}#id_address" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit" %}</span></a>
			{% endif %}
		</div>
      <div class="separator"></div>
      <div class="content">
			{% trans "Address:" %} {{ venue.place.address }}<br/>
			<div style="height: 400px; width: 100%" id="map" class="smallmap"></div>
      </div>
    </div>
	
	
</div>
