{% extends "base.html" %}

{% load i18n %}
{% load django_static %}
{% load tagging_tags %}

{% block title %}
{% trans "Find a Venue" %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.iecompat.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tinysort.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tagcloud.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.activity-indicator-1.0.0.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.blockUI.js" %}" ></script>


  <script type="text/javascript" src="{% staticfile "/js/XMLHttpRequest.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.ba-serializeobject.js" %}"></script>
  <script type="text/javascript" src="/js/dajax/dajaxice.core.js"></script>
  

  <script type="text/javascript">
    $(document).ready(function() {
	var tags = $("#ambiance_tags").tagit({
	    itemName: 'ambiance',
	    availableTags: ["c++", "java"],
	    afterTagAdded: function(tag) { search_venues(); },
	    afterTagRemoved: function(tag) { search_venues(); }
	});

	$("#tag_list").tagcloud({type:"sphere", sizemin:10, height: 200}).find("li").tsort();

	$("#tag_list li").click(function($this) {
	    $.fn.tagit.create_tag($(this).text());
	});

	// restore tags in get
	{% for tag in ambiance_tags %}
	$.fn.tagit.create_tag("{{ tag }}");
	{% endfor %}
    });
  </script>

  <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script defer="defer" type="text/javascript">
    function createMarker(ll, popupClass, popupContentHTML, closeBox, overflow) {
        var feature = new OpenLayers.Feature(markers, ll); 
        feature.closeBox = closeBox;
        feature.popupClass = popupClass;
        feature.data.popupContentHTML = popupContentHTML;
        feature.data.overflow = (overflow) ? "auto" : "hidden";
        
        var marker = feature.createMarker();
	
        var markerClick = function (evt) {
            if (this.popup == null) {
                this.popup = this.createPopup(this.closeBox);
                map.addPopup(this.popup);
                this.popup.show();
            } else {
                this.popup.toggle();
            }
            currentPopup = this.popup;
            OpenLayers.Event.stop(evt);
        };
        marker.events.register("mousedown", feature, markerClick);
        
	markers.addMarker(marker);
    }

    function addMarkers(data) {
	if ( currentPopup ) {
	    currentPopup.hide()
	}

	markers.clearMarkers();

	AutoSizeFramedCloudMaxSize = OpenLayers.Class(OpenLayers.Popup.Anchored, {
	    contentDisplayClass: 'venuemarker_popup',
            'autoSize': true, 
        });

	// Add new ones
	for (var i=0; i<data.length; i++) {
	    var where = new OpenLayers.LonLat(data[i].lon, data[i].lat)
		.transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
			   new OpenLayers.Projection("EPSG:900913")
			  );



            popupClass = AutoSizeFramedCloudMaxSize;
            popupContentHTML = data[i].text; 
            createMarker(where, popupClass, popupContentHTML, false, true);
	};



    }


    $(document).ready(function() {
	currentPopup = null;

	// Map
	map = new OpenLayers.Map('map', {units: 'm', controls: [], numZoomLevels: 5});

	map.addControl(new OpenLayers.Control.PanZoomBar());
	map.addControl(new OpenLayers.Control.Navigation());
	
	// Layers
	osmlayer = new OpenLayers.Layer.OSM({units: 'm'});
	map.addLayer(osmlayer);

	markers = new OpenLayers.Layer.Markers("markers");
        map.addLayer(markers);
	markers.setZIndex(1000);

	// Center
	var myplace = new OpenLayers.LonLat($("#id_circle_x").val(), $("#id_circle_y").val()) // Center of the map
            .transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
		       new OpenLayers.Projection("EPSG:900913")
		      );
	


	// Draw circle
	layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
	layer_style.fillOpacity = 0.5;
	layer_style.graphicOpacity = 1;

	var polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer", {units: 'm', style: layer_style});

	map.addLayer(polygonLayer);

	var radius = $('#id_distance').val() / 0.666;
	var circle = new OpenLayers.Geometry.Polygon.createRegularPolygon(new OpenLayers.Geometry.Point(myplace.lon, myplace.lat),
									  radius,
									  40, // Number of points for the polygon. > 20 approximates a circle
									  0);

	polygonLayer.addFeatures(new OpenLayers.Feature.Vector(circle));

	// Zoom to selection
	map.zoomToExtent(circle.getBounds());

	// Resize + Drag tool
	onFeatureModification = function() {
	    // Update coordinates
	    var point = this.feature.geometry.getCentroid().transform(new OpenLayers.Projection("EPSG:900913"),
								      new OpenLayers.Projection("EPSG:4326")
								     );
	    $('#id_circle_x').val(point.x);
	    $('#id_circle_y').val(point.y);

	    // Update radius
	    bounds = this.feature.geometry.getBounds();
	    $('#id_distance').val(Math.round(((bounds.getWidth()/2.0) * 0.666))); // FIXME: We use this obscure 0.666 coefficient. Need to know why !

	    map.zoomToExtent(bounds);

	    // Update search results
	    search_venues();
	};


	var options = {
	    mode: OpenLayers.Control.ModifyFeature.RESIZE | OpenLayers.Control.ModifyFeature.DRAG,
	    clickout: false,
	    toggle: false
	};

	
	var dragresizer = new OpenLayers.Control.ModifyFeature(polygonLayer, options);
	dragresizer.setFeatureState = onFeatureModification;

	dragresizer.collectDragHandle = function() {
	    style_img = OpenLayers.Util.extend({}, layer_style);
	    style_img.externalGraphic = '{% staticfile "/images/icons/64x64/cursor-move.png" %}';
	    style_img.graphicWidth = 60;
	    style_img.graphicHeight = 60;
	    

	    var geometry = this.feature.geometry;
            var center = geometry.getBounds().getCenterLonLat();
            var originGeometry = new OpenLayers.Geometry.Point(
		center.lon, center.lat
            );
            var origin = new OpenLayers.Feature.Vector(originGeometry, null, style_img);
            originGeometry.move = function(x, y) {
		OpenLayers.Geometry.Point.prototype.move.call(this, x, y);
		geometry.move(x, y);
            };
            origin._sketch = true;
            this.dragHandle = origin;
            this.layer.addFeatures([this.dragHandle], {silent: true});
	}

	dragresizer.collectRadiusHandle = function() {
	    style_img = OpenLayers.Util.extend({}, layer_style);
	    style_img.externalGraphic = '{% staticfile "/images/icons/64x64/cursor-size.png" %}';
	    style_img.graphicWidth = 30;
	    style_img.graphicHeight = 30;
	    style_img.rotation = -30;

	    var geometry = this.feature.geometry;
            var bounds = geometry.getBounds();
            var center = bounds.getCenterLonLat();
            var originGeometry = new OpenLayers.Geometry.Point(
		center.lon, center.lat
            );


	    var radius = bounds.getWidth() / 2.0;
	    var r_x = originGeometry.x + (radius * Math.cos(-45));
	    var r_y = originGeometry.y + (radius * Math.sin(-45));

            var radiusGeometry = new OpenLayers.Geometry.Point(
		r_x, r_y
            );
	    
            var radius = new OpenLayers.Feature.Vector(radiusGeometry, null, style_img);

            var resize = (this.mode & OpenLayers.Control.ModifyFeature.RESIZE);

            radiusGeometry.move = function(x, y) {
		OpenLayers.Geometry.Point.prototype.move.call(this, x, y);
		var dx1 = this.x - originGeometry.x;
		var dy1 = this.y - originGeometry.y;
		var dx0 = dx1 - x;
		var dy0 = dy1 - y;

                var scale, ratio;
		
		var l0 = Math.sqrt((dx0 * dx0) + (dy0 * dy0));
		var l1 = Math.sqrt((dx1 * dx1) + (dy1 * dy1));

		// FIXME: Hardcoded limit
		if ( l1 > 10000 )
		    l0 = l1 = 10000;
		else if ( l1 < 1000 )
		    l0 = l1 = 1000;

		scale = l1 / l0;
		    
                geometry.resize(scale, originGeometry, ratio);
            };
            radius._sketch = true;
            this.radiusHandle = radius;
            this.layer.addFeatures([this.radiusHandle], {silent: true});
	}

	map.addControl(dragresizer);

	dragresizer.activate();

	// Reset system
	search_venues();

    });
  </script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/venue.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.autocomplete.tagit.css" media="screen, projection" />

  

  <style type="text/css">
  .venuemarker_popup {
      background-color: black;
      padding: 5px;
      color: #ED511C;
      height: 10px;
  }
 
  .olPopup {
      bottom: -20px;
  }
  </style>
{% endblock %}


{% block content %}

  <div id="text">
    <h1>{% trans "Find where to play" %}</h1>

    <div id="search" class="sectionbox">
      <div class="header">
	<img src="{% staticfile '/images/presskit/location_ico.png' %}" alt="location"/>	
	<h2>{% trans "Your search" %}</h2>
      </div>
      <div class="separator"></div>

      <div class="content">
	<form id="search-form" method="GET" action="">
	  <div class="grid_7 alpha">
	    
	    <h3>{% trans "Location" %}</h3>
	    <p class="help">
	      {% blocktrans %}
		The circle represents the area that is searched for venues. Click on it to edit, <strong>drag from the center to move it</strong> and <strong>click on the edge to resize it</strong>.
	    {% endblocktrans %}
	    </p>
	    
	    <div id="map" style="width:430px; height:400px;"></div>
	    
	    {{ geosearch_form.circle_x }}
	    {{ geosearch_form.circle_y }}
	    {{ geosearch_form.distance }}
	    
	  </div>
	  <div id="ambiance" class="grid_7 omega">
	    <h3>{% trans "Ambiance" %}</h3>
	    
	    <div id="div_id_ambiance" class="{% if venue_filter.form.ambiance.errors %}error{%endif%}">
	      <p class="help">
	      {% blocktrans %}
		By default, all the venues are selected. If you want to select only venues that have a given ambiance, select them by <strong>clicking on the terms in the cloud</strong> below:
	      {% endblocktrans %}
	      </p>

	      <ul id="tag_list">
		{% tags_for_model venue.Venue as venue_tags with counts %}
		  
		  {% for tag in venue_tags %}
		    <li value="{{ tag.count }}"><a href="javascript:;">{{ tag }}</a></li>
		  {% endfor %}
	      </ul>

	      <ul id="ambiance_tags">
	      </ul>
	      
	      {{ venue_filter.form.ambiance.errors }}
	    </div>
	    
	    <!--
		<h2>{% trans "Name" %}</h2>
		
		<div id="div_id_name" class="{% if venue_filter.form.name.errors %}error{%endif%}">
		{{ venue_filter.form.name }}
		<br/>
		{{ venue_filter.form.name.errors }}
		</div>
	    -->
	    
	  </div>
	  <div class="clear"></div>

	  <script type="text/javascript">
	    function on_search_venues_completed(data) {
		try{
		    res = Dajax.process(data);
                }
                catch(exception){
		    alert('Error' + exception);
                }

		$('#search-results').fadeTo('fast', 1);
		$('#search-results-wrapper').activity(false);
		$('#search').unblock();

	    }

	    function search_venues() {
		$('#search').block({message: 'Recherche en cours, patientez svp...'});
		$('#search-results').fadeTo('fast', 0.3);
		$('#search-results-wrapper').activity({width: 6, valign: 'center', padding: '20'});

		search_form = $('#search-form').serializeObject(true);
		Dajaxice.venue.search_venues(on_search_venues_completed, {'form_data': search_form});

		return false;
	    }

	  </script>


	  <input id="submit" type="submit" onclick="return search_venues()" value="{% trans "Search" %}">
	  </form>
	</div>
    </div>

    <div id="search-results-wrapper" class="grid_10 alpha">
      {% include "venue/search_results.html" %}
    </div>

    <div id="cantfind" class="grid_4 omega">
      <h3>Vous n'arrivez pas à trouver le bar que vous cherchez ?</h3>

      <img src="/site_media/images/superman.gif" width="100px">
	<p>Envoyez <strong>SuperLaurent</strong>, l'homme de la situation pour <strong>démarcher les bars qui ne sont pas encore sur SpreadBand</strong> !</p>

	<script type="text/javascript">
	  function to_cantfind() {
	      $("#cantfind input#id_distance").val($("#search-form input#id_distance").val());
	      $("#cantfind input#id_x").val($("#search-form input#id_circle_x").val());
	      $("#cantfind input#id_y").val($("#search-form input#id_circle_y").val());
	      
	      res = new Array();
	      $("input[name='ambiance']").each(function(index, el) { res.push($(el).attr('value')); });
	      if ( res.length == 1 ) {
		  res.push("any");
	      }

	      $("#cantfind input#id_ambiance").val(res);

					      
	  }
	</script>

	<form id="cantfind" method="GET" action="{% url venue:search-cantfind %}">
	  {{ cantfind_form.as_p }}
	  <input type="submit" value="C'est parti ! &raquo;" onclick="return to_cantfind(); return true"/>
	</form>
    </div>

  </div>
{% endblock %}