{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "I can't find a Venue" %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/venue_cantfind.css" media="screen, projection" />
{% endblock %}

{% block content %}

<div id="text">

  <h1>{% trans "Send SuperLaurent" %}</h1>


  <div id="instructions">
    {% blocktrans %}
      Vous n'avez pas <strong>réussi à trouver votre bar idéal</strong> ou vous connaissez <strong>un lieu non référencé</strong> ? Donnez du taff à <strong>SuperLaurent</strong>, il est là rien que pour vous !
    {% endblocktrans %}
  </div>

  <div class="grid_15 alpha omega">

    <form method="POST" action="">
      {% csrf_token %}
      <div class="grid_11 alpha omega">
	
	<div id="letter">
	  <div id="letter-header">
	    <div class="grid_6 alpha">
	      <img src="{{ STATIC_URL }}images/venue/spreadstamp.png" width="150px"/>
	    </div>
	    
	    <div id="to" class="grid_3 omega">
	      <strong>SuperLaurent</strong><br/>
	      SpreadBand HQ<br/>
	      Lille, France
	    </div>
	  </div>
	  
	  <div class="clear"></div>
	  
	  <div id="letter-body">
	    {{ text|linebreaks }}
	  </div>
	  
	</div>
	
      </div>
      
      <div id="send" class="grid_4 omega">
	<img src="{{ STATIC_URL }}images/venue/superlaurent.png"/ alt="{% trans "SuperLaurent" %}>
	<input type="submit" name="submit" />
      </div>

    </form>
      
  </div>
</div>

{% endblock %}