{% extends "base.html" %}

{% load i18n %}
{% load django_static %}
{% load tagging_tags %}

{% block title %}
{% trans "Find a Venue" %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.iecompat.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tinysort.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tagcloud.js" %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	var tags = $("#ambiance_tags").tagit({
	    itemName: 'ambiance',
	    availableTags: ["c++", "java"]
	});

	$("#tag_list").tagcloud({type:"sphere", sizemin:10, height: 200}).find("li").tsort();

	$("#tag_list li").click(function($this) {
	    $.fn.tagit.create_tag($(this).text());
	});

	// restore tags in get
	{% for tag in ambiance_tags %}
	$.fn.tagit.create_tag("{{ tag }}");
	{% endfor %}
    });
  </script>

  <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script defer="defer" type="text/javascript">
    $(document).ready(function() {
	map = new OpenLayers.Map('map', {units: 'm'});
	
	// Map
	//layer = new OpenLayers.Layer.MapServer("OpenLayers WMS",
	//"http://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );
	layer = new OpenLayers.Layer.OSM({units: 'm'});


	map.addLayer(layer);

	// Center
	var myplace = new OpenLayers.LonLat($("#id_circle_x").val(), $("#id_circle_y").val()) // Center of the map
        .transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
		   new OpenLayers.Projection("EPSG:900913"));
	

	map.setCenter(myplace, 12);

	// Draw circle
	var polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer", {units: 'm'});

	alert(polygonLayer.units);
	map.addLayer(polygonLayer);

	var radius = 1000;
	var circle = new OpenLayers.Geometry.Polygon.createRegularPolygon(new OpenLayers.Geometry.Point(myplace.lon, myplace.lat),
									  radius,
									  40, // Number of points for the polygon. > 20 approximates a circle
									  0);

	polygonLayer.addFeatures(new OpenLayers.Feature.Vector(circle));


	//var drag_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
	var styleMap = new OpenLayers.StyleMap({pointRadius: 10,
						graphicName: 'star'});

	// Resize + Drag tool
	onFeatureModification = function() {
	    // Update coordinates
	    var point = this.feature.geometry.getCentroid().transform(new OpenLayers.Projection("EPSG:900913"),
								      new OpenLayers.Projection("EPSG:4326")
								     );
	    $('#id_circle_x').val(point.x);
	    $('#id_circle_y').val(point.y);

	    // Update radius
	    bounds = this.feature.geometry.getBounds();
	    $('#id_distance').val(Math.round((bounds.getWidth() * 0.666) / 1000.0));
	};

	var options = {
	    mode: OpenLayers.Control.ModifyFeature.RESIZE | OpenLayers.Control.ModifyFeature.DRAG,
	};
	
	var dragresizer = new OpenLayers.Control.ModifyFeature(polygonLayer, options);
	dragresizer.setFeatureState = onFeatureModification;
	map.addControl(dragresizer);
	dragresizer.activate();

	
    });
  </script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/venue.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.autocomplete.tagit.css" media="screen, projection" />
{% endblock %}


{% block content %}

  <div id="text">
    <h1>{% trans "Find where to play" %}</h1>
    <div id="search">
      <form method="GET" action="">
	<div class="grid_7 alpha">

	  <img src="{% staticfile '/images/presskit/location_ico.png' %}" alt="location"/>
	  <h2>{% trans "Location" %}</h2>

	  <div id="map" style="width:430px; height:400px;"></div>

	  {{ geosearch_form.circle_x }}
	  {{ geosearch_form.circle_y }}

	  <div id="div_id_distance" class="ctrlHolder {% if geosearch_form.distance.errors %}error{%endif%}">
	    <br/>
	     {% trans "Extends" %} {{ geosearch_form.distance }} {% trans "kilometers around this city" %}
	    <br/>
	    {{ geosearch_form.distance.errors }}
	  </div>


	</div>
	<div class="grid_7">
	  <h2>{% trans "Ambiance" %}</h2>

	  <div id="div_id_ambiance" class="{% if venue_filter.form.ambiance.errors %}error{%endif%}">
	    {% blocktrans %}
	      If you want to restrict your search to a particular venue ambiance, specify it in the field below or click on the tag cloud:
	  {% endblocktrans %}

	     <ul id="ambiance_tags">
	     </ul>

	     <ul id="tag_list">
	       {% tags_for_model venue.Venue as venue_tags with counts %}
		 
	       {% for tag in venue_tags %}
		 <li value="{{ tag.count }}"><a href="#">{{ tag }}</a></li>
	       {% endfor %}
	     </ul>
	    <br/>
	    {{ venue_filter.form.ambiance.errors }}
	  </div>
	  
	  <!--
	  <h2>{% trans "Name" %}</h2>

	  <div id="div_id_name" class="ctrlHolder {% if venue_filter.form.name.errors %}error{%endif%}">
	      {{ venue_filter.form.name }}
	    <br/>
	    {{ venue_filter.form.name.errors }}
	  </div>
	  -->

	</div>
	<div class="clear"></div>
	<input id="submit" type="submit" value="{% trans "Search" %}">
      </form>
    </div>

    <div id="search-results" class="grid_10 alpha">
      <h2>{% trans "Search results" %} ({{ venue_filter.queryset|length }})</h2>

      <ul>
	{% staticfile '/images/venue/no_picture.png' as default_pic %}
	{% for venue in venue_filter %}
	  <li class="venue">
	    <div class="{% cycle 'odd' 'even' %}">
	      <div>
		<img src="{{ venue.pictures.avatar.avatar_image.url|default:default_pic }}" alt="Picture of {{ venue.name }}"/>
	      </div>
	      <div class="info">
		<a class="name" href="{{ venue.get_absolute_url }}">{{ venue }}</a>
		<br/>
		<div class="adr">
		  <span class="locality">{{ venue.city }}</span>
		  <span class="country-name">{{ venue.country.name }}</span>
		  {% if venue.country %}<img src="{{ venue.country.flag }}" title="{{ venue.country.name }}" alt="{{ venue.country }}"/>{% endif %}
		</div>
		<br/>
		<div class="tags">
		  {{ venue.ambiance }}
		</div>
	      </div>
	      <div class="book">
		{% for band in request.user.bands.all %}
		  <a href="{% url gigbargain:gigbargain-new-from-band band.slug %}?venue={{ venue.slug }}" class="button-tip minibutton" title="{% trans "Book This Venue" %}"><span><span class="icon"></span>{% blocktrans with band.name as band_name %}Book {{ band_name }} there{% endblocktrans %}</span></a>
		{% endfor %}
	      </div>
	    </div>
	  </li>
	{% endfor %}
      </ul>
    </div>

    <div id="cantfind" class="grid_4 omega">
      <h3>Vous n'arrivez pas à trouver le bar que vous cherchez ?</h3>

      <img src="/site_media/images/superman.gif" width="100px">
	<p>Envoyez <strong>SuperLaurent</strong>, l'homme de la situation pour <strong>démarcher les bars qui ne sont pas encore sur SpreadBand</strong> !</p>

	<textarea>Si vous voulez lui dire quelque chose, c'est ici :-)</textarea>
	<input type="submit" value="Allez, dépêche toi !" />
    </div>

  </div>
{% endblock %}