{% extends "base.html" %}

{% block content %}

<h1>Venue &raquo; <a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a></h1>

( <a href="{% url venue:edit venue.slug %}">edit</a> )

Ambiance: {{ venue.ambiance }}
<br>
Description : {{ venue.description }}
<br>

<h4>Calendar</h4>

{# <a href="{% url event:venue-calendar venue.slug %}">View calendar</a> #}

{% load agenda %}

<h4>Gig Bargains</h4>
<p>
  <ul>
    {% for gigbargain in venue.gigbargains.all %}
    <li>
      <a href="{% url event:gigbargain-detail gigbargain.pk %}">{{ gigbargain }}</a>
 
      [<a href="{% url event:gigbargain-venue-confirm-bands gigbargain.pk venue.slug %}">Confirm bands</a>]
      [<a href="{% url event:gigbargain-venue-conclude gigbargain.pk venue.slug %}">Conclude</a>]
    </li>
    {% endfor %}
  </ul>
<a href="{#% url event:bargain-new venue.slug %#}">Propose a gig to this venue !</a>

<a href="{% url event:gigbargain-new-from-venue  %}?venue={{venue.slug}}">Start a new bargain</a>

{% endblock %}
