{% extends "base.html" %}

{% load i18n %}

{% block css %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/venue.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.slugify.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_name").slugify("#id_slug");
  });
</script>

{% endblock %}


{% block content %}

<div id="text">
  <div class="alpha grid_16 omega">
    <div class="alpha grid_11 venue-new">
      <h1>{% trans "Register Your Venue" %}</h1>
      
      <h2>{% trans "Your Venue" %}</h2>
      <form method="POST" class="">{% csrf_token %}
      
      <p>
	{{ form.name.label_tag }}
	{{ form.name.errors }}
	{{ form.name }}
      </p>
      
      <p id="slug">
	{{ form.slug }}
	<label for="id_slug">{% trans "Your address on SpreadBand:" %} <strong>http://spreadband.com/v/</strong></label>
	{{ form.slug.errors }}
      </p>
      
      <div class="clear"></div>

      <h2>{% trans "Your role(s) in this Venue" %}</h2>
      
      <p class="help">{{ member_form.roles.help_text }}</p>
      <p>
	{{ member_form.roles.label_tag }}
	{{ member_form.roles.errors }}
	{{ member_form.roles }}
      </p>
      
      <div class="clear"></div>
      
      <button class="awesome orange medium" type="submit">{% trans "Submit" %}</button>
      
      </form>
    </div>

    <div id="venue-new-sidebar" class="grid_4 omega">
      <h3>Registering your venue</h3>
      
      <img src="{{ STATIC_URL }}images/venue/venue_new.jpg" alt="{% trans "venue stage" %}"/>
      
      <p>
	{% blocktrans %}
	By registering your venue, bands will be able to send their PressKit so that you can set up a gig with them.
	{% endblocktrans %}
      </p>
    </div>
  </div>
  
{% endblock %}
