{% extends "venue/base.html" %}

{% load uni_form_tags %}
{% load django_static %}
{% load tagging_tags %}
{% load i18n %}

{% block title %}
  {{ venue.name }} - {% trans "Edit" %}
{% endblock %}

{% block venue_section %}
  {% trans "Edit" %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.autocomplete.tagit.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% staticfile '/js/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/ckeditor/config.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/ckeditor/adapters/jquery.js' %}"></script>
  
  <script type="text/javascript">
    $(document).ready(function() {
	// $('#id_description').ckeditor();
    });
  </script>

  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.iecompat.js" %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	$("#id_ambiance").remove();
	$("#div_id_ambiance").append("<ul id='ambiance_tags'></ul>");
	var tags = $("#ambiance_tags").tagit({
	    itemName: 'ambiance',
	    //availableTags: ["c++", "java"],
	    //afterTagAdded: function(tag) { search_venues(); },
	    //afterTagRemoved: function(tag) { search_venues(); }
	});

	// restore tags in get
        {% tags_for_object venue as venue_tags %}
      	{% for tag in venue_tags %}
          $.fn.tagit.create_tag("{{ tag }}");
        {% endfor %}
    });
  </script>

{% endblock %}

{% block venue_content %}

  <div class="grid_14">
    <form method="POST" class="uniForm">
      {{ form|as_uni_form }}
      <input type="submit" value="{% trans "Update" %}" class="awesome orange medium"/>
    </form>
  </div>

{% endblock %}
