{% extends "base.html" %}

{# {% load scheduletags %} #}

{% block content %}

<h1>Venue &raquo; <a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a></h1>

Ambiance: {{ venue.ambiance }}
<br>
Description : {{ venue.description }}
<br>

<h4>Calendar</h4>

<a href="{% url event:venue-calendar venue.slug %}">View calendar</a>

<h4>Bargains</h4>
<p>
  <ul>
    {% for contract in contracts %}
    <li><a href="{% url event:bargain-detail contract.id %}">{{ contract.terms.gigbargain }}</a>
      [<a href="{% url event:bargain-approve-venue contract.id venue.slug %}">Approve</a>|
      <a href="{% url event:bargain-disapprove-venue contract.id venue.slug %}">Disapprove</a>|
      <a href="{% url event:bargain-update-venue contract.id venue.slug %}">Edit</a>]</li>
    {% endfor %}
  </ul>
<a href="{% url event:bargain-new venue.slug %}">Propose a gig to this venue !</a>

{% endblock %}
