{% extends "bands/base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}
Lymbago - Update
{% endblock %}

{% block band_section %}
Update
{% endblock %}

{% block band_content %}

{% block band_javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.slugify.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_name").slugify("#id_slug");
  });
</script>

{% endblock %}

<div class="grid_10">
  <form action="" method="POST" class="uniForm">
    {{ form|as_uni_form }}
    <input type="submit" value="{% trans "Submit" %}" />
  </form>
</div>

{% endblock %}
