{% extends "bands/base.html" %}

{% load i18n %}
{% load badges_tags %}
{% load django_static %}
{% load activity_tags %}
{% load avatar_tags %}

{% block title %}
  {{ band.name }} - {% trans "Dashboard" %}
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript" src="{% staticfile '/js/jquery/jquery.dataTables.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	$('a.tip').tipsy({gravity: 'n'});

	$('#tracker').dataTable({"bPaginate": false,
				 "bInfo": false});

	
	function hide_presskit_completion(speed) {
	    $('#band-tip').animate({height:'10px'}, speed);
	    $('#band-tip span.close a').html('&darr;');
	}

	function show_presskit_completion(speed) {	 
	    $('#band-tip').css('height', null);
	    var new_height = $('#band-tip').css('height');
	    $('#band-tip').css('height', '10px');
	    $('#band-tip').animate({height: new_height}, speed);
	    $('#band-tip span.close a').html('&uarr;');
	}

	$('#band-tip span.close a').click(function() {
	    if ( $.cookie("hide-presskit-completion-tip") ) {
		show_presskit_completion('slow');
		$.cookie("hide-presskit-completion-tip", null);
	    } else {
		hide_presskit_completion('slow');
		$.cookie("hide-presskit-completion-tip", true, { expires: 7 });
	    }
	});

	if ( $.cookie("hide-presskit-completion-tip") ) {
	    hide_presskit_completion(0);
	}

    });
  </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" media="screen" href="/css/calendar.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/jquery.dataTables.css" media="screen, projection" />
{% endblock %}

{% block band_content %}

<div class="grid_15 alpha omega">

  <div class="grid_10 alpha">

    <!--
    {% if today_events %}
    <div class="grid_8 alpha omega">
      <div id="today">
	<h3>{% trans "Today's" %}</h3> 
	<ul>
	  {% for event in today_events %}
	    <li>&rarr; <a href="{{ event.get_absolute_url }}">{{ event.title|capfirst }}</a> (<strong>{{ event.start_time }}</strong>-{{ event.end_time }}) at <a href="{{ event.venue.get_absolute_url }}">{{ event.venue.name|capfirst }}</a></li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    {% endif %}
    -->

   {% if not presskit_completion_badge|number_awarded:band %}
    <div>
      <div id="band-tip" class="grid_10 alpha omega">
	<div class="tip-header">
	  <h3>{% trans "Hey, Remember to fill your PressKit !" %}</h3>
	  <span class="close"><a href="#">&uarr;</a></span>
	</div>
	<img src="{% staticfile '/images/band/fill_presskit.png' %}" height="90px"/>	
	
	<div class="info">
	  <div class="progress">
	    <div class="bar">
	      <div class="accomplished" style="width: {{ presskit_completion.perc  }}%;"><span>{{ presskit_completion.perc }}%</span></div>
	    </div>

	    <div class="text">
	      <p>
		{% url band:edit band.slug as edit_presskit_url %}
		{% blocktrans with edit_presskit_url as edit_presskit_url %}By filling in your PressKit, you make sure the <strong>Venues will be more confident</strong>... so this is the best way <strong>to get booked</strong>&nbsp! <a href="{{ edit_presskit_url }}">Do it now</a> &raquo;{% endblocktrans %}
	      </p>
	      <p>
		{% url import_contacts as import_url %}
		<!-- {% blocktrans with import_url as url %}Extend your network, <a href="{{ url }}">invite your friends</a>.{% endblocktrans %}-->
	      </p>
	    </div>
	  </div>

	  <div class="steps">
	    <ul>
	      {% url band:edit band.slug as edit_presskit_url %}
	      {% if presskit_completion.check_biography %}
		<li class="done">Biography</li>
	      {% else %}
		<li class="notdone"><a href="{{ edit_presskit_url }}#id_biography">Biography</a></li>
	      {% endif %}

	      {% if presskit_completion.check_pictures %}
		<li class="done">Photos</li>
	      {% else %}
		<li class="notdone"><a href="{% url band:band-pictures band.slug %}">Photos</a></li>
	      {% endif %}
		
	      {% if presskit_completion.check_tracks %}
		<li class="done">Tracks</li>
	      {% else %}
		<li class="notdone"><a href="{% url presskit:presskit-tracks band.slug %}">Tracks</a></li>
	      {% endif %}

	      {% if presskit_completion.check_socialnets %}
		<li class="done">Social Networks</li>
	      {% else %}
		<li class="notdone"><a href="{% url band:socialnet-edit band.slug %}">Social Networks</a></li>
	      {% endif %}

	      {% if presskit_completion.check_techsheet %}
		<li class="done">Technical Sheet</li>
	      {% else %}
		<li class="notdone"><a href="{{ edit_presskit_url }}#id_technical_sheet">Technical Sheet</a></li>		
	      {% endif %}
	    </ul>
	  </div>
	</div>

	<!--
	<p>
	  <a class="oauth_assoc" href="{% url oauth_access_login "twitter" %}?onsuccess={% url band:socialnet-associate band.slug %}">Associate your twitter account</a> to be able to post there.
	  <a class="oauth_assoc" href="{% url oauth_access_login "facebook" %}?onsuccess={% url band:socialnet-associate band.slug %}">Associate your facebook account</a> to be able to post there.
	</p>
	-->

	<!-- <p>
	  <a href="{% url band:socialnet-post-message band.slug "twitter" %}">Post a message on twitter</a>.
	  <a href="{% url band:socialnet-post-message band.slug "facebook" %}">Post a message on facebook</a>.
	</p>

	<p>
	  <a href="{% url band:socialnet-broadcast-message band.slug %}">Broadcast a message on your social networks</a>.
	</p>
	-->
      </div>

      <div class="clear"></div>
    </div>

    {% endif %}

    <div id="presskit-tracker">
      <div class="sectionbox">
	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/negociation_ico.png' %}" alt="bargains"/>
	  <h2>{% trans "PressKit Tracker" %}</h2>
	</div>
	<div class="separator"></div>
	<div class="fullcontent">

	  <table cellpadding="0" cellspacing="0" border="0" class="display" id="tracker">
	    <thead>
	      <tr>
		<th>{% trans "Status" %}</th>
		<th>{% trans "Venue" %}</th>
		<th>{% trans "Sent on" %}</th>
		<th>{% trans "Action" %}</th>
	      </tr>
	    </thead>

	    <tbody>
	      <tr class="pending">
		<td>Pending</td>
		<td class="venue">
		<div><img src="/site_media/cache/venue/10/pictures/nouvelle-fleche-d_or_thumbnail_image.jpg" width="40px"/>La chimère</div></td>
		<td>3. Janv (2 days ago)</td>
		<td>[<a href="#">Cancel</a>]</td>
	      </tr>

	      <tr class="accepted">
		<td>Accepted</td>
		<td class="venue"><div><img src="/site_media/cache/venue/18/pictures/2147733_thumbnail_image.png" width="40px"/>La Rumeur</div></td>
		<td>1. Janv (5 days ago)</td>
		<td>-</td>
	      </tr>
	    </tbody>
	  </table>
	  
	</div>
      </div>
    </div>

    <!--
    <div id="gigbargains" class="grid_8 alpha omega">
      <div class="sectionbox">
	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/negociation_ico.png' %}" alt="bargains"/>
	  <h2>{% trans "Gig Bargains" %} (WIP)</h2>
	  <a href="{% url venue:search %}" class="button-tip minibutton" title="{% trans "Book A Venue" %}"><span><span class="icon"></span>{% trans "Book A Venue" %}</span></a>
	</div>
	<div class="separator"></div>
	<div class="content ">

	  <div class="grid_8 alpha omega">
	    <h3>{% trans "Invitations" %}</h3>
	    <ul>
	      {% for gigbargain in gigbargain_invitations %}
		<li><a href="{% url gigbargain:gigbargain-detail gigbargain.uuid %}">{{ gigbargain.venue.name|capfirst }}, {{ gigbargain.date }} ({% blocktrans with gigbargain.date|timeuntil as time_until %}in {{ time_until }}{% endblocktrans %})</a></li>
		{% empty %}
		{% trans "You don't have any invitation." %}
	      {% endfor %}
	    </ul>

	    <h3>{% trans "Drafts" %}</h3>
	    <ul>
	      {% for gigbargain in gigbargain_drafts %}
		<li><a href="{% url gigbargain:gigbargain-detail gigbargain.uuid %}">{{ gigbargain.venue.name|capfirst }}, {{ gigbargain.date }} ({% blocktrans with gigbargain.date|timeuntil as time_until %}in {{ time_until }}{% endblocktrans %})</a></li>
		{% empty %}
		{% trans "You haven't started any draft." %}
	      {% endfor %}
	    </ul>
	    
	    <h3>{% trans "Being negociated" %}</h3>
	    <ul>
	      {% for gigbargain in band.gigbargains.inprogress_gigbargains|slice:":2" %}
		<li><a href="{% url gigbargain:gigbargain-detail gigbargain.uuid %}">{{ gigbargain.venue.name|capfirst }}, {{ gigbargain.date }} ({% blocktrans with gigbargain.date|timeuntil as time_until %}in {{ time_until }}{% endblocktrans %})</a></li>
		{% empty %}
		{% trans "You don't have any gig bargain in progress." %}
	      {% endfor %}
	    </ul>
	  </div>

	  <div class="more">
	    &rarr; <a href="{% url gigbargain:gigbargain-band-dashboard band.slug %}">{% trans "Gig Bargains Dashboard" %}</a>
	  </div>

	  <div class="clear"></div>

	</div>
      </div>
    </div>
    -->


    <!--
    <div id="agenda" class="grid_8 alpha omega">
      <div class="sectionbox">

	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/calendar_ico.png' %}" alt="calendar"/>
	  <h2>{% trans "Agenda" %} (WIP)</h2>
	  <a href="{% url event:gig-new band.slug %}" class="minibutton" title="New Gig"><span><span class="icon"></span>{% trans "Add Gig" %}</span></a><br>
	</div>

	<div class="separator"></div>

	<div class="content">
	  
	  <div id="calendar">
	    {{ monthly_calendar.toHTML|safe }}
	  </div>

	  <div class="clear"></div>
	  
	  <div class="more">
	    &rarr; <a href="{% url event:band-calendar band.slug %}">{% trans "Calendar" %}</a>
	  </div>
	</div>
      </div>
    </div>
    -->
  </div>

  <div class="grid_5 omega">
    <!-- <a href="{% url band:edit band.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>{% trans "Edit Band Infos" %}</span></a> -->

    <div id="search">
      <h3>{% trans "Search for Venues" %}</h3>
      <div class="search-content">
	<img src="{% staticfile '/images/band/search.png' %}" width="100px"/>
	Recherchez des <strong>bars-concerts</strong> où jouer en quelques clics et envoyez leur votre <strong>Presskit</strong> !
	<span class="go">
	  <a href="{% url band:edit band.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span>{% trans "Search for Venues" %}</span></a>
	</span>
      </div>
    </div>

    <div id="recent-visitors">
      <h3>{% trans "Recent visitors" %}</h3>
      <ul>
	{% for visit in latest_visits %}
	  <li>
	    <a class="tip" title="{{ visit.visitor.name }}" href="{% url presskit:presskit-detail visit.visitor.slug %}"><img src="{{ visit.visitor.avatar_url }}" width="30px" height="30px" alt="{{ visit.visitor.name }}"/></a>
	  </li>
	{% empty %}
	<li>{% blocktrans %}You'll see here <strong>Bands</strong> and <strong>Venues</strong> that have visited your profile.{% endblocktrans %}</li>
	{% endfor %}
      </ul>
    </div>


    <!--
    <div id="upcoming_events" class="grid_4 alpha omega">
      <h3>{% trans "Upcoming events" %}</h3>
      {% with future_events|slice:":2" as upcoming_events %}

	{% if not upcoming_events %}
	  {% trans "You don't have any upcoming event." %} 
	  <a href="{% url venue:search %}">{% trans "Start booking a venue now !" %}</a>
	{% else %}
	  <ul>
	    {% for event in future_events|slice:":2" %}
	      <li>
		<a href="{{ event.get_absolute_url }}">{{ event|capfirst }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	{% endif %}
      {% endwith %}
    </div>
    -->

    <!--
    <div id="suggestions">
      <h3>{% trans "Suggestions" %} (<acronym title="{% trans "Work in progress, don't expect it to work :)" %}">WIP</acronym>)</h3> 
      {% blocktrans %}You have to gig more before we can suggest you :{% endblocktrans %}
      <ul>
	<li>{% trans "<strong>Bands</strong> that are like you, in your area or not, with whom you can plan gigs ;" %}</li>
	<li>{% trans "<strong>Venues</strong> that are used to receive bands like you, where you can play with a good public." %}</li>
    </div>
    -->

    <div id="bandmembers" class="grid_5 alpha omega">
      <h3>{% trans "Members" %} ({{ band.band_members.count }})</h3>
      <a href="{% url band:membership-manage band.slug %}" class="minibutton" title="Manage members"><span><span class="icon"></span>{% trans "Manage" %}</span></a>

      <ul>
	{% for member in band.band_members.all %}
	<li>
	  {% avatar member.user 48 %}
	  <a href="{{ member.user.get_profile.get_absolute_url }}">{{ member.user.get_full_name|default:member.user.username }}</a> ({{ member.user.username }})
	  <span class="bandmember_role" title="{{ member.roles.all|join:', ' }}">{{ member.roles.all|join:', '|truncatewords:3 }}</span>
	</li>
	{% endfor %}
      </ul>
    </div>

    <div id="ads">
      <h3>{% trans "Advertising" %}</h3>

      <ul>
	<li>
	  <h4><a href="#">Vendeur de chiottes</a></h4>
	  <div class="ads-content">
	    <span class="url">www.supashitters.co.uk</span>
	    Nos nouvelles chiottes, trop bien, sans odeurs et avec chasse d'eau dernier cri !
	    Fuckin' awesome, n'hésitez plus.
	  </div>
	</li>
	<li><h4><a href="#">Avaleur de sabres</a></h4>
	<div class="ads-content">
	  <span class="url">www.knifesuckers.org</span>
	  Cette fois, avec les pieds ! Awesome, n'hésitez plus non plus.
	</div>
	</li>
      </ul>

    </div>

  </div>
</div>

{% endblock %}
