{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% block band_javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.slugify.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_name").slugify("#id_slug");
  });
</script>

{% endblock %}

<h3>Register a new band</h3>

<form action="new" method="POST">
  {{ form.errors }}
  <p>{{ form.name.label_tag }}: {{ form.name }}</p>
  <p>Your homepage: <b>http://{{ request.get_host }}/bands/{{ form.slug }}</b></p>
  <input type="submit" value="{% trans "Submit" %}" />
</form>

{% endblock %}
