{% extends "base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.slugify.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_name").slugify("#id_slug");
  });
</script>

{% endblock %}


{% block content %}

<div id="text">
  <div class="alpha grid_16 omega">
    <h1>{% trans "Register Your Band" %}</h1>
  </div>
  
  <div class="alpha grid_10">
    <h2>{% trans "Your Band" %}</h2>
    <form method="POST" class="uniForm">{% csrf_token %}
    {{ form|as_uni_form }}


    <h2>{% trans "You, in this band" %}</h2>
    {{ member_form|as_uni_form }}
    

    <input type="submit" value="{% trans "Submit" %}" />

    </form>
  </div>
</div>

{% endblock %}
