{% extends "bands/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load wysiwyg %}
{% load django_static %}
{% load tagging_tags %}


{% block title %}
  {{ band.name }} &raquo; {% trans "Edit" %}
{% endblock %}

{% block band_section %}
  {% trans "Update" %}
{% endblock %}

{% block css %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" src="/css/ckeditor/sample.css" />

  <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.autocomplete.tagit.css" media="screen, projection" />
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript" src="{% staticfile '/js/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/ckeditor/config.js' %}"></script>
  <script type="text/javascript" src="{% staticfile '/js/ckeditor/adapters/jquery.js' %}"></script>
  
  <script type="text/javascript">
    $(document).ready(function() {
//	$('#id_biography').ckeditor();
//	$('#id_technical_sheet').ckeditor();
    });
  </script>

  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.js" %}"></script>
  <script type="text/javascript" src="{% staticfile "/js/jquery/jquery.tag-it.iecompat.js" %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
	$("#id_genres").remove();
	$("#div_id_genres").append("<ul id='genres_tags'></ul>");
	var tags = $("#genres_tags").tagit({
	    itemName: 'genres',
	    //availableTags: ["c++", "java"],
	    //afterTagAdded: function(tag) { search_venues(); },
	    //afterTagRemoved: function(tag) { search_venues(); }
	});

	// restore tags in get
        {% tags_for_object band as band_tags %}
      	{% for tag in band_tags %}
          $.fn.tagit.create_tag("{{ tag }}");
        {% endfor %}
    });
  </script>



{% endblock %}


{% block band_content %}

<div class="grid_10">
  <form action="" method="POST" class="uniForm">
    {{ form|as_uni_form }}
    <input type="submit" value="{% trans "Update" %}" class="awesome medium orange" />
  </form>
</div>

{% endblock %}
