{% extends "bands/base.html" %}

{% load i18n %}

{% block band_content %}

<div class="alpha omega grid_14">

  <div class="alpha grid_10">

    <div class="grid_10 alpha omega">
      ( <a href="{% url band:edit band.slug %}">edit</a> )
      
      {% if not band.owned %}
      <p>
	<a href="{% url band:own band.slug%}">This is my band !</a>
      </p>
      {% else %}
      This band is owned.
      {% endif %}
    </div>


    <div class="grid_10 alpha omega">
      <div class="ui-corner-all greybox">
	<h4>Gig Bargains</h4>
	<h5>New</h5>
	<ul>
	  {% for gigbargain in band.gigbargains.new_gigbargains|slice:":2" %}
	  <li><a href="{% url gigbargain:gigbargain-detail gigbargain.pk %}">{{ gigbargain }}</a></li>
	  {% endfor %}
	</ul>
	
	<h5>In progress</h5>
	<ul>
	  {% for gigbargain in band.gigbargains.inprogress_gigbargains|slice:":2" %}
	  <li><a href="{% url gigbargain:gigbargain-detail gigbargain.pk %}">{{ gigbargain }}</a></li>
	  {% endfor %}
	</ul>
	
	<p>
	  <a href="{% url gigbargain:gigbargain-new-from-band band.slug %}" class="button-tip minibutton btn-download" title="New Gig Bargain"><span><span class="icon"></span>New Gig bargain</span></a>
	</p>
      </div>
    </div>


    <div class="grid_10 alpha omega">
      <div class="ui-corner-all greybox">
	<h4>Calendar</h4>
	<a href="{% url event:band-calendar band.slug %}">View calendar</a>

	{% include 'event/abstract_timeline.html' %}
	  <a href="{% url event:gig-new band.slug %}" class="minibutton" title="New Gig"><span><span class="icon"></span>Add gig</span></a><br>
	<div class="clear"></div>
      </div>
    </div>

  </div>

  <div class="grid_4 omega">
    <div class="grid_4 alpha omega">
      <h5>Upcoming events</h5>
      <ul>
	{% for event in future_events|slice:":2" %}
	<li>
	  <a href="{{ event.get_absolute_url }}">{{ event|capfirst }}</a>
	</li>
	{% endfor %}
      </ul>
    </div>

    <div class="grid_4 alpha omega">
      <h5>Members</h5>
      <ul>
	{% for member in band.band_members.all %}
	<li><img src="{{ member.user.get_profile.avatar.small_avatar_image.url }}"><a href="{{ member.user.get_absolute_url }}">{{ member.user.get_full_name|default:member.user.username }}</a> 
	  as {{ member.roles.all|join:', ' }}</li>
	{% endfor %}
	
	  <a href="{% url band:membership-manage band.slug %}" class="minibutton" title="Manage members"><span><span class="icon"></span>Manage members</span></a>
      </ul>
    </div>

    <div class="grid_4 alpha omega">
      <h5>Publicité</h5>

      <img src="{{ MEDIA_URL }}/images/GuitarXpertsSKY.gif">
    </div>
  </div>
</div>

{% endblock %}
