{% extends "bands/base.html" %}

{% load i18n %}
{% load django_static %}

{% block title %}
  {{ band.name }} - Dashboard
{% endblock %}

{% block band_content %}

<div class="grid_15 alpha omega">

  <div class="grid_11 alpha">

    <div class="grid_11 alpha omega">
      <a href="{% url band:edit band.slug %}" class="button-tip minibutton btn-edit" title="Edit"><span><span class="icon"></span>Edit the whole band</span></a>

    </div>
    
    {% if today_events %}
    <div class="grid_11 alpha omega">
      <div id="today">
	<h3>Today's</h3> 
	<ul>
	  {% for event in today_events %}
	    <li>&rarr; <a href="{{ event.get_absolute_url }}">{{ event.title|capfirst }}</a> (<strong>{{ event.start_time }}</strong>-{{ event.end_time }}) at <a href="{{ event.venue.get_absolute_url }}">{{ event.venue.name|capfirst }}</a></li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    {% endif %}

    <div id="gigbargains" class="grid_11 alpha omega">
      <div class="sectionbox">
	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/negociation_ico.png' %}" alt="bargains"/>
	  <h2>Gig Bargains</h2>
	  <a href="{% url gigbargain:gigbargain-new-from-band band.slug %}" class="button-tip minibutton btn-download" title="New Gig Bargain"><span><span class="icon"></span>New Gig bargain</span></a>
	</div>
	<div class="separator"></div>
	<div class="content">

	  <h3>New</h3>
	  <ul>
	    {% for gigbargain in band.gigbargains.new_gigbargains|slice:":2" %}
	      <li><a href="{% url gigbargain:gigbargain-detail gigbargain.uuid %}">{{ gigbargain.venue.name|capfirst }}, {{ gigbargain.date }} (in {{ gigbargain.date|timeuntil }})</a></li>
	    {% endfor %}
	  </ul>
	  
	  <h3>In progress</h3>
	  <ul>
	    {% for gigbargain in band.gigbargains.inprogress_gigbargains|slice:":2" %}
	      <li><a href="{% url gigbargain:gigbargain-detail gigbargain.uuid %}">{{ gigbargain.venue.name|capfirst }}, {{ gigbargain.date }} (in {{ gigbargain.date|timeuntil }})</a></li>
	    {% endfor %}
	  </ul>
	  
	</div>
      </div>
    </div>


    <div class="grid_11 alpha omega">
      <div class="sectionbox">

	<div class="header">
	  <img src="{% staticfile '/images/gigbargain/calendar_ico.png' %}" alt="calendar"/>
	  <h2>Calendar</h2>
	  <a href="{% url event:gig-new band.slug %}" class="minibutton" title="New Gig"><span><span class="icon"></span>Add gig</span></a><br>
	</div>

	<div class="separator"></div>

	<div class="content">
	  {% include 'event/abstract_timeline.html' %}

	  <div class="clear"></div>

	  &rarr; <a href="{% url event:band-calendar band.slug %}">View calendar</a>
	</div>

      </div>
    </div>
  </div>

  <div class="grid_4 omega">
    <div id="upcoming_events" class="grid_4 alpha omega">
      <h3>Upcoming events</h3>
      {% with future_events|slice:":2" as upcoming_events %}

	{% if not upcoming_events %}
	  {% trans "You don't have any upcoming event." %} 
	  <a href="{% url gigbargain:gigbargain-new-from-band band.slug %}">{% trans "Start booking a venue now !" %}</a>
	{% else %}
	  <ul>
	    {% for event in future_events|slice:":2" %}
	      <li>
		<a href="{{ event.get_absolute_url }}">{{ event|capfirst }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	{% endif %}
      {% endwith %}
    </div>

    <div id="suggestions">
      <h3>Suggestions (<acronym title="Work in progress, don't expect it to work :)">WIP</acronym>)</h3>
      You have to gig more before we can suggest you :
      <ul>
	<li><strong>Bands</strong> that are like you, in your area or not, with whom you can plan gigs ;</li>
	<li><strong>Venues</strong> that are used to receive bands like you, where you can play with a good public.</li>
    </div>

    <div id="bandmembers" class="grid_4 alpha omega">
      <h3>Members ({{ band.band_members.count }})</h3>
      <a href="{% url band:membership-manage band.slug %}" class="minibutton" title="Manage members"><span><span class="icon"></span>Manage</span></a>

      <ul>
	{% staticfile '/images/account/no_avatar.png' as default_avatar %}
	{% for member in band.band_members.all %}
	<li>
	  <img src="{{ member.user.get_profile.avatar.small_avatar_image.url|default:default_avatar }}" width="50px" height="50px" alt="{{ member.user.username }} avatar"/>
	  <a href="{{ member.user.get_profile.get_absolute_url }}">{{ member.user.get_full_name|default:member.user.username }}</a> ({{ member.user.username }})
	  <span class="bandmember_role" title="{{ member.roles.all|join:', ' }}">{{ member.roles.all|join:', '|truncatewords:3 }}</span>
	</li>
	{% endfor %}
      </ul>


    </div>

    <div class="grid_4 alpha omega">
      <h3>Publicité</h3>

      <img src="{{ MEDIA_URL }}/images/GuitarXpertsSKY.gif">
    </div>
  </div>
</div>

{% endblock %}
