{% extends "base.html" %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery/breadcrumbs/BreadCrumb.css"/>

{% block band_css %}
{% endblock %}

{% endblock %}

{% block javascript %}
{% block band_javascript %}
{% endblock %}

{% endblock %}

{% block content %}

<h1>Band &raquo; <a href="{{ band.get_absolute_url }}">{{ band.name }}</a></h1>
Genres &raquo; {{ band.genres }}

<div id="breadcrumbs"></div>

{% if band.website %}
( <a href="{% url band:minisite:detail band.website.id %}">Minisite</a> )
{% else %}
( this band has no minisite )
{% endif %}

<div id="tab-overview">
  {% block band_content %}
  {% endblock %}
</div>

</div>

{% endblock %}

