{% extends "base.html" %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery/breadcrumbs/BreadCrumb.css"/>

{% block band_css %}
{% endblock %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.jBreadCrumb.1.1.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
  $('#band_navtab').tabs();
  //$('#band_navtab ul li a').click(function (event, ui) {location.hash = $(this).data('load.tabs'); });

  $('#breadcrumbs').jBreadCrumb();
  });
</script>

{% block band_javascript %}
{% endblock %}

{% endblock %}

{% block content %}

<h1>Band &raquo; <a href="{{ band.get_absolute_url }}">{{ band.name }}</a></h1>
Genres &raquo; {{ band.genres }}

<div id="breadcrumbs"></div>

{% if band.website %}
( <a href="{% url band:minisite:detail band.website.id %}">Minisite</a> )
{% else %}
( this band has no minisite )
{% endif %}

<div id="tab-overview">
  {% block band_content %}
  {% endblock %}
</div>

</div>

{% endblock %}

