{% extends "base.html" %}

{% load django_static %}
{% load i18n %}

{% block css %}

  <link rel="stylesheet" type="text/css" href="/css/band_dashboard.css" media="screen, projection" />

{% endblock %}

{% block content %}

<div id="text">

<div class="grid_2 alpha">
  <div id="band_avatar">
    {% if not band.pictures.avatar %}
      <a href="{% url band:band-picture-new band.slug %}?is_avatar=1"><img src="{% staticfile '/images/band/no_picture.png' %}" alt="{% trans "no band avatar" %}" title="{% trans "Click here to upload an avatar" %}"/></a>
    {% else %}
      <img src="{{ band.pictures.avatar.avatar_image.url }}" alt="band avatar"/>
    {% endif %}
  </div>
</div>

<div class="grid_13 omega">
  <div>
    <h1><a href="{{ band.get_absolute_url }}">{{ band.name }}</a> &raquo; {% block band_section %}{% trans "Home" %}{% endblock %}</h1>
  </div>
  <div class="clear"></div>

  <div>
    <ul id="band_tabs">
      {% url band:dashboard band.slug as home_url %}
      {% url gigbargain:gigbargain-band-dashboard band.slug as gigbargain_url %}
      {% url event:band-calendar band.slug as calendar_url %}
      {% url presskit:mypresskit band.slug as presskit_url %}
      {% url band:membership-manage band.slug as members_url %}
      <li><a {% if request.path == home_url %}class="selected"{% endif %} href="{{ home_url }}">{% trans "Home" %}</a></li>
      {# <li><a {% if request.path == gigbargain_url %}class="selected"{% endif %} href="{{ gigbargain_url }}">{% trans "Gig Bargains" %}</a></li> #}
      {# <li><a {% if request.path == calendar_url %}class="selected"{% endif %} href="{{ calendar_url }}">{% trans "Calendar" %}</a></li> #}
      <li><a {% if request.path == presskit_url %}class="selected"{% endif %} href="{{ presskit_url }}">{% trans "PressKit" %}</a></li>
      <li><a {% if request.path == members_url %}class="selected"{% endif %} href="{{ members_url }}">{% trans "Members" %}</a></li>
    </ul>
  </div>
</div>

<div class="clear"></div>

<div id="band_text">

  {% block band_content %}    
{% endblock %}

</div>

</div>

{% endblock %}

